[2022-10-13 03:38] robinwpdeveloper commented on #117
[Note](https://docs.google.com/document/d/1rNmzSKyqsw67O4kSvERIYUMAWgXm6rlCjGKhiPHv4AY/edit?usp=sharing) in progress.

I have completed a draft and will update till Friday.
Please review my note.

After confirmation I will update the blog post.
Thanks :)

[2022-10-13 08:59] rmartinezduque commented on #109
Thank you for those suggestions, @abhansnuk. I will make a second revision to the document to incorporate feedback today. There are indeed a lot of things happening in WP! :D

Sure, maybe we can separate the WordPress Translation Day update since it's longer. Or group the Learn WordPress updates together. I will make a second revision to the document to incorporate feedback today.

it was out of t

[2022-10-13 09:11] varlese opened #129 "October 2022 Polyglots Newsletter - Marketing input"
Hi Marketing team! The next Polyglots monthly newsletter is coming up soon, and I'd like to request some Marketing feedback and review once the email and P2 drafts are ready. I'll add those here as soon as we have them.

Expected publish date is October 21, 2022.

[2022-10-13 19:40] rmartinezduque commented on #109
The [draft is reviewed](https://docs.google.com/document/d/1KSfOCDfjoY-_6VWv6xJL3XXYFHLrnA8EWsdxOaD52yA/edit#) and ready to be published tomorrow. Thank you all for your contributions and suggestions!

I'll share the link when the post is live.

[2022-10-14 08:39] nalininsbs commented on #117
@robinwpdeveloper thank you. Can you please change the access on the google document to edit. Alternatively and probably quicker for you, to copy it in to the blog site system as a draft and tell me when it is ready to review. I can review it there for you. We give people in other timezones until Friday to add any asynch updates. If you can check there is nothing new today this would be helpful to

[2022-10-14 08:43] nalininsbs commented on #116
Thank you @robinwpdeveloper . Yes this note was due to be published before the meeting on Wednesday. The notetaker has now sent a draft I understand, but it is not attached to this ticket. I will follow up. Robin, if extra help is needed, I will contact you. Thank you for offering.

[2022-10-14 09:29] nalininsbs commented on #116
Hello @Ad-Mk thank you for your draft notes. Some of the comments below cover materials covered in the APAC training session put on for new notetakers last week, which I think you did not get to.  I know a second session is being looked at for those contributors who have additional questions on the block editor, and you will be invited to that too. Thank you for your first go at the notes. Can you

[2022-10-14 10:43] santanainniss opened #130 "Call for Contribution: WP Briefing Halloween Episode Mad Lib"
Call for Contribution: Open Friday October 14- **Wednesday, October 19 11:59 PM UTC**

Halloween is October 31. It just so happens that the next episode of the WP Briefing falls on this day! To celebrate and have a little fun together as a community, we're cooking up a special episode!

We've crafted a spooky story and we want YOU to help us tell it using Mad Libs! [Mad Libs](https://en.wikipedia.

[2022-10-14 10:53] rmartinezduque opened #131 "The Month in WordPress: October 2022 Edition"
The estimated publication date for the October 2022 edition of The Month in WordPress is **November 10, 2022**.

### How can you help?

You can help by collecting any news or Make team updates that would be valuable and relevant to the post. Please **add them as a comment to this GitHub card with its relevant link and a brief description** by Wednesday, November 3, 2022, if possible. For example:

[2022-10-14 10:56] rmartinezduque commented on #109
The **Month in WordPress – September 2022 is now published**: https://wordpress.org/news/2022/10/the-month-in-wordpress-september-2022/. Thanks again to everyone who contributed to this edition. ❤️

If you'd like to contribute to the October edition of the Month in WordPress, feel free to express your interest and subscribe to this GitHub card: https://github.com/WordPress/Marketing-Team/issues/13

[2022-10-14 10:56] #109 closed

[2022-10-14 11:33] Ad-Mk commented on #116
Hi @nalininsbs. Apologies for the delay, I'll definitely keep up the next time on and deliver accordingly. I've made the changes, please go through the same.

[2022-10-14 14:06] varlese commented on #129
Here is the link to the email draft: https://docs.google.com/document/d/1twxJvfcMLlfK0UxthnGB4BJ1oah-lkUkk8qOrq-AUxc/edit?usp=sharing

And here is the link to the Make/Polyglots draft: https://docs.google.com/document/d/14_XOF1yuUi0w0CZK7-im6CIwaNeXY65o2_FeDKVN9rU/edit?usp=sharing

[2022-10-14 14:07] robinwpdeveloper commented on #117
Thanks @nalininsbs
I have given edit access to the [doc](https://docs.google.com/document/d/1rNmzSKyqsw67O4kSvERIYUMAWgXm6rlCjGKhiPHv4AY/edit?usp=sharing).
I will update the P2 post as well soon.

[2022-10-14 18:53] robinwpdeveloper commented on #117
Hi @nalininsbs @abhansnuk
[Here](https://make.wordpress.org/marketing/?p=10045) is the P2 Blog note.

Please review and let me know if any correction needed.

Note: I haven't added the previous meeting (Oct 5, 2022) link yet.

[2022-10-17 13:52] abhansnuk commented on #117
Could you also add the update from 4)a) and 4b) from the threads. If you can save it back as draft after that, that would be great.

The link for the notes from the previous week will need to be added once finalised. @nalininsbs can you please add this once the 5th is published. Thanks.

[2022-10-17 15:33] thetinyl commented on #128
Shared the [drafted questionnaire](https://forms.gle/BbmW8wkbKyCXF4bY6) with the core-themes-projects channel in Slack. Hoping to start circulating it to style authors this week.

[2022-10-17 16:29] robinwpdeveloper commented on #117
Few notes and changes:
- Followed this [template](https://make.wordpress.org/marketing/handbook/getting-involved/creating-meeting-notes/).

- Link need to update for the previous meeting.

- Updated 4a
    **Old text**: Facebook is having some issues with their stats this week, so tune in next week for an update on social performance.
    **New text**: Weekly stats can be found in this [thread](ht

[2022-10-17 22:06] murillol commented on #114
Agree with everything @sereedmedia said!

[2022-10-17 23:19] #105 closed

[2022-10-18 07:06] nalininsbs commented on #119
@thetinyl I had written a note yesterday on another card to explore doing a focus walkthrough on a task with collaboration as the first part of the meeting this week and next week. Your previous card on 6.1 came to mind. So it was very nice to wake up to read your message above. Thank you.

If we devoted at least the first 30 minutes of tomorrow's meeting to a live walkthrough of the task, what ki

[2022-10-18 07:10] nalininsbs commented on #116
We are all always learning new things together @Ad-Mk . Were you able to update the Slack thread links to the individual threads please Adeeb? I have tried one or two and they are going to the channel. Thank you.

[2022-10-18 07:14] nalininsbs commented on #117
Thank you @robinwpdeveloper . If the previous week's notes can be completed and published in the next few hours, then we will publish that first. The link then can be added to the notes from the 12th. Thank you for updating the post.

[2022-10-18 07:15] nalininsbs commented on #90
@eidolonnight could you copy the update you shared on the outcome to this card please? It will be a good reference for next year and for others wanting to attend or help with similar events. Thank you.

[2022-10-18 07:29] Ad-Mk commented on #116
Hi, @nalininsbs. I made the changes right after your previous comment. Please check the thread and the draft.

[2022-10-18 11:35] chaion07 commented on #109
Thanks @rmartinezduque for everything you do towards the WordPress Community

[2022-10-18 18:57] thetinyl commented on #119
Thanks @nalininsbs! A walkthrough sounds like an interesting idea. Would it be helpful to do it as part of the open floor instead of the first part of the meeting? Just being mindful of folks who are joining live, but might be time crunched.

You've also made me think about some additional contextual info that I should add to the TT3 task card (like the project threads on the Design blog).

[2022-10-18 22:39] abhansnuk commented on #116
Hi @Ad-Mk, could you please check the following slack thread links used. They are not working for me.
- 2) Link to the social question: this goes to an earlier meeting when I click on it.
- UPDATE: I have updated the other one now, but can you please look at the link above please and update it if needed.

4)a) needs the stats update from the thread, and Brett's Slack ID needs changing to the WP.or

[2022-10-18 22:55] #127 closed

[2022-10-18 23:05] murillol commented on #119
Script: https://docs.google.com/document/d/1q_osq-1BQaHs2tn281NS1BwRa6fJ0Wr1D7EP5XlXw1w/edit?usp=sharing

[2022-10-18 23:25] #101 closed

[2022-10-18 23:25] #118 closed

[2022-10-18 23:25] #126 closed

[2022-10-18 23:26] #99 closed

[2022-10-19 08:19] rmartinezduque commented on #131
Hi! In order to facilitate the content curation for the Month in WordPress, I'd welcome help in collecting some updates that may be relevant to be featured in the next edition

- Announcements or significant news from Make WP teams
- Major updates or news from flagship WordCamps (WordCamp US, WordCamp Asia, and WordCamp Europe)
- Testing/feedback calls that may be relevant to be featured in the ne

[2022-10-19 08:21] nalininsbs commented on #38
If you are a contributor who raised interest in standing for 2023, you can add your interest on this card.

[2022-10-19 08:38] rmartinezduque commented on #131
⬇️ _**Edit this GitHub comment to add new links to the list. Don't forget to include your WordPress ID/username next to the update so that we can credit all contributions**_. See the examples below. Please don't include meeting notes, agendas, chat summaries or recaps, etc. ⬇️

### Community announcements and newsletters
- October 2022 Meetup Organizer Newsletter:

### Polyglots announcements and

[2022-10-19 09:01] nalininsbs commented on #38
Every person in the team, irrespective of what timezone or country they live or work in, can express an interest in standing for team rep in 2023.  Team rep nominations for 2023 can come from anyone in the team, a contributor should not feel they have to stand because they are nominated. Their listing on a shared list to be checked with them before publishing. Some contributors indicated that they

[2022-10-19 09:07] rmartinezduque commented on #119
Hello! I'd like to try a new format to help collect some updates and links for the Month in WordPress posts. I shared more instructions on the GitHub card: https://github.com/WordPress/Marketing-Team/issues/131#issuecomment-1283615009. Hoping this can be added to the agenda for this week too. Thanks!

[2022-10-19 11:59] abhansnuk commented on #129
Hi @varlese I have added some comments and suggestions. Some exciting tools coming up, they sound great.

[2022-10-19 12:04] nalininsbs commented on #114
Added for highlighting at 19 October 2022 meeting

[2022-10-19 12:04] nalininsbs opened #132 "People of WordPress - October 2022"
(moving across card from old repo as name reconfirmed)

[2022-10-19 12:08] nalininsbs commented on #132
@meherbala is leading on this and in communication with the person being featured. Thank you for also picking up some of the drafting and research on this Meher.

A discussion on links to WP Accessibility Day and cross links to WordPress.tv accessibility videos has started.

[2022-10-19 12:09] nalininsbs commented on #79
@rmartinezduque is this a card which could be worked on during next week's meeting on 26 October 2022? Will you be there live? Thank you

[2022-10-19 12:10] nalininsbs commented on #87
@eidolonnight is there an update on this issue please or do you have a preferred date when we could come back to it? Thank you.

[2022-10-19 12:15] nalininsbs commented on #128
This is on today's agenda under the releases update section.
Is there a last day for contributions @thetinyl ? Thank you for raising.

[2022-10-19 12:21] nalininsbs commented on #104
This has been in the P2 from end of September awaiting one check. Once resolved, the post should be rechecked with links and photos checked before publication. Message also with Chloe on a particular question.

[2022-10-19 12:24] nalininsbs commented on #88
@murillol is this all complete to close card? Thank you.

[2022-10-19 12:24] #97 closed

[2022-10-19 12:26] Ad-Mk commented on #116
Hi,
I've done the changes mentioned above. Do check!

[2022-10-19 12:30] nalininsbs commented on #120
@vimes1984 has confirmed he will draft the notes for this week.

[2022-10-19 12:36] nalininsbs commented on #103
Checking if these points have been captured in the handbook  in some way. Taken from reviews on other weekly notes cards.

- check links including those going to Slack in preview once the draft is completed in the blog site

- if someone is copying an update for someone who can not attend live, include the ID of the person who has worked on / submitted the update

- for GitHub references, check H

[2022-10-19 12:38] rmartinezduque commented on #79
Hi @nalininsbs, what do you mean by working on the card? I'll be participating synchronously in next week's meeting, yes.

[2022-10-19 12:44] abhansnuk commented on #103
Can I add these from helping new contributors get started with notes too:
- the reference to notetaker and link to notes should be for the previous week's notes. Eg [the Marketing Team meeting notes, September 28, 2022](https://make.wordpress.org/marketing/2022/10/04/notes-wordpress-global-marketing-team-meeting-september-28-2022/). The notes review bullet point should also refer to the previous w

[2022-10-19 12:49] abhansnuk commented on #132
Meher has confirmed and is liaising with Raghavendra Satish Peri, who is to be featured in this edition.

[2022-10-19 13:07] abhansnuk opened #133 "People of WordPress - Maedah B"
Moving across from old board https://github.com/wpmarketingteam/Marcomms-Series/issues/7

[2022-10-19 13:09] abhansnuk commented on #133
Group message sent to Maedah, listed in planner to check on update. Draft has some fact checks and recent updates to complete. Ali and Larissa to be added to this as assignee. Mary highlighted queries in the draft.

[2022-10-19 13:13] abhansnuk commented on #133
January was confirmed as Hauwa, if December is a month to skip as New Year's Eve. If not, then Hauwa for Dec edition.

[2022-10-19 13:21] eidolonnight commented on #38
I've copied the sheet for 2022 into a new 2023 sheet: https://docs.google.com/spreadsheets/d/1_LilfZk9wifOmYquR9JTgOARCFFh2HJS9zY4qPrkA58/edit#gid=2085252805

I've also added a column for pledge status. We discussed last year the benefit of having a mix of self-sponsored and sponsored contributors acting as team reps, and I think that has served us well several times in 2022.

I also wanted to sha

[2022-10-19 13:31] murillol commented on #133
Do we have an email address for Maedah (just in case)? I haven't seen her online in a really really long time and suspect she might see the message when it's too late @abhansnuk

[2022-10-19 13:34] murillol commented on #88
I don't think so @nalininsbs! Could you please cinfirm @dugyen? Thanks!

[2022-10-19 13:42] eidolonnight commented on #114
Sharing this cool content example from Squarespace: https://www.tiktok.com/t/ZTRuEUHda/

[2022-10-19 13:57] eidolonnight commented on #114
They have not! These are excellent questions and I'm curious what everyone thinks.

[2022-10-19 15:16] thetinyl commented on #128
Thanks for including this on the agenda @nalininsbs. And for asking about a timeline—I've updated the ticket to include some dates.

Since this could be great content to have ongoing after the release, the dates above are flexible. If folks want to continue to share ideas after the November 1 release, they absolutely can.

[2022-10-19 15:25] jpantani commented on #108
@eidolonnight @abhansnuk While I don't think I'll be able to attend in person, I do anticipate being able to help on Slack given that a 9am start in Bangkok is only 7 pm in California, and 11 pm in New York.

[2022-10-19 15:33] jpantani commented on #23
I can facilitate the November 17th coffee break and intend to use this Google Meet Link

[2022-10-19 15:33] jpantani commented on #23
I can facilitate the November 17th coffee break and intend to use this Google Meet Link:
Coffee break placeholder
Thursday, November 17 · 1:30 – 2:15pm
Google Meet joining info
Video call link: https://meet.google.com/ipi-zyac-fpx
Or dial: ‪(CA) +1 437-781-4585‬ PIN: ‪812 307 896 0344‬#
More phone numbers: https://tel.meet/ipi-zyac-fpx?pin=8123078960344

[2022-10-19 15:38] dugyen commented on #108
@dugyen from WordCamp Asia 2023 Contributor Day Team.
@abhansnuk  could you please let me know, among you all who will be attending WordCamp Asia 2023 to lead our Marketing Table?

[2022-10-19 17:52] sereedmedia commented on #128
How about a Twitter Space talking to the folks who worked on Twenty Twenty-Three? WordPress loves the Twitter Space. Also, I'm sure a few folks on the Twenty Twenty-Three team would be happy to make a little video talking about their favorite part or what they worked on, and that could be edited into a Reel/TikTok. Promoting the community and contributors at the same time as promoting the new them

[2022-10-19 18:26] sereedmedia commented on #114
I think that getting the website owner's view is definitely a good perspective. Highlighting people doing neat things with WordPress sites is cool too.

I do think, however, that Squarespace's target audience is much clearer. Their goal is to sell Squarespace accounts. The goal for WordPress.org is much less singular, because there is really nothing to "sell" other than the brand itself.

That's w

[2022-10-19 18:52] sereedmedia commented on #87
In my experience, "community" does not at all imply plugins or themes, that is usually covered by the term "WordPress ecosystem". But if it's too controversial to say community, then I like the line that @murillol referenced above:

However, I think that extenders are users, and technically, so are developers. "End-users" are the actual "users" we are differentiating between here. I don't think ex

[2022-10-19 19:11] murillol commented on #87
Agree..

I like this one too!

[2022-10-19 22:55] nalininsbs commented on #131
@abhansnuk dictation is not working with the edit. Thank you for the help to test. Can you try and create an image if you can.

[2022-10-20 07:23] rmartinezduque commented on #131
@nalininsbs @abhansnuk, thanks for bringing this out. I have taken the following screenshot that shows where to edit the comment:

![screenshot](https://user-images.githubusercontent.com/20700757/196881187-2ece784d-99f6-45f6-be85-a436fa3e42f1.png)

Please also find below more instructions:

- In the upper-right corner of the comment, click the three-dot menu icon, then click `Edit`.
- Add the cont

[2022-10-20 12:01] abhansnuk commented on #131
Thanks @rmartinezduque. The difficulty was editing with dictation tools and then saving the change.

In general terms without accessibility tools, I think there might be a danger of other content being deleted accidentally. We might be able to use one of the newer GitHub beta tools instead of Google doc that @vimes1984 and I had been trying. I will try a test and see if that could help in the futu

[2022-10-20 12:22] santanainniss commented on #130
Thank you to everyone that responded to the Mad Libs survey! This will be such a fun episode, made better by your contribution. This issue is now closed!

[2022-10-20 12:22] #130 closed

[2022-10-21 09:41] meherbala commented on #133
FYI For Nov and Dec editions, I will be able to only help with the images.

[2022-10-21 09:44] meherbala commented on #132
Yes I am working with Raghavendra and will send an update soon.

[2022-10-21 09:56] varlese commented on #129
[The October newsletter is now published.](https://make.wordpress.org/polyglots/2022/10/21/polyglots-monthly-newsletter-october-2022/) Thank you for your help!

[2022-10-21 09:56] #129 closed

[2022-10-25 05:00] kawserz commented on #119
Here is the draft note for the **[[2022/10/19 Global Marketing Team meeting]](https://docs.google.com/document/d/1mIq77cw8v_1oXDzQjJB1jyw_o_3pJ5Cv-AS4kc0FUWA/edit?usp=sharing)**. Please review this. Once it's reviewed I can bring it to the blog site.

[2022-10-25 10:22] slspeller commented on #125
Correct 👍🏾

[2022-10-25 15:47] nalininsbs commented on #119
@kawserz hello. Thank you for this message. Can you please put this into the post draft created for you on the blog site. For items like the statistics, please also include the information. Can you add to this card when it is in the blog site as a draft. I can look at it there. Thank you. @robin volunteered to help you with the website system too.

[2022-10-25 15:48] nalininsbs commented on #120
I will continue to assist in meeting preparation. Larissa and Nicholas will be doing the meeting live this week as it is the Indian new year.

[2022-10-25 15:51] nalininsbs commented on #120
Update with the link to this card added to the diary dates. @eidolonnight can you add the next coffee break date to the diary dates please. Thank you.

[2022-10-25 16:25] nalininsbs commented on #120
[Draft [](agenda](https://make.wordpress.org/marketing/?p=10154&preview=1&_ppp=3f19861240)) is in the website. Link to last week's notes and release candidate from today to add.

[2022-10-25 16:40] nalininsbs commented on #120
Note in Marketing channel with link to draft agenda and awareness that people may be away with major festivals, school holidays, and so on for the next two weeks. https://wordpress.slack.com/archives/C0GKJ7TFA/p1666715592785439

[2022-10-25 17:43] kawserz commented on #119
Hi, @nalininsbs. Thanks for your response. The meeting note is now on the blog site. Here are the **[editing link](https://make.wordpress.org/marketing/wp-admin/post.php?post=10075&action=edit)** and **[preview link](https://make.wordpress.org/marketing/?p=10075&preview=true)**. you can check it out. Please, let me know if you have any feedbak.

[2022-10-26 02:15] murillol commented on #122
Note-taker: @robinwpdeveloper

[2022-10-26 03:00] murillol commented on #120
Script: https://docs.google.com/document/d/1ZpNESMBTgozPGrzAhen5jt5MuDKcyu0C7ww-2alurPc/edit?usp=sharing

[2022-10-26 05:01] robinwpdeveloper commented on #122
Thanks @murillol .
I will take notes for this meeting (2022/11/09)

[2022-10-26 13:13] eidolonnight commented on #114
I'm not a tiktok expert, but it seems to me that there isn't a huge developer audience there, at least that I've found. The developers that are present seem to focus on "day in the life" and that kind of content. I assume this is due, at least in part, to the nature of the medium. Has this been everyone's experience or am I just following too many ducks and raccoons? 😄

https://www.tiktok.com/t/ZT

[2022-10-26 14:32] nalininsbs commented on #120
I have updated the script. Thank you Larissa. I have added the social question.

[2022-10-26 14:54] nalininsbs commented on #119
Thank you @kawserz . Would you like to volunteer again for the first meeting in December?

Thanks to @eidolonnight for updating some of the notes too.

I have changed the identities to WordPress ones within the system so that they send a notification, updated excerpt. For WordPress.org IDs, use @ followed by the WordPress identity. This does not need a link to the profile added.

The publish date

[2022-10-26 15:00] nalininsbs opened #134 "WordCamp Italia - Contributor Day, November 11, 2022"
https://italia.wordcamp.org/2022/schedule/

[2022-10-26 15:39] nalininsbs commented on #132
Meher has the updated from Raghavendra, and will be sharing queries at a collaboration session after dev chat today. Thank you Meher for all your work on this and stepping in to cover other aspects too.

[2022-10-26 16:16] nalininsbs commented on #133
Depending on whether we hear back on September's, we will be able to use this later in the year. Thank you for trying to contact Maedah.

[2022-10-26 17:22] nalininsbs commented on #134
The contributor day will be on November 11, 2022. If you will be attending and could potentially help with a marketing table, please add your name, WordPress and Slack ID to this card. Thank you.

[2022-10-26 17:48] sereedmedia commented on #93
What is the current status on this project/ticket? I am very interested in the development of the mobile app from a WordPress tool perspective, and I think the promotion of it, and hopefully getting user and community feedback about it, is super crucial!

[2022-10-26 17:50] sereedmedia commented on #87
What is the timeline for this discussion and eventual adoption?

[2022-10-26 17:51] sereedmedia commented on #52
this is still in the In Progress column on the main screen. Can someone update?

[2022-10-26 18:38] kawserz commented on #119
Thank you so much for your help @nalininsbs and @eidolonnight. Count me in for December note-taking. I know a few others who are also interested in voluntering.

[2022-10-26 21:57] abhansnuk commented on #52
This is for Team Reps @sereedmedia and from looking at the previous card, access to the Update channel was awaited. I have allocated it to the Team Reps label for now.

[2022-10-26 22:01] abhansnuk commented on #93
This is a discussion @sereedmedia started by @OlaIola. There is no timescale or task related to it as yet. You can add comments to the discussion on this discussion ticket. I am sure Olga would welcome your comments and interest too.

[2022-10-26 22:31] meherbala commented on #133
_For Nov my only request is to provide me the images at the earliest so I can process and upload them to P2 as from Nov end I will be on a break until Jan end._

[2022-10-27 00:05] meherbala commented on #132
As I have written in the Google document

----

**Update as of 27-10-2022:**

[Link to the Google document](https://docs.google.com/document/d/1fbriD6fnatXJp7oYDuJSQBboc4ArV8IPFyeooQU6kj0/edit?usp=sharing) for the POWP Oct month.

Moved the article to the editing phase with @Bringmannn, @abhansnuk, and Mary (for some reason I am unable to tag Mary).

@murillol please can you take a look at the sub

[2022-10-27 00:36] abhansnuk commented on #133
[Draft](https://docs.google.com/document/d/1ORut1J16WJyCqoO0_TyqIlS72XQxcY92ZlpmFYHz-HU/edit) as it stands at the moment (this is not complete).
To check with Alison if this include any follow up information received from Maedah, remaining queries.

[2022-10-27 00:48] meherbala commented on #133
@murillol according to her tweet account, it looks like she is attending the nextjs.org conference. So maybe she has not yet seen your message on LinkedIn.

Maybe contact her on Twitter.

[2022-10-27 01:11] abhansnuk commented on #133
Message sent to Maedah via her website contact form and sent a message via Twitter. Thanks Meher.

[2022-10-27 17:14] murillol commented on #133
Was able to get in touch with Maedah via email, she is open to answering fact-checking questions and providing more context where needed. Abha now has her email too and I've shared a document with some questions for Maedah to answer.

[2022-10-28 14:47] rmartinezduque commented on #80
**Update**:

I was able to recently collect some data about the World Photography Day challenge:

- The Photos team approved **100 submissions from 47 contributors**, of which 29 were first-timers.
- **25 countries** were represented in the photo contributions.

Thanks to all of you who participated and helped make this initiative possible. ❤️

In addition, I would like to try a new format (probab

[2022-10-28 16:03] meherbala commented on #132
Thanks, @murillol. I accepted all your suggestions.

[2022-10-28 16:07] meherbala commented on #132
**Update:**

Due to Raghavendra's health, he does not have many photos and he suggested I use the pictures from his Facebook account.

I have downloaded a few, resized them, and uploaded them to P2.

I am coordinating with Raghavendra on the few points mentioned by Abha and get it resolved by tomorrow.

Hoping by tomorrow the article will be on P2, ready to be published.

[2022-10-28 21:48] sereedmedia commented on #80
Following as I'd like to help with copy for prompts to encourage folks to add context. I think it makes for great social content, and great human content in the archive. Love it.

[2022-10-29 07:37] robinwpdeveloper commented on #23
`3 November 2022 - @robin and @eidolonnight`

I will be co hosting on November 3rd.
Please update my username to @robinwpdeveloper

[2022-10-31 05:56] mumtahinafaguni commented on #114
I’ve a few ideas. We can follow Unicef tiktok channel. Moreover, here are some more ideas:
sharing hacks: such as,

- How to change font color, add custom fonts, etc
- Showcase WordPress photos: create versatile reels using photos from WP photos
- Design hacks: promote patterns
- Encourage to capture moments in meetups, WordCamps, etc.
- We have sounds in Openverse. We can encourage to use those t

[2022-10-31 06:03] mumtahinafaguni commented on #108
Please count me in for the marketing table. Already I've purchased my WC Asia Ticket.

[2022-10-31 19:14] rmartinezduque opened #135 "WordPress Media Outreach"
To help support the marketing efforts of the major release, I'll be working with the [Marketing & Communications co-lead](https://make.wordpress.org/core/6-1/) (@jpantani) to send summarized information on WordPress 6.1, based on the community’s collaborative effort on the [About page](https://docs.google.com/document/d/1gnoOTQ8RuT_NTEgt3RtAc8KiwsAw73C4wEABNWuJADo/edit?usp=sharing) and the release

[2022-11-01 11:39] nalininsbs commented on #135
@rmartinezduque will you be able to share more on this at this week's Marketing meeting? Thank you

[2022-11-01 11:39] nalininsbs commented on #121
Possibly for the agenda - 6.1 media sharing https://github.com/WordPress/Marketing-Team/issues/135. Message sent to Reyes.

[2022-11-01 11:46] abhansnuk opened #136 "WordCamp Kolkata - Contributor Day, 17 Dec 2022"
Update following the marketing meeting on October 26, 2022:
Potential Marketing Team table will be available at this event.

Mumtahina Faguni: Kolkata WordCamp will be on 17 & 18 December 2022. & 17th Dec will be the contributor day. Though call contributor lead for contributor isn’t open yet, it will be asap.

rahuldsarker: Yes, we will have a contributors day. We will reach out for assistance ve

[2022-11-01 11:53] nalininsbs opened #137 "Discussion: Coffee break alternating in timezones"
The team has previously rotated coffee breaks and held short coffee chats after planning meetings in earlier timezones to try and include as many people as possible. These were not able to be sustained due to a shortage of volunteers to support the coffee breaks. It has also been difficult sometimes to get volunteers for the 18:30 UTC coffee break.

There is an idea to alternate the coffee breaks

[2022-11-01 11:58] abhansnuk opened #138 "Marketing Notes roster/ rota"
I am looking at using GitHub features for this rota. This is a temporary holding card requested by @nalininsbs , which will be converted to the GitHub beta feature later this week.

For now, forward planning rota in slack for greater visibility. This is shared in meeting notes and meetings themselves too. https://wordpress.slack.com/archives/C0GKJ7TFA/p1664956621412719

[2022-11-01 11:59] abhansnuk commented on #138
[October 5](https://github.com/WordPress/Marketing-Team/issues/116) -
[@Adeeb Malik](https://wordpress.slack.com/team/U02V93FUT6E)
 is confirmed for October 5 (offered online group session to get started)
[October 12](https://github.com/WordPress/Marketing-Team/issues/117) - Robin is already confirmed (offered online group session to get started)
October 19 -
[@Kawser](https://wordpress.slack.com/

[2022-11-01 12:08] nalininsbs commented on #120
I have added items from a couple of threads. There was a useful explanation on one of the social media campaigns. I am looking for this to add.

[2022-11-01 12:08] nalininsbs commented on #120
Thank you @vimes1984 . Is there a date in December you would be happy to do the notes for?

[2022-11-01 12:30] rmartinezduque commented on #135
Hi @nalininsbs, yes. My idea was to share this during tomorrow's meeting. Thanks!

[2022-11-01 12:33] rmartinezduque commented on #121
Confirming here that https://github.com/WordPress/Marketing-Team/issues/135 can be added to tomorrow's agenda. Thanks!

[2022-11-01 12:56] meherbala commented on #132
POWP Article has been published.

https://wordpress.org/news/2022/10/people-of-wordpress-raghavendra-satish-peri/

[2022-11-01 12:58] meherbala commented on #132
Thanks to @abhansnuk, and Surendra Thakor for the interviews and for writing this feature, and to Mary Baum, @Bringmannn, and @murillol for reviews.

[2022-11-01 16:50] thetinyl commented on #73
Long awaited update here:

I've been having some interesting conversations with some leadership folks and community members around how the WordPress voice is described (among other brand writing specifics). I started gathering all my notes together and was able to flesh out the current writing style guide (to be published in the handbook soon).

Some opportunities I'm hoping this expanded guide wi

[2022-11-01 17:50] sereedmedia commented on #73
Super exciting! When do you expect to publish the revision?

[2022-11-01 19:33] nalininsbs commented on #132
Props for this article: @meherbala , @abhansnuk , @sthakor, @Bringmannn , @murillol .

[2022-11-01 19:33] #132 closed

[2022-11-01 19:37] nalininsbs commented on #132
This will be reopened post release work in training for translation into Hindi.

[2022-11-01 21:10] abhansnuk commented on #133
Moving @nalininsbs comment from the old card to this:
[Google document](https://docs.google.com/document/d/1ORut1J16WJyCqoO0_TyqIlS72XQxcY92ZlpmFYHz-HU/edit?usp=sharing) - there are a number of queries that need to be checked with Maedah including items for updating. Last week, contact was remade with Maedah from messages. Date to be confirmed for a call to go through these.

This is scheduled for

[2022-11-01 22:34] murillol commented on #133
I shared [this document](https://docs.google.com/document/d/1Wq6EnpYPl-8gORnRYb8Jh7Z4VFRwHjBArTD1eVo6mpE/edit?usp=sharing) with questions for Maedah and asked her to have it done by end of next week, and also asked her to share photos.

[2022-11-02 00:28] thetinyl commented on #73
Sometime this week! 🎉

[2022-11-02 01:06] murillol commented on #98
@eidolonnight I think you missed Nalini's mention above!

[2022-11-02 01:10] murillol commented on #96
Survey is now closed!

[2022-11-02 01:10] #96 closed

[2022-11-02 01:20] murillol commented on #90
Are you referring to the updates shared in [these Slack messages](https://wordpress.slack.com/archives/C0GKJ7TFA/p1663773062742489)? I wasn't at this meeting and am not sure @nalininsbs

[2022-11-02 14:59] nalininsbs commented on #93
Highlighted this early stage discussion at the Marketing Team meeting, November 2, 2022.

[2022-11-02 15:26] nalininsbs commented on #128
Highlighted at the marketing team meeting on November 2, 2022

[2022-11-02 15:34] nalininsbs commented on #108
Highlighted this call at the meetings in October and November.

Please add to the card if you intend to be at the contributor day and involved in the marketing table.
The WordCamp Asia team will need some contributors from the team to assist with this in person, working alongside the remote support that is being planned. I will be joined by @jpantani , @abhansnuk , @meherbala and others who have a

[2022-11-02 15:36] nalininsbs commented on #108
Thank you to those who have added to the card saying they would like to participate at the marketing table at WordCamp Asia too. Please do continue to add to this card.

[2022-11-02 18:41] nalininsbs commented on #137
Highlighted card in the marketing team meeting on November 2, 2022, and idea proposed in previous meetings.

[2022-11-02 18:52] nalininsbs commented on #114
This card is regularly highlighted in Marketing Team meetings in September, October and November 2022, and referenced in notes to raise awareness. Please continue to add your thoughts to the card.

[2022-11-02 18:54] nalininsbs commented on #133
Thank you @murillol for copying all the questions from the documents into one document for Maedah. Do we have photographs, which are copyright free to use, from Maedah please?

[2022-11-02 18:56] nalininsbs commented on #108
@dugyen is there a date you need to know about who will be present from teams and what will be available for anyone wanting to join marketing at the event? Thank you

[2022-11-02 18:58] nalininsbs commented on #122
Creating a list of cards to include in for check-in:
- Five for the Future email templates https://github.com/WordPress/Marcomms-Rolling-tasks/issues/18

[2022-11-03 11:22] murillol commented on #133
I also had added some other questions that weren’t in the document - please
see if they’re ok! I asked Maedah for photos, she hasn’t sent any yet.

El El mié, 2 de nov. de 2022 a la(s) 13:55, Nalini ***@***.***>
escribió:

[2022-11-04 14:34] thetinyl commented on #73
In light of what I mentioned above:

The [style guide and brand book page](https://make.wordpress.org/marketing/handbook/resources/style-guide-and-brand-book/) has been updated!

With the [discussions around short form video](https://github.com/WordPress/Marketing-Team/issues/114) and expanding our need for content, the importance to have refreshed writing guidelines immediately available felt in

[2022-11-04 15:13] thetinyl commented on #128
Great ideas @sereedmedia! I'm vaguely aware of Twitter Spaces, but haven't been involved in hosting/creating one. Do you have any experience with them?

Here's a [spreadsheet with some the information gathered from the questionnaire](https://docs.google.com/spreadsheets/d/1SMr8BLEe7XBRYnEZdn-WWyZBTFrvxf6m6HV0Bw3YGRI/edit?usp=sharing) from which we can start putting together posts.

I think I'm goi

[2022-11-04 16:26] murillol commented on #73
Fantastic work @thetinyl ! Just tagging @nalininsbs and @abhansnuk especially for the _Inclusive_ section in Voice and the Accessibility and Inclusivity section, as they have a ton of knowledge and are always sharing guidelines and tips around this.

In the _Clear_ section in Voice, I have a thought but not sure if the right place to address it is the Handbook: sometimes abbreviations, acronyms an

[2022-11-04 19:35] thetinyl commented on #73
@murillol Thanks for pointing this out. I'm curious what others think, since I can definitely see it fitting into the handbook in the section you mentioned. It feels like a different kind of note, more around language use than cultural expression (thinking about the following section you mention). Is that what you're thinking as well?

[2022-11-04 21:00] sereedmedia commented on #114
I love the sharing hacks idea @mumtahinafaguni ! i think there is *so* much space for that! the Learn team would probably be eager to help with that as well! i think it's a great way to bring in new users.

i also love the sharing the Openverse content idea as well! there is so much "use this audio" posted, and that could be done very simply with a template. and that has the double win of promotin

[2022-11-04 21:03] sereedmedia commented on #135
I know at least one podcast you could hit up! 😄

Is there a doc for this? If we are making list with actual contacts, then we should not post them here.

However if it is WordPress media you want: https://wppodcasts.com/

WPPodcasts is basically a compilation of all of the WordPress-themed podcasts. It was created by [Topher](https://profiles.wordpress.org/topher1kenobe/) of Photos and Support Tea

[2022-11-05 06:18] robinwpdeveloper commented on #138
I am interested taking notes (1 or 2) on December as well.
If no one is interested then feel free to add me. :)

[2022-11-05 09:27] robinwpdeveloper commented on #121
Draft added in this [google doc](https://docs.google.com/document/d/1OB8yioXnKj9kh8yB4Fz-IU-6WUQ78S5tGCtMsIPOHfQ/edit?usp=sharing)

[2022-11-05 10:07] robinwpdeveloper commented on #121
[Note draft](https://make.wordpress.org/marketing/?p=10264&preview=true) added on P2 blog site.
@nalininsbs @abhansnuk please let me know if any correction is needed.

Thanks.

[2022-11-07 08:59] nalininsbs commented on #121
Hello @robinwpdeveloper and thank you.
- added past tense for a few items
- added Reyes' update from the thread
- there was no update on the release marketing itself, in case this is coming, added a note on this to go with your link to the thread
- added Lauren's update on the video from Slack
- removed the items which were to assist contributors joining during the live part of the session, eg con

[2022-11-07 09:13] nalininsbs commented on #38
Last week I contacted Chloe for timescale or link to any announcements and arrangements on 2023 team rep nominations. This is to link to the post for 2023 in marketing and to be able to follow across teams a same approach.

Josepha has commented that there will be a post shortly.

[2022-11-09 02:42] murillol commented on #73
yes that's what I was thinking @thetinyl !

[2022-11-09 02:44] murillol commented on #122
Script: https://docs.google.com/document/d/1jbZVcNs4Fkmy884kPtTfvw98D5SCvGZp8D8aq8W1eVA/edit#

[2022-11-09 02:48] murillol commented on #131
@rmartinezduque I know the deadline for this is today November 8, but can we allow people to send items in until tomorrow November 9 (and mention it in the meeting)? Thanks!

[2022-11-09 02:50] murillol commented on #133
I followed up with Maedah today about the photos and whether she can make the November 12th deadline.

[2022-11-09 06:59] rmartinezduque commented on #131
Yes, sure @murillol. Thanks for asking! I think until Friday (Nov 11) it's totally fine to send items or suggestions.

[2022-11-09 13:55] eidolonnight commented on #122
Agenda: https://make.wordpress.org/marketing/wp-admin/post.php?post=10298&action=edit

[2022-11-09 16:48] murillol opened #139 "Polyglots Outreach Effort and Posts"
@varlese [has shared that she will be starting a Polyglots outreach program](https://make.wordpress.org/polyglots/2022/11/08/starting-a-polyglots-outreach-effort/), which will include monthly posts with a call for volunteers to help reach out to a series of locale teams.

Monthly posts will also have opportunities to develop and share new resources that locale teams can use to build their translat

[2022-11-09 16:51] nalininsbs commented on #122
[Start](https://wordpress.slack.com/archives/C0GKJ7TFA/p1668006020076389) of the meeting on Slack

[2022-11-09 16:51] nalininsbs commented on #137
Highlighted at marketing team meeting on November 9, 2022

[2022-11-09 16:52] #30 closed

[2022-11-09 16:52] murillol commented on #50
Should we still keep this one open @nalininsbs ?

[2022-11-09 16:53] murillol commented on #28
Can we close this item @nalininsbs ?

[2022-11-09 16:55] murillol commented on #88
hi @dugyen  were you able to make the changes (switching the Slack IDs to wordpress.org IDs?)?

[2022-11-10 01:25] eidolonnight opened #140 "Amplification request form"
Thanks to the success of our social media efforts in 2022, one of the most requested tasks for Marketing has been “Can you amplify this?”

These requests typically fall under one of our active campaigns listed in [GitHub](https://github.com/WordPress/Marketing-Team/issues/7), and as part of our 2023 efforts, we’d like to streamline these requests by providing a [GitHub issue template](https://href

[2022-11-10 01:28] eidolonnight commented on #140
Initial form thoughts:

- Issue title: The primary title field for which we are able to recommend a predefined format. Something like “[AMPLIFY] Title” might be useful for readily identifying these issues for triage.
- Label: The template allows for automatically applying labels, so the creation of a new label may make sense.
- Link to share: This would be the URL, if applicable, that requesters w

[2022-11-10 11:11] varlese opened #141 "Polyglots November 2022 Newsletter - marketing input"
Here are the drafts for the Polyglots Monthly Newsletter: November 2022:
- [Make/Polyglots post](https://docs.google.com/document/d/1Wtwl0eLTyDieErZBmEQV2Bgibt8HFjOWYtDQqySGVL0/edit#)
- [Email version](https://docs.google.com/document/d/1Jy-mze97-ZmIU5z7Xh7wANLrWTPEyddKzry04USVP1c/edit#)

I'm hoping to publish on **November 22, 2022**. If the Marketing team can review and provide and feedback, tha

[2022-11-14 03:23] robinwpdeveloper commented on #122
Sorry for the delay.
Here is the [script](https://docs.google.com/document/d/17FpCqq89SBVOxSIisJlf-6bNTGwFnzKxKJDBThThJjA/edit?usp=sharing)

Work in progress.
Hopefully it will be ready for review within 24 hours.

[2022-11-14 07:01] Afrin29 commented on #114
I think if we just fix our target audience it will be a bit easier to create related content. Apart from this, here are some ideas I want to add. For example:

- We are doing weekly meetings & other stuff, so we can easily create one related event video each week and publish it so that the target audience can know how we are working and having fun.

- We can assign one by one who is most active to

[2022-11-14 07:07] Afrin29 commented on #108
You can include me in this marketing table contributor day. I will be present at WC Asia.

[2022-11-14 21:03] murillol commented on #133
Update: Maedah replied and said she would have some respones for us by 12 November (today).

[2022-11-14 21:10] murillol commented on #139
From Erica:

If the Marketing team has space to help spread the word, that would absolutely be welcome - for this post and/or for any of the upcoming monthly posts :pray:

I'm planning to include this in the November Polyglots newsletter, but if there are other places you can help with sharing, that would be excellent.

[2022-11-15 03:27] robinwpdeveloper commented on #122
Here is the P2 draft post [preview](https://make.wordpress.org/marketing/?p=10313).
@nalininsbs can you please review the note.

[2022-11-15 13:22] nalininsbs commented on #38
The [draft post](https://make.wordpress.org/marketing/?p=10316&preview=1&_ppp=83e9cd534f) is now on the Marketing blog, with a slightly updated timetable so we can have nominations and elections in 2022 itself. If useful,  the spreadsheet itself can be added on the blog after publication of the post to avoid it going out as an attachment in the RSS feed as it lists names.

Once the post is publish

[2022-11-15 15:45] nalininsbs commented on #122
Hello @robinwpdeveloper thank you for working on the draft. In the main, the significant updates from the threads need to be incorporated rather than listing the question from the meeting, eg checking the status. I have removed the bold from user names and updated formatting in a couple of locations. Back to you for the threads items. I have not checked the slack threads. Can you please check thes

[2022-11-15 15:48] nalininsbs commented on #121
Published: https://make.wordpress.org/marketing/2022/11/07/notes-global-marketing-team-meeting-november-2-2022/

[2022-11-15 15:49] nalininsbs commented on #121
Props list: @robinwpdeveloper , @abhansnuk , @nalininsbs , @rmartinezduque .

[2022-11-15 15:49] #121 closed

[2022-11-15 15:56] nalininsbs commented on #120
Published notes: https://make.wordpress.org/marketing/2022/11/01/notes-global-marketing-team-meeting-october-26-2022/

Props list: @vimes1984 , @murillol , @abhansnuk , @eidolonnight , @nalininsbs , @rmartinezduque .

[2022-11-15 15:56] #120 closed

[2022-11-15 15:58] nalininsbs commented on #119
@abhansnuk do you have time to help fix the heading hierarchy in this post and fix so it appears in the right order in the meeting-notes link?
https://make.wordpress.org/marketing/2022/10/11/notes-global-marketing-team-meeting-october-19-2022/

[2022-11-15 16:16] nalininsbs commented on #128
@thetinyl are you still wanting input for this? Or is there a finished item to link to it and close the task? Thank you.

[2022-11-15 16:19] nalininsbs commented on #139
@DanSoschin and @eidolonnight is there an input to any promotions you are planning on this which the team can contribute? Thank you.

[2022-11-15 16:21] murillol commented on #38
Thank you @nalininsbs! I think the post looks good, and that:

- we should allow people to leave nominations in the post comments or directly in the sheet.
- stating the min. weekly time commitment is good so people know what to expect can be helpful

[2022-11-15 16:22] nalininsbs commented on #134
No further information from WordCamp Italia. At November 2&9, 2022 card also highlighted. As this event has now taken place, I am closing the card for now.

[2022-11-15 16:22] #134 closed

[2022-11-15 16:23] nalininsbs commented on #135
@rmartinezduque do you still want input on this card? Is there a deadline for this? Thank you.

[2022-11-15 16:24] nalininsbs commented on #114
Highlighted at a number of team meetings in October and November 2022.

[2022-11-15 17:01] rmartinezduque commented on #135
Thanks for the suggestions, @sereedmedia!

I agree! There's no doc yet, and I'm wondering how we can build this without disclosing contact details publicly. 🤔 Perhaps one option is to simply share links to the media's site in a collaborative spreadsheet. I'll think about some options this week.

@nalininsbs, thanks for checking in. I think it would still be useful to build a media list for future

[2022-11-16 09:00] nalininsbs commented on #123
To include
Team rep 2023 nominations [card]( https://github.com/WordPress/Marketing-Team/issues/38)
Updates sent to various cards
Changes/ review sent to notetaker
Check if previous notes not finalized from last month is complete
Reminder for agenda shared in Slack

[2022-11-16 13:45] rmartinezduque commented on #131
**Update**: I'm hoping to finish the draft for October's Month in WordPress today or tomorrow. In order to allow some time for review/feedback, the expected publishing date will be Friday (Nov 18) or Monday, November 21.

[2022-11-16 13:50] nalininsbs commented on #122
Hello @robinwpdeveloper how are you getting on with the notes? I have added excerpt and tags. Once you have made the other changes and checked Slack links, please publish and post on this card the link to it for today's meeting. Please also can you mention Larissa and I so we can add it to the agenda. Thank you.

[2022-11-16 13:51] nalininsbs commented on #123
[Notes](https://github.com/WordPress/Marketing-Team/issues/122) from last week need a couple of items and links updated. Robin is working on this. No other updates received for agenda.

[2022-11-16 14:32] murillol commented on #133
**Update**: Maedah has sent in answers! Still no photos, I've asked again :)

[2022-11-16 15:18] deshabhishek007 commented on #138
I can take notes on 28th Dec Meeting.

[2022-11-16 16:13] dugyen commented on #88
@nalininsbs @murillol Updated
Could you please close it.

[2022-11-16 22:12] abhansnuk commented on #138
Hello. The meeting has been cancelled for 28 Dec @deshabhishek007. I see from Slack today, a question has gone to @slspellar911 about two dates in December. Perhaps when Shanta has replied, if there is another date available in December, you could do that. Thanks for volunteering.

[2022-11-17 08:07] robinwpdeveloper commented on #122
Hi @nalininsbs Extremely sorry that I couldn't make it due to some personal urgent tasks.
Thanks for your help on publishing the note.

[2022-11-17 13:43] varlese commented on #139
Hi folks! The [first monthly post has now been published](https://make.wordpress.org/polyglots/2022/11/16/polyglots-outreach-effort-november-2022/) on Make/Polyglots.

[2022-11-17 15:22] rmartinezduque commented on #131
The draft for the October 2022 edition of The Month in WordPress is ready for review. I'm hoping to publish it early next week. If you have any suggestions, **please share them before the end of the day tomorrow (October 17)**.

Link: https://docs.google.com/document/d/1sRMrJ5wEQ0afouoQzgDc2MDL3m7-JEqA9P4BAEzoC24/edit?usp=sharing

Also, remember to include your WordPress.org profile link or userna

[2022-11-17 21:14] thetinyl commented on #128
Thanks for checking in @nalininsbs! I'll be sharing some content tomorrow or early next week on here.

Would it be possible to keep this task open another week or two? Just in case what I share inspires some additional ideas with others on the team.

[2022-11-21 14:30] rmartinezduque commented on #79
Closing this issue as these promotions were already completed.

[2022-11-21 18:30] rmartinezduque commented on #131
Update: I just updated the October 2022 edition of The Month in WP with the recent news of State of the Word: https://docs.google.com/document/d/1sRMrJ5wEQ0afouoQzgDc2MDL3m7-JEqA9P4BAEzoC24/edit#. I'm hoping to publish it tomorrow morning (CET time).

[2022-11-22 11:52] rmartinezduque opened #142 "The Month in WordPress: November 2022 Edition"
The estimated publishing date for the November 2022 edition of The Month in WordPress is **December 20, 2022**.

### How can you help?

You can help by collecting any news or Make team updates that would be valuable and relevant to the post, such as:

- Announcements or significant news from Make WP teams
- Major updates or news from flagship WordCamps (WordCamp US, WordCamp Asia, and WordCamp Eur

[2022-11-22 11:54] rmartinezduque commented on #131
**The Month in WordPress – October 2022 is now published**: https://wordpress.org/news/2022/11/the-month-in-wordpress-october-2022/. Thank you to everyone who contributed to this edition!

If you'd like to contribute to the next edition of the Month in WordPress, feel free to express your interest and subscribe to this GitHub card: https://github.com/WordPress/Marketing-Team/issues/142.

[2022-11-22 13:41] majadidit commented on #123
Here is my update of notes for November 16 https://make.wordpress.org/marketing/wp-admin/post.php?post=10385&action=edit
I do miss the part relevant to Open floor, as no actual comments/information was given

[2022-11-22 15:56] nalininsbs commented on #38
The [2023 nomination [](post](https://make.wordpress.org/marketing/2022/11/16/2023-team-rep-nominations-for-marketing/)) was published on November 16, 2022.  The timetable was finalized after the global team meeting to allow for  additional comments there, and on the card.

The article was shared in threads and main marketing channel, and in the team reps channel for inclusion in newsletters. It w

[2022-11-22 17:36] nalininsbs commented on #124
Highlighted agenda items, team rep elections, and opportunities for new contributors including social question. In [Slack](https://wordpress.slack.com/archives/C0GKJ7TFA/p1669132914276489).

[2022-11-22 22:42] murillol commented on #133
@abhansnuk Not sure if you saw my previous message! Maedah's answers are in the shared document (I've also pasted them in the working document). She still has not shared any photos.

[2022-11-22 22:47] murillol commented on #124
Script: https://docs.google.com/document/d/1SFEn_uZrBKbJYo2j_dbpEnL1YNvIfk39zcJyDznyUBQ/edit?usp=sharing

[2022-11-22 23:20] abhansnuk commented on #133
Thanks Larissa. We need pictures to publish and edit time for these too. Can you follow up please @murillol. We need images in the next few days, really by Thursday. Thanks for the update. cc @meherbala and @marybaum to alert on delay on photos.

[2022-11-22 23:32] murillol commented on #133
I am following up every other day! I will be travelling from
Wednesday-Friday with limited internet access, if you can also email her
about the photos that might help too!

El El mar, 22 de nov. de 2022 a la(s) 18:21, Abhanonstopnewsuk <
***@***.***> escribió:

[2022-11-22 23:40] abhansnuk commented on #133
Thanks @murillol and for all the follow ups on this one. We still have gaps in content. I have added some questions into the information at the bottom. I will email Maedah too and see how we can help her with the remaining items.

[2022-11-23 13:41] murillol commented on #124
important: we need someone to take over Notes for this meeting as @dugyen is unavailable

[2022-11-23 14:58] varlese commented on #141
[The November newsletter is now published](https://make.wordpress.org/polyglots/2022/11/22/polyglots-monthly-newsletter-november-2022/). Thank you all for your help!

[2022-11-23 14:58] #141 closed

[2022-11-25 15:38] thetinyl commented on #73
@murillol I've been thinking about this a lot and here would be my suggestions based on our discussion:

For abbreviations/acronyms, I'm thinking of adding the following bolded line in the "Clear" section:

Leave jargon, technical speak, and fancy words behind. **Use abbreviations or acronyms that are universally understood.** Keep sentences short. Let your audience understand your point as quickl

[2022-11-25 17:08] nalininsbs commented on #73
I have spoken with Abha as @murillol suggested as she is away from the project part of this week. Thank you @thetinyl  for incorporating the phrase we use about translation and global recognition.

Under inclusion, we may need a way to raise awareness about using phrases that may be inappropriate in terms of to mental health and different thinking approaches inclusion.

I wonder if we should also

[2022-11-25 17:56] bjmcsherry commented on #124
Hi @eidolonnight @abhansnuk @murillol @nalininsbs

The meeting notes are ready for review before publishing. You can find the draft here:
https://make.wordpress.org/marketing/wp-admin/post.php?post=10415&action=edit

Please let me know if you have any questions. Thanks in advance.

[2022-11-29 19:31] nalininsbs commented on #125
Reminder for any other item for agenda in Slack chat. https://wordpress.slack.com/archives/C0GKJ7TFA/p1669750087641839

[2022-11-29 19:33] nalininsbs commented on #38
Reminders in slack chat and during meetings.

Latest reminder 2022/11/29 - https://wordpress.slack.com/archives/C0GKJ7TFA/p1669750087641839

[2022-11-29 20:34] nalininsbs commented on #125
Agenda published https://make.wordpress.org/marketing/2022/11/29/agenda-global-wordpress-marketing-team-meeting-november-30-2022/
@eidolonnight @murillol when you set up script can you please use the numbering in the agenda. I had request to make first item on GitHub a number to help a team member follow along more easily. Thank you.

[2022-11-29 20:39] nalininsbs commented on #124
@bjmcsherry thank you for stepping in on notes. I had edited for you. As no other comments by today, I published.

When you add WordPress ID, you need to use @ and then name. Then you can pick from the list it comes up. If the name becomes a link, this is not picking up the ID. It will then not update the person's profile. If you think this can be made clearer in the handbook, could you make that

[2022-11-29 20:40] nalininsbs commented on #124
Published post https://make.wordpress.org/marketing/2022/11/29/notes-global-marketing-team-meeting-november-23-2022/

[2022-11-29 20:42] nalininsbs commented on #104
Thank you for updates on the November scheduled item - photos and other information is awaited. Thank you @meherbala, @marybaum , @abhansnuk , @murillol for updates on the card.

As previously discussed with @Bringmannn we will use this postponed September feature in November. Thank you @meherbala for time on this the last few days.

[2022-11-29 20:49] abhansnuk commented on #133
As at November 27, 2022, pictures and some information needed. This feature will be swapped with the postponed September edition. This will enable more time to gather the information. Thanks to @meherbala for stepping in to check through what is needed to do this and reviewing items. Thanks to @murillol for follow ups. Thanks to @Bringmannn @marybaum and @nalininsbs for the discussions and any rec

[2022-11-29 20:57] abhansnuk commented on #40
Review: we will need to be done in time for WordCamp Asia 2023. January 2023 - target.

[2022-11-29 21:02] abhansnuk commented on #123
Link to published post. https://make.wordpress.org/marketing/2022/11/23/notes-global-marketing-team-meeting-november-16-2022/

Contributors to notes: @majadidit , @abhansnuk , @nalininsbs , @murillol

[2022-11-29 21:02] #123 closed

[2022-11-29 21:04] #119 closed

[2022-11-29 21:17] abhansnuk commented on #116
Addressed link in right order in meeting notes archive https://make.wordpress.org/marketing/2022/11/29/notes-global-wordpress-marketing-team-meeting-october-5-2022/

[2022-11-29 21:17] #116 closed

[2022-11-29 21:21] #124 closed

[2022-11-29 21:50] thetinyl commented on #73
Thanks for these suggestions @nalininsbs!

I appreciate you bringing this up. I'm wondering if you have more specific recommendations in mind around this type of language. Are there resources/references available we should link to?

Is this something you've noticed a lot of in our external communications? If so, I'm hoping that having generally added more clarity around the Voice/Tone/global natur

[2022-11-29 21:54] abhansnuk commented on #122
Contributors to the notes: @nalininsbs , @abhansnuk , @robinwpdeveloper.
Link to published notes https://make.wordpress.org/marketing/2022/11/16/notes-global-marketing-team-meeting-november-9-2022/

[2022-11-29 21:54] #122 closed

[2022-11-29 21:55] abhansnuk commented on #59
Hi @dugyen how are you getting on with this? Just checking in case you needed a hand.

[2022-11-29 22:03] abhansnuk commented on #90
Summarizing the Slack so we can close this ticket.

Input on the the following tasks at WCUS 2022 Contributor Day (the IDs below are the ones shared in Slack by Nicholas):
- [Five for the Future Email Template for Contributors](https://github.com/WordPress/Marcomms-Rolling-tasks/issues/18)
- [Create plan for short-form video content on Tiktok](https://github.com/WordPress/Marketing-Team/issues/114

[2022-11-29 22:11] #88 closed

[2022-11-29 23:42] abhansnuk commented on #104
Final checks taking place - WordPress IDs added. Meher reviewing any notes still in the post and images in preview. Mary Baum to recheck too.

Tags to be rechecked. All Chloe et al's previous comments checked are incorporated.
https://wordpress.org/news/?p=13562&preview=1&_ppp=ce7b145bfa

[2022-11-30 10:23] murillol commented on #125
Script: https://docs.google.com/document/d/1FSVADHCez58Ov9B0sI0pJYG9kwjBPSsukCi5klQL3SM/edit?usp=sharing

[2022-11-30 14:23] abhansnuk opened #143 "2022/12/07 Global Marketing Team meeting"
**All things related to this meeting and any collaborations during the week, including:**

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the diary dates post has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting and to support accessibility
- queries about notes drafting
- links to draft notes a

[2022-11-30 14:28] abhansnuk opened #144 "2022/12/14 Global Marketing Team meeting"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting and to suppo

[2022-11-30 14:28] abhansnuk commented on #144
@robinwpdeveloper had volunteered to do the notes for this week.

[2022-11-30 14:31] abhansnuk opened #145 "2022/12/21 Global Marketing Team meeting and weekly planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting and to suppo

[2022-11-30 14:32] abhansnuk commented on #145
Note: the team decided to cancel the live meeting on December 28, 2022. So this is the last meeting of the 2022 year.

[2022-11-30 14:35] abhansnuk commented on #138
**December 2022**

[30 November 2022](https://github.com/WordPress/Marketing-Team/issues/125) GitHub #125  - @Shanta Speller
[7 December 2022](https://github.com/WordPress/Marketing-Team/issues/143) GitHub #143 - @Shanta Speller
[14 December 2022](https://github.com/WordPress/Marketing-Team/issues/144) GitHub #144 - @robinwpdeveloper
[21 December 2022](https://github.com/WordPress/Marketing-Team/i

[2022-11-30 14:39] eidolonnight commented on #139
I do not have anything planned at this time.

[2022-11-30 15:02] abhansnuk opened #146 "People of WordPress - January 2023"
To migrate to this from the PofWP board

[2022-11-30 16:10] abhansnuk commented on #146
Note work/collaboration on this will run in parallel with the December edition, with the aim of having it ready for publication if needed to be swapped with December.

[2022-11-30 17:56] rmartinezduque commented on #80
I took some inspiration from the @thetinyl's [TT3 "Behind the Scenes" Questionnaire](https://github.com/WordPress/Marketing-Team/issues/128) (thanks, Lauren!) and drafted [this brief questionnaire](https://docs.google.com/forms/d/e/1FAIpQLScM_Pm3atx-PNSVOrf9ko0-_lKmEjzJ3eR0hcNUCH6wO2Tt9Q/viewform?usp=sf_link) to help gather some photo stories. Before circulating it, I'd love to get some feedback.

[2022-11-30 18:03] rmartinezduque commented on #80
**Update**:

Some social posts were posted to celebrate the 5,000 photo milestone of the Photo Directory, which performed very well:

- [Twitter](https://twitter.com/WordPress/status/1594378823138541568)
- [Facebook](https://www.facebook.com/WordPress/photos/a.10158758550782911/10160294050227911/)
- [Linkedin](https://www.linkedin.com/posts/wordpress_wordpress-wpphotos-activity-7000112782603907072