[2021-09-08 15:35] murillol opened #35 "Trac ticket commenting & bug raising training for non-tech members"
**Done**: Delivery of sessions to help non-dev members of the team be able to comment on trac tickets (for WordPress)/ GitHub (for Gutenberg/ editor) tickets and to be able to raise bug reports particularly in the Block editor.

**Deadline**: TBD

**Task**:
- Help with how to raise a bug ticket and comment on trac from non-dev members of the team to help them participate in influencing tickets and

[2021-09-08 15:48] murillol opened #33 "Virtual Coffee Breaks"

[2021-09-08 16:36] murillol opened #37 "Promote call to translate hosting pages"
_Copied from Trello for review
Has this been done and closed?_

Task: translate https://wordpress.org/hosting/ for local sites, like de.wordpress.org and nl.wordpress.org. This means more than translating words: it needs to show hosting companies that actually offer support in that particular language.

_Timeline_
10 July 2020
@abhansnuk
Olga, Siobhan Seija, do you know if there was any additional

[2021-09-08 19:33] murillol opened #54 "Podcasting Tips for Meetups"

[2021-09-14 15:50] murillol opened #36 "Alternative Banner Images for LinkedIn"
Our current [Make WordPress Marketing Team LinkedIn Page](https://www.linkedin.com/company/12976001/admin/) has a header image that is not changed often, and we would like for it to reflect current or evergreen campaigns/events (e.g. LearnWP, WPTranslationDay, etc).

**Task**: create an alternative banner image(s) for the Make WordPress Marketing Team LinkedIn Page

_Themes_:
- Learn WordPress #Le

[2021-10-13 15:32] abhansnuk opened #31 "Monthly polyglot newsletter"
This is the Macro card for this regular task. Individual newsletter editions appear on the board in the other columns depending on their status, for example, to do, in progress. When the newsletter has been published, a link is to be added to the relevant edition card, and the card moved to Done.

Any marketing-related items relating to the newsletter series as a whole should be added to this macr

[2021-10-13 18:31] abhansnuk opened #39 "Update A-Z jargon glossary and contributor glossary."
To update this issue with current items and updated since this card. The card on Trello can then be deleted. Check updates from WCEU 2021 Contributor Area. https://trello.com/c/6TerzFEd

**Action:** We may need a Macro card with updates for major releases or annually as individual issues eg to add new terms related to FSE. To discuss with Anne in FSE.

[2021-11-01 15:29] abhansnuk opened #8 "Updating diary dates post Marketing blog (P2) & Team calendar"

[2021-11-22 21:18] abhansnuk opened #32 "Month in WordPress newsletter [Macro]"

[2021-11-26 19:54] abhansnuk opened #34 "Captions for video 'How to contribute to core'"
Video on WordPress Marketing Team YouTube. Currently unlisted, awaiting subtitles and links to resources on core. Used for WCEU.

Check with Paul and Chris C if it can be used for Learn WP or if there is a newer version that could be used there. If so, it needs to be submitted to WPTV, and then linked from Learn WP.

If there is a newer version to go on WPTV and once submitted:
- do not make the v

[2021-12-07 18:32] abhansnuk opened #9 "Marketing blog (P2) posts planning [Macro]"
(other than meeting notes and agendas)

To tie in with our discussion on planning posts / major blogs.

The spreadsheet probably needs reworking and a tab added for GitHub.

[2021-12-08 14:03] eidolonnight opened #7 "WordPress Social Media Amplification"

[2021-12-22 22:23] abhansnuk opened #38 "Marketing Team Reps nominations, elections and confirmations for 2023"

[2022-02-07 15:37] nalininsbs opened #1 "Month in WordPress - January 2022"
Month in WordPress - January 2022 edition

[2022-02-07 15:38] nalininsbs commented on #1
Anjana shared  the link for comments, additions on Thursday 3 February 2022 https://docs.google.com/document/d/18AG28xLNjwc-bbPqBgQd9sqHLHkBMQHSA5QlkHexOnU/edit#

[2022-02-08 15:18] #33 closed

[2022-02-08 18:27] nalininsbs opened #44 "Instructions for sharing event info from WPDiversity"
@lmurillom and @Nalini can you check what else would be helpful to have on these instructions which Katie has adapted from what I shared on Wednesday in the diversity meeting. Thanks https://docs.google.com/document/d/1kac892kmbP4wYSTeJmnY8ohaI-9_ACl_wdQV5NaZAXI/edit?usp=sharing

[2022-02-08 18:46] nalininsbs commented on #1
This has been published at: https://wordpress.org/news/2022/02/the-month-in-wordpress-january-2022/

Props to the following contributors: @   (anjanavasan), Hari Shanker (harishanker), rmartinezduque (rmartinezduque), @murillol (@lmurillom), @abhansnuk (webcommsat], @nalininsbs (nalininonstopnewsuk)

- Note Anjana's GitHub ID is not being added. Please add to this post and close with comment.

[2022-02-08 18:56] nalininsbs opened #43 "Marketing Team meeting notes"
This card is pulling together the various notes and tasks to update the handbook page https://make.wordpress.org/marketing/handbook/communication/creating-meeting-notes/

From this a revised document will be produced with checklists which are easy to follow and in the order notetakers process items.

- Larissa and Meher updating the instructions for notes from the long period of reviewing items to

[2022-02-09 14:16] nalininsbs opened #2 "Notes: Marketing team meeting, 2022/02/09"

[2022-02-09 15:03] nalininsbs opened #3 "Meetup newsletter: February 2022"
Update from Anjana: The February 2022 edition of the Meetup Organizer Newsletter will go out next week. If you have any submissions, please add them to [this document](https://docs.google.com/document/d/1bwzmpoNlEcLx0vmYUCCtI6JuUvr-dSYhm3p6PGpXiIs/edit?usp=sharing) by Friday, February 11.

[2022-02-14 20:23] nalininsbs opened #4 "WPDiversity - Diverse Speaker Training group (#WPDiversity) Volunteers Zoom Call, 2022/02/23"
Information from @jillb Slack https://wordpress.slack.com/archives/C0GKJ7TFA/p1644448715233209

Event date: Wednesday, February 23, 2022 at 17:00-18:00 UTC
Last time to register:
Booking deadline for promotion purposes: Still available anytime up to the end of the meeting at 18:00 UTC.

Suggested key messaging:
Curious to learn more about the Diverse Speaker Training Group? Get more information ab

[2022-02-17 14:00] nalininsbs opened #5 "Tags standardization and solve incorrect saved tags on Marketing blog"
**Task: Working through this and reviewing documentation produced in 2021.**
Thank you @abhansnuk for producing the original documentation and pulling together feedback from testing in the team in 2021.

**How to add tags on the Make WordPress Marketing Blog (also known as the Marketing P2):**
Tags can be added directly in the post in the CMS or through Quick Edit if the post is published and tags

[2022-02-17 14:07] nalininsbs commented on #5
Thanks @abhansnuk for the session with @SantanaInniss on the tags task and the previous documentation, and Santana for offering to assist with updating tasks in the blog where needed going forward.

I have updated the most recent tasks to the standard where needed.

[2022-02-17 14:40] nalininsbs opened #6 "Polyglot Newsletter - February 2022"
2022/2/16
Information from Naoko February Polyglots Newsletter draft is ready. I appreciate it if you could give feedback – especially in the “Social Media and Local Websites” section. Thanks in advance!
https://docs.google.com/document/d/1-KFvXxBlV5-_jzLmjjOojDS3wFVZatyGoYDCyHbfPkk/edit#

2022/2/17 Reply sent: Hello [@nao](https://wordpress.slack.com/team/U02S4UPK7) ...
Thank you for the polyglot

[2022-02-17 14:55] santanainniss commented on #5
Test comment!

[2022-02-17 21:07] nalininsbs commented on #3
Published: https://make.wordpress.org/community/2022/02/15/meetup-organizer-newsletter-february-2022/

_From the post:_
The following people contributed to this edition of the Meetup newsletter (WP.org IDs): rmartinezduque, eidolonnight, harishanker, courane01, evarlese, webcommsat

[2022-02-17 21:08] #3 closed

[2022-02-17 21:14] nalininsbs commented on #5
Thank you @abhansnuk for resolving the account for Santana. I am now able to add her to the card for the test. This should trigger notifications? Can we try this on another card?

[2022-02-18 15:52] murillol commented on #4
**Update**: I’ve prepared the copy for the @ wordpressevents (Twitter + Facebook) and Make WordPress Marketing team (LinkedIn) channels, and will update this card with the links to the posts as they go out. [Working Document](https://docs.google.com/document/d/1tMZdC2tqtEXlBoizx83jL3oKnGdZ6lbRgXIcDfmiq5Y/edit?usp=sharing).

For the official handles, Nicholas has indicated the messages are going ou

[2022-02-22 16:18] murillol commented on #4
**Update**: Published Posts

| Link  | Account |
| ------------- | ------------- |
| [Twitter](https://twitter.com/WordPress/status/1495418721837404165)  | @ wordpress  |
| [Facebook](https://www.facebook.com/WordPress/posts/10159717844697911)  | @ wordpress  |
| [Twitter](https://twitter.com/wordpressevents/status/1495401650865029124)  | @wordpressevents|
| [Twitter](https://twitter.com/wordpress

[2022-02-27 11:22] nalininsbs opened #11 "Meeting: 2 March 2022"
Link to meeting planning discussion card https://github.com/WordPress/Marcomms-Internal-Comms/discussions/19

[2022-02-27 11:37] nalininsbs commented on #2
Agenda: this was created, but the link does not seem to have been published. [Update once the link is available]

Published notes from the meeting: https://make.wordpress.org/marketing/2022/02/14/notes-global-marketing-meeting-09-february-2022/

_Testing documentation for how we close a ticket to include those involved. Note there is a wider discussion on this led by core, and when new guidelines

[2022-02-27 11:37] #2 closed

[2022-02-27 12:05] nalininsbs commented on #4
@murillol and Anjana (@anjanavasan - to check ID) could you add any final updates to this task once you have them? Thank you.

I added a link to this card to the notes from last week's meeting.

[2022-02-27 12:08] nalininsbs commented on #4
Published recap from @jillb https://make.wordpress.org/community/2022/02/24/recap-of-the-diverse-speaker-training-group-wpdiversity-on-february-23-2022/

[2022-02-27 12:15] nalininsbs commented on #6
Published link to the [WordPress Polyglots Newsletter February 2022 [](newsletter](https://make.wordpress.org/polyglots/2022/02/22/polyglots-monthly-newsletter-february-2022/).)
It thanked the following contributors (WordPress.org IDs): nao, evarlese, tobifjellner, nalininonstopnewsuk, anjanavasan, webcommsat

[2022-02-27 12:17] #6 closed

[2022-02-27 12:18] nalininsbs opened #12 "Polyglots Newsletter - March 2022"
This is due to go out in the third week of March 2022.

Cross-link to GitHub card on video and image work for this: [Gautum [](video](https://github.com/WordPress/Marcomms-Rolling-tasks/issues/77).)

[2022-02-27 12:21] nalininsbs opened #13 "Marketing Team Meeting 2022-02-23"
Re-adding the links as this original card had a bug.

This card is part of a test into usability of converting cards into discussions and checklists.

Team meeting planning discussion, link to agenda and draft notes etc https://github.com/WordPress/Marcomms-Internal-Comms/discussions/16

[2022-02-27 12:31] #1 closed

[2022-02-27 13:28] nalininsbs opened #14 "GitHub labels and tags consolidation & re-test"
Thank you Abha for the link. Can you set up a test in the discussion area in the central repository to add the questions.

@estelaris - Is there a latest HelpHub recategorization link to view the tags or labels you will be using going forward? Thank you

Thank you.
https://docs.google.com/spreadsheets/d/1k7npuv1w1SEK7OOCmsU_hBh6AruUNLCrD74atF3jWMg/edit?usp=sharing

[2022-02-27 21:02] meherbala opened #15 "POW: Image Edit For Yordan Soares"
Following the redesign of the news page, one of the images for Yordan Soares story was displaying full width and pixelating the image.

[2022-02-27 21:04] meherbala commented on #15
Change the alignment of the Media and Text block from wide width to none.

[2022-02-27 21:04] #15 closed

[2022-02-27 21:08] meherbala opened #16 "POW: Image Edit For Ronald Gijsel"
Following the redesign of the news page, one of the images for Ronald Gijsel story was displaying full width and pixelating the image.

URL: https://wordpress.org/news/2021/10/people-of-wordpress-ecommerce-ronald-gijsel/

[2022-02-27 21:08] meherbala commented on #16
Change the alignment of the Media and Text block from wide width to none.

[2022-02-27 21:08] #16 closed

[2022-03-02 01:05] murillol commented on #4
I have no final updates! Anjana's GitHub ID appears to be @Starbuck245

[2022-03-08 21:21] bjmcsherry commented on #11
@nalininsbs @eidolonnight @murillol  I posted the Google Docs for the notes here: https://docs.google.com/document/d/1otEEBHJJ-ajxJkDOwqPrikpzuvAF6KXI1C5vtpqcqDA/edit?pli=1#

@eidolonnight approved, and I published the final live here: https://make.wordpress.org/marketing/2022/03/08/notes-global-marketing-team-march-2-2022/

[2022-03-09 21:00] nalininsbs commented on #11
Thank you for writing this @bjmcsherry and volunteering.  There are some Slack IDs in the post, would you be able to update them please with WordPress.org IDs? When you do a preview of the notes, if a Slack logo appears before the name, this means it is a Slack ID. Thank you.

[2022-03-18 08:25] nalininsbs commented on #12
17 March 2022: Link from Naoko to draft of Polyglots Newsletter March 2022 - [Slack [](thread](https://wordpress.slack.com/archives/C0GKJ7TFA/p1647526204435329?thread_ts=1645083348.674109&cid=C0GKJ7TFA))
[Link to document](https://docs.google.com/document/d/1TMUPVXURQcLo_VXk2UcXz05QtaH6Wo6AXOCC0Lrerfg/edit#)

[2022-03-22 09:53] nalininsbs opened #21 "2022/03/23 Global Marketing Team Meeting"
Link to discussion on all things related to this meeting. We are exploring how to combine the weekly card with this discussion card using GitHub's new features.

https://github.com/WordPress/Marketing-Team/discussions/20

[2022-03-22 09:56] nalininsbs opened #22 "2022/03/30 Global Marketing Team Meeting"
testing following @abhansbs draft notes on converting card in repo to discussion.

To check:
- if it continues to show in the calendar list
- what happens when the discussion is finished, can the ticket be closed and marked as complete
- if we can have one card which combines the card for the task board and the discussion in one using GitHub's new features.

[2022-03-22 09:57] nalininsbs commented on #22
![image](https://user-images.githubusercontent.com/92483627/159454815-e423b2c9-43d3-4308-8683-723523109707.png)

 @abhansnuk as you thought, we can not convert the card to a discussion without losing the card. Back to you.

[2022-03-22 10:06] nalininsbs commented on #21
Update: from next week, we will use the GitHub task card for all discussions as it is not possible to convert the card to a discussion without the loss of the card from the deadline calendar display. This also means that the task can be closed which is not possible in the discussion area.

[2022-03-23 02:21] eidolonnight opened #23 "Make Team Coffee Hour"
This bi-weekly social hour is held by the Make Marketing team for all WordPress Marketing contributors, and occasional guests. Stop by and meet some of the friendly faces marketing WordPress.

Current volunteer facilitator list:
- 24 March 2022: Anjana Vasan
- 7 April 2022: Meg Phillips

[2022-03-23 10:38] nalininsbs commented on #21
Link to last week's meeting: https://make.wordpress.org/marketing/2022/03/23/notes-global-marketing-team-march-16-2022/

Link to agenda: (add when ready)

Link to script: (add when ready)

Link to card on coffee break: (add when ready)

[2022-03-28 23:06] abhansnuk opened #25 "Contributor Day 13 May 2022 - hosted by Yoast"

[2022-03-28 23:28] abhansnuk opened #26 "Contributor event 31 March 2022 - request by Multidots"
Link to Slack thread request from Chirag Patel https://wordpress.slack.com/archives/C0GKJ7TFA/p1647588366222279.
Request for material shared again at Marketing Team meeting on 23 March 2022.

[2022-03-28 23:35] abhansnuk opened #27 "Contributor Day WordCamp Vienna, 24 April 2022"
Planned contributor day at Word Camp Vienna.
https://vienna.wordcamp.org/2020/what-is-a-wordpress-contributor-day-and-why-should-i-come/

[2022-03-29 00:08] abhansnuk opened #28 "Make WordPress Slack onboarding video - Italian"

[2022-03-29 00:09] abhansnuk opened #29 "Meetup newsletter: March 2022"
Published: https://make.wordpress.org/community/2022/03/14/meetup-organizer-newsletter-march-2022/

The following people contributed to this edition of the Meetup newsletter (WordPress.org profiles): rmartinezduque, eidolonnight, harishanker, mysweetcate, webcommsat, lmurillom

Link to reporting on this newsletter at Marketing Meeting 23 March 2022: https://wordpress.slack.com/archives/C0GKJ7TFA/p

[2022-03-29 00:16] #29 closed

[2022-03-29 00:16] abhansnuk opened #30 "Meetup Newsletter: April 2022 issue"

[2022-03-29 00:37] abhansnuk commented on #37
Sent to Naoko (polygots) in Marketing slack channel to check if promotion of call still needed. [Slack message](https://wordpress.slack.com/archives/C0GKJ7TFA/p1648514173533029)

[2022-03-29 07:31] naokomc commented on #37
[Spanish hosting page](https://es.wordpress.org/colabora/hosting/) exists, but in English only. As far as I'm aware, I don't think there are translated hosting pages yet.

For countries where it's common to use hosts listed on the English page, they can go ahead and start translating the current page.

For others, we will need to select hosts to list.
I had been meaning to check what the Hosting C

[2022-03-29 07:55] rmartinezduque commented on #21
The meeting notes for the Global Marketing Team Meeting on 23 March 2022 can be found in this post: https://make.wordpress.org/marketing/2022/03/29/notes-global-marketing-team-23-march-2022/.

[2022-03-29 17:37] murillol commented on #22
- [Agenda Draft](https://github.com/WordPress/Marketing-Team/discussions/24)
- [Meeting Script](https://docs.google.com/document/d/1hBAQCmLvLtmx7OvwChWCaE7R2MjuoChnfOourIGRNQA/edit)

[2022-03-30 10:43] nalininsbs commented on #21
Thank you @rmartinezduque.

Summary of those involved in the agenda and notes for this week: @nalininsbs @murillol @eidolonnight @rmartinezduque .

[2022-03-30 10:43] #21 closed

[2022-03-30 10:45] nalininsbs commented on #26
Is there an update on this event to share at the marketing meeting today?

[2022-03-30 10:58] abhansnuk commented on #35
30/3/2022 Shared with Chris in Slack for potential to share with contributor events coming up

[2022-03-30 11:02] abhansnuk commented on #26
A suggestion on polyglots-related task shared with Chirag in Slack.

Adding some useful links for the event below:
https://learn.wordpress.org/workshop/an-introduction-to-contributing/

What is contributing?
https://europe.wordcamp.org/2021/contribute-to-wordpress/what-is-contributing/

Contribute to WordPress resource - from WordCamp Europe 2021
https://europe.wordcamp.org/2021/contribute-to-word

[2022-03-30 11:15] nalininsbs opened #40 "Make WordPress & Slack onboarding video - Greek"
This was in progress in 2021. Status check to be done.

[2022-03-30 11:48] abhansnuk commented on #37
Would you like this card on marketing closed for now @naokomc and you can reopen it in future when you would like promotion of any call you are doing? Thanks for doing the status review.

[2022-03-30 12:46] nalininsbs opened #41 "2022/04/06 Global Marketing Team Meeting"
All things related to this meeting and any collaboration, including:
- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful cross-links:
- [Marketing Tasks board](https://github.com/o

[2022-03-30 13:00] nalininsbs opened #42 "2022/04/13 Global Marketing Team Meeting"
All things related to this meeting and any collaboration, including:
- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

[2022-03-30 13:34] nalininsbs commented on #44
@murillol is there a final current version of this document or summary for how WordPress.org social accounts and the ones you update? Could you add a summary to this and the macro card, together with any opportunities for how the marketing contributors can get involved? Could this then close this card on the instructions refreshing? Thank you.

[2022-03-30 13:40] murillol commented on #44
Hi @nalininsbs I'm not aware of any final version of that document, in fact I'm not sure the process detailed there is followed anymore. The person from Marketing most involved in the process now is @Starbuck245 - Anjana could you shed some light on what the process looks like now, and if there is any opportunity for marketing contributors to get involved? Thanks!

[2022-03-30 14:29] nalininsbs opened #45 "Month in WordPress: March 2022"
Creating this card for @rmartinezduque

Summary of message shared 30 March 2022:
- Anjana and Reyez are working on the next edition of Month in WordPress newsletter
- Publication date: Tuesday, April 5, 2022
- Actions: If someone has a Make team update that would be valuable and relevant for the post, please feel free to share it on the Make Marketing Slack channel and tag @rmartinezduque (Reyes M

[2022-03-30 14:43] rmartinezduque commented on #45
Thank you for creating this card, @nalininsbs!

I think we are tagging the wrong person here. It might help to put my Slack username in code format (single backticks) to avoid any confusion and tag another person by mistake, i.e. `@Reyes Martínez`.

[2022-03-30 16:35] azhiya commented on #34
Is this for setting up a .org and Slack account or just for contributing to Core. If it is the former, there are a number of [video workshops in different languages](https://learn.wordpress.org/workshop/set-up-a-wordpress-org-account/) and a [lesson plan](https://learn.wordpress.org/lesson-plan/creating-joining-wordpress-slack-orientation-to-channels-and-etiquette/). If it is the latter, there are

[2022-03-30 18:21] abhansnuk commented on #35
This has moved on last year. This is now something that can be done with training and core, and potentially tested by non devs in marketing and training.

Since this task was created, discussions have led to the following Learn WordPress resources being created to address some of this:
How to use Trac
[How to use trac](https://learn.wordpress.org/workshop/how-to-use-trac/)

Lesson Plan - local ins

[2022-03-30 18:24] abhansnuk commented on #27
The team is looking at how contributor event cards can work most effectively in the Marketing GitHub going forward and what can go in the handbook. This card can be an example to work through.

[2022-03-30 18:32] abhansnuk commented on #36
From @murillol at the marketing team meeting, 30 March 2022:
- banner images still needed
- contributors would need a familiarity with creating banners for LinkedIn
- @abhansnuk : [banner image size guide from LinkedIn](https://www.linkedin.com/pulse/fully-comprehensive-linkedin-size-guide-images-video-sarah-clay)

From discussion with @eidolonnight for this to be a potential task for a contributo

[2022-03-30 18:43] abhansnuk opened #46 "Meetup events social promotions - links status review"
https://make.wordpress.org/marketing/2021/11/17/help-promote-wordpress-meetups-each-week/

[2022-03-30 21:36] eidolonnight opened #47 "March 2022 Make Marketing Handbook Review"
Our team documentation is important to Make team members old and new. The [WordPress Marketing Handbook](https://make.wordpress.org/marketing/handbook/) is constantly evolving to meet contributor needs. In order to continue improving, we need feedback and comments from readers.

Please read the content within the [WordPress Marketing Handbook](https://make.wordpress.org/marketing/handbook/) and pr

[2022-03-30 21:37] eidolonnight commented on #26
I believe the following issues would be the most impactful for this contributor group:

- https://github.com/WordPress/Marketing-Team/issues/7
- https://github.com/WordPress/Marketing-Team/issues/36
- https://github.com/WordPress/Marketing-Team/issues/47

[2022-03-30 22:43] abhansnuk commented on #26
Chirag to help you onboard new contributors at the event, I have done a quick update to the [Getting Involved page](https://make.wordpress.org/marketing/handbook/getting-involved/) and added the link to the YouTube videos for setting up Slack. Have a great event!

[2022-03-30 23:02] abhansnuk commented on #40
@nalininsbs I have checked this on YouTube and this task for Greek is completed.

There are some videos to be added from the playlist to the Learn WordPress page.

[2022-03-31 08:59] meherbala commented on #45
Changed the tag @rmartinezduque

[2022-03-31 11:05] azhiya commented on #35
I think it makes sense to move the content to Learn and have the links added to the handbook.

[2022-03-31 11:07] azhiya commented on #35
Noting that Courtney has changed her handle to @courtneyr-dev

[2022-03-31 14:40] kaushikbaroliya commented on #36
Howdy,

I have designed a banner image for **Make WordPress Marketing Team LinkedIn Page**. Please find the attached banner image with dark and light color options.

![LinkedIn_header_banner_option_01](https://user-images.githubusercontent.com/102730573/161081707-e84ae929-650a-4d3b-b056-ba4bcfc245ad.jpg)
![LinkedIn_header_banner_option_02](https://user-images.githubusercontent.com/102730573/161081

[2022-03-31 15:38] ronakganatra-multidots commented on #26
Hello @abhansnuk ,

Thank you for created this board, Me and @harshbhatt10 has worked on the #7 .

[2022-03-31 15:39] ronakganatra-multidots commented on #36
This looks great @kaushikbaroliya .

Thanks

[2022-03-31 16:55] nalininsbs commented on #36
Thank you @kaushikbaroliya. You had fun! Did you enjoy the contributor day?

[2022-04-04 03:40] naokomc commented on #37
@abhansnuk
FYI, we have mentioned this request in the Polyglots Meeting last week ([agenda](https://make.wordpress.org/polyglots/2022/03/30/agenda-weekly-polyglots-chat-march-30-2022-1300-utc/), [Slack](https://wordpress.slack.com/archives/C02RP50LK/p1648645618771869)).
I think closing this now and reopening after WCEU would be the best.

[2022-04-04 21:10] rmartinezduque commented on #45
Hi! Here's the [draft of March's Month in WordPress post](https://docs.google.com/document/d/1beIeh2hcY4gT_yU2ioNEvY4y2FTNXx_t-I5z-jJlRV0/edit#). I'm hoping to publish tomorrow (April 5) by 13:00 UTC if possible so that I can include a last-minute reminder about the WordPress 6.0 product walkthrough. Feel free to share any comments by then, thanks!

[2022-04-05 14:38] rmartinezduque commented on #45
The post is now published: https://wordpress.org/news/2022/04/the-month-in-wordpress-march-2022/. Thank you!

[2022-04-05 19:05] nalininsbs commented on #41
Agenda suggestions:
1. Welcome
2. Getting to know each other
2c. Social question - what colors do you think go the best together and are these the colors that help you feel creative?

3. Notes and volunteers

4. Projects updates
4a) The 6.0 walkthrough
4b) Newsletters and events updates
4c) Social media updates
4d) GitHub links and updates
4e) Contributor events updates

5) Diary dates - upcoming

[2022-04-05 19:08] nalininsbs commented on #41
Shared in the marketing slack channel. I have read a little in the different team notes to see if there are any updates

[2022-04-06 01:42] jpantani commented on #41
@nalininsbs can we have a call out for the Grow Your Story campaign please? While it will live primarily on social, it will be good to position these marketing efforts as Brand Awareness. It will be great to get people to share in their networks. Thanks!

[2022-04-06 01:59] murillol commented on #41
Thanks @nalininsbs, in order to include the Grow Your Story item @jpantani has suggested, I've updated **4b**, so it reads **Newsletters, Campaigns and Events**.

The [script for the meeting tomorrow is here](https://docs.google.com/document/d/1zZLOEIM4TxwXq-B-WfFftdHI8ftx3kPQiiQLJMhWiAo/edit?usp=sharing), and I've left the Agenda in the P2 [as a draft.](https://make.wordpress.org/marketing/?p=901

[2022-04-06 03:03] #13 closed

[2022-04-06 03:07] eidolonnight commented on #22
[Notes posted](https://make.wordpress.org/marketing/2022/04/06/notes-global-marketing-team-30-march-2022/). Closing issue.

[2022-04-06 03:07] #11 closed

[2022-04-06 10:51] santanainniss commented on #41
Could we please add a call for topic contributions for the WP Briefing podcast? It could read something like:

There is an open call for topic ideas for the WP Briefing podcast. If there are any topics you'd like to hear on the podcast, please contact Santana Inniss on Slack by replying to this thread with an @ mention, or by DM.

Thank you!

[2022-04-06 12:21] nalininsbs commented on #41
Thank you @santanainniss will add this to after @jpantani's item. I will arrange for a card to be set up for you in the discussions area on GitHub for you. This can be referred to regularly too as a reminder.

[2022-04-06 12:45] nalininsbs commented on #41
Updated agenda and script. Published agenda https://make.wordpress.org/marketing/2022/04/06/agenda-global-marketing-team-6-april-2022/
Thank you.

[2022-04-06 13:13] nalininsbs opened #48 "2022/04/20 Global Marketing Team Meeting"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful cross-links:
- [Marketing T

[2022-04-06 13:29] abhansnuk commented on #45
@nalininsbs I have resolved your query on not being able to find the March card. It was labelled April (as it is actioned in April, but it is the March card). I have changed this in the subject. The published link has been added, so I will mark this as closed.

I will create a replacement April card for you.

[2022-04-06 13:29] #45 closed

[2022-04-06 13:33] abhansnuk opened #49 "Month in WordPress: April 2022 edition"
Creating this card for @rmartinezduque and @nalininonstopnewsuk

Anjana and Reyes will draft the next edition of Month in WordPress newsletter.

Publication date: Thursday, May 5, 2022 (date tbc)
Note the edition month name is the previous month to publication.

Actions: If someone has a Make team update that would be valuable and relevant for the post, please feel free to share it on the Make Mar

[2022-04-06 13:37] nalininsbs opened #50 "2022/04/27 Global Marketing Team Meeting"
All things related to this meeting and any collaboration, including:
- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful cross-links:
- [Marketing Ta

[2022-04-06 13:38] nalininsbs commented on #50
Month in WordPress April 2022 GitHub card https://github.com/WordPress/Marketing-Team/issues/49

[2022-04-06 13:41] abhansnuk commented on #45
@rmartinezduque card set up for you for the April 2022 edition of Month in WordPress.

@nalininsbs let me know if you have still have problems cross-linking to it from the meeting card for the end of the month. It should work now.

[2022-04-06 13:50] abhansnuk commented on #32
**@nalininsbs coming back on your queries in the GitHub spreadsheet:**
- yes, you can add cross-links to this macro card for every edition if you feel this would be helpful. There is a tag for the published posts you could add to the intro note to help too.
- yes, anyone can close the card once they add the published link, together with any follow-up queries if there are any
- you can add the link

[2022-04-06 13:54] nalininsbs commented on #23
@eidolonnight is this now a coffee hour rather than titled a coffee break? It may give people an impression they have to stay or be available for an hour. If using Zoom, facilitators will need access to a pro zoom account to be able to run this for an hour. Forty minutes is the maximum for the free accounts. Thank you.

[2022-04-06 14:07] nalininsbs opened #51 "GrowYourStory WordPress campaign (2022 launch)"
New campaign launched 1 April 2022.

[Launch post](https://make.wordpress.org/marketing/2022/04/01/grow-your-story-on-wordpress/)

[Form for submissions](https://docs.google.com/forms/d/e/1FAIpQLSd3uAVjqsfiiycVBJOwrpGJQuJZaRI11lpan8KIArgQhcCZKw/viewform)

Contact for this campaign: Jonathan Pantani @jpantani

Reference to Matt Mullenweg asking 'how has WordPress helped grow your story?' at the [20

[2022-04-06 14:11] bjmcsherry commented on #42
Hello, I will be taking on the responsibility of note taking for the Make Marketing meeting on the 13th. Thank you.

[2022-04-06 14:16] nalininsbs opened #52 "Team Update P2 post for March 2022"
Replacement card - original card and link to document not showing - 2022/4/6. Chris/ Meher/ Abha can you check? Original appears to have been archived accidentally. Thank you

[2022-04-06 16:47] abhansnuk opened #55 "Showcase (migrated reference file)"
REFERENCE MATERIAL

**October 2021**
The meeting notes for the showcase redesign live in .org Marketing Materials / showcase. Direct link: https://docs.google.com/document/d/10k6WNb2wCOU5yJHDqE1KGiJwrpWDu9pfzQ-hnxV2QCk/edit#heading=h.4fyuw1whgefe

**2021**
Previous board in Marcomms-Series repository set up in 2021 when the project kickstarted again. It was waiting for more contributors to marketi

[2022-04-06 16:58] abhansnuk commented on #55
2022/3/30 Last check with A8C on whether there was now a sponsored contributor allocated to this area to link in with on migration of previous information. [Slack link](https://wordpress.slack.com/archives/C0GKJ7TFA/p1648655551117109)

[2022-04-07 19:08] eidolonnight opened #56 "Team Reps access to update WordPress.org calendar"
https://make.wordpress.org/meetings/

Seek access for this site/calendar from Meta. Courtney can provide support.

[2022-04-08 17:35] murillol commented on #56
Looks like this is done!!? And confirmed that Marketing has an entry for our weekly meetings.
[From Slack](https://wordpress.slack.com/archives/C023M4VELMB/p1649358928513979)

[2022-04-08 17:39] murillol commented on #55
From #meta on Make WP Slack: https://wordpress.slack.com/archives/C02QB8GMM/p1648640123266429
- Dan may be able to help with the Showcase **maintenance** and needs a couple of bullet points on what that would entail. Ryan Marks also interested.
- Otto suggests considering setting up some kind of team for it.

[2022-04-09 08:04] nalininsbs commented on #47
Thank you @nimeshpatel-multidots @dave-kushal and @ronakganatra-multidots. Thank you for looking at this during your contributor event.

@eidolonnight do you want an entry for this each month or could we remove the date in the title? Could we adapt this for WordCamp Europe's Contributor Day? Thank you.

[2022-04-09 09:42] nalininsbs commented on #56
Meta confirmed the existing entry for marketing. @eidolonnight do you now have working access to edit it? Do Larissa and I need access or can ticket be closed? Thank you

[2022-04-10 05:40] dugyen commented on #41
Drafted Meeting Notes for 6th April Last Friday. https://make.wordpress.org/marketing/?p=9022&preview=true

[2022-04-10 23:53] murillol commented on #41
Thanks @dugyen! I've looked over them and made the following edits:

- removed hyperlinks from WordPress IDs and remove any remaining Slack IDs
- completed item 4e (GitHub)
- updated Slack Thread links
- item 5 has a line that has much larger font and I can't seem to change it..can anyone help?
- updated the date and time of the next meeting

As usual, let's wait until Monday evening to see if @na

[2022-04-11 00:02] murillol commented on #42
Hi, Agenda Draft is here, please add to it @nalininsbs @eidolonnight : https://make.wordpress.org/marketing/?p=9052&preview=true

1. Welcome
2. Getting to know each other
    a. Attendees
    b. Social question of the week
3. [Notes from the Last Meeting](https://make.wordpress.org/marketing/?p=9022&preview=true)
    a. Volunteer call for notetakers and for our bi-weekly coffee break.
4. Project U

[2022-04-11 00:07] murillol commented on #42
[Meeting Script is here](https://docs.google.com/document/d/1GyFCLcrE340pVO__KzEiNkUKd31Qo7fPq0LxZOIhWH0/edit?usp=sharing)

[2022-04-11 19:50] nalininsbs commented on #41
It likes it has imported some code in all the text. The larger font is without this. Did Ugyen import the text it from a Word document? @abhansnuk if you have time, could you look at this and remove the imported code? If not, could someone else in a later timezone? Thank you

[2022-04-11 19:54] nalininsbs commented on #42
Social question of the week - what is your favorite material to use in your work or hobby, and why do you like it? This could be a particular wood, textile, pen, tool or more.

[2022-04-11 19:57] nalininsbs commented on #42
Thank you for adding to this today Larissa.
@murillol was the card shared in the marketing already? Thank you. Could you share it and invite any suggestions or updates on actions for anyone unable to join the meeting. Can you check-in with @jpantani if he has been able to update the GitHub card on the new campaign which we can refer to in the meeting. May be he will have an update he wants to shar

[2022-04-11 20:01] abhansnuk commented on #41
Hello. I have had a quick look at the P2. The formatting from an original document and some of the coding has been brought in. The option to strip import coding is not working.

If you take the text for each section and put it into notepad or any HTML editor, and then copy it back into the P2, it will resolve this. It will not keep links, so you will need to keep a note of those. I have left in an

[2022-04-11 23:11] murillol commented on #41
Thanks @abhansnuk and @nalininsbs, I was actually able to change the typography size in the post's Block menu, so it looks good now.  If you all have nothing else to add to the Notes, @dugyen can hit publish :)

[2022-04-12 01:02] Starbuck245 commented on #42
I have a couple of updates:
- This month's edition of the meetup organizer newsletter will be handled by Cate from the Community Team, but it will come back to marketing again soon.
- I have been working on a content audit of WordPress.org and identifying priorities for improvements, both in terms of content and SEO. I will share my findings soon, and I'm hoping to get some involvement from anyone

[2022-04-12 01:17] abhansnuk opened #57 "WordPress.org content audit & SEO"
Set up macro card in training for Anjana.

Information at a macro level will belong on this card. Individual tasks will be added into the other columns, and can be cross-linked to this macro card. Have fun Anjana.

[2022-04-12 01:19] Starbuck245 commented on #57
Thanks so much for helping me by creating this project on GitHub, @abhansnuk ! Would you be able to assign this to me so I can add more information?

[2022-04-12 01:23] abhansnuk opened #58 "Content audit: micro task"
Example for Anjana for GitHub training

[2022-04-12 01:25] Starbuck245 commented on #58
Thanks for creating this micro task, @abhansnuk ! I'll add more information here soon. Could you please assign the task to me?

[2022-04-12 01:32] abhansnuk commented on #5
@nalininsbs do you still need any help with this? Anjana may be able to do some too.

[2022-04-12 01:34] Starbuck245 commented on #5
Hello! Thanks for the tag @abhansnuk please let me know if/how I can help!

[2022-04-12 04:55] jpantani commented on #51
With the new post being published, we will finally begin pointing to it from all social media posts supporting the campaign beginning the week of 11 April. Currently, one post per week is sent out on the 4 major social platforms for WordPress.org (FB, IG, LI, & Tw).

[2022-04-12 09:09] nalininsbs commented on #41
Thank you Larissa and Abha.

The font is still showing imported code. If you look at the font compared to a previous edition. For now, it has been published and this can be fixed after. It should not affect the feed. Edits have been made. Shall we start putting the date in when we refer to last week's notes in the current week's notes @murillol ?

Published link: https://make.wordpress.org/marketi

[2022-04-12 09:12] nalininsbs commented on #42
Thank you @Starbuck245 for the update. Would you like a slot at this week's meeting for any of these items or a particular week for sharing findings on the content audit?

@murillol from feedback, shall we add the date of the last meeting in the notes and agenda when we refer to it? Thank you

[2022-04-12 12:15] murillol commented on #42
@nalininsbs do you mean that you received feedback that we should include the date of the last meeting in the notes and agenda? I don't think it is necessary but if people reading our notes and agenda think it's missing, I'm ok with adding it!

[2022-04-12 12:30] murillol commented on #41
The font sizes are looking OK for me @nalininsbs!

[2022-04-12 12:36] murillol commented on #42
- For the GitHub item, a spreadsheet [was mentioned](https://wordpress.slack.com/archives/C0GKJ7TFA/p1649259132284439) in the Meeting but a link to it has not yet been shared in the thread @nalininsbs
- For the Contributor Day item, I will not be at WCEU Contributor Day, but am happy to help wherever I can! I am not sure what is needed for the contributor spreadsheet idea ([thread here](https://wo

[2022-04-13 18:00] dugyen commented on #48
@nalininsbs Could you please assign me here.

[2022-04-18 23:59] jpantani commented on #51
Update 18 April: As an inaugural brand campaign (or first in a while at least) Grow Your Story resides in an ecosystem where “updates” and “news” reign supreme. However, the campaign continues onwards with weekly posts, and it makes up about 8.5% of our tagged social posts.
Best engagement occurs on Twitter while by platform the campaign enjoys high ranks of engagement on Instagram among all the c

[2022-04-19 11:16] abhansnuk commented on #42
Posting link to published notes for Larissa: https://make.wordpress.org/marketing/2022/04/19/notes-global-marketing-meeting-13-april-2022/

I am not closing this card as yet it has an open question above @nalininsbs and @murillol are to discuss with @jpantani and move to the WCEU card.

[2022-04-19 11:17] abhansnuk commented on #42
Card for 20 April 2022 meeting [GitHub card](https://github.com/WordPress/Marketing-Team/issues/48)

[2022-04-19 11:18] #41 closed

[2022-04-19 11:19] #4 closed

[2022-04-19 11:21] abhansnuk commented on #22
Published link https://make.wordpress.org/marketing/2022/03/30/agenda-global-marketing-team-30-march-2022/

Removed from highlight box.

[2022-04-19 11:21] #22 closed

[2022-04-19 11:31] abhansnuk commented on #12
Published post at https://make.wordpress.org/polyglots/2022/03/22/polyglots-monthly-newsletter-march-2022/

Be A Translator video featured in this edition: https://youtu.be/cx5CU5vrAAc
Polyglot contributor Gautam Navada ([vgnavada](https://profiles.wordpress.org/vgnavada/))

Contributors from marketing: WP.org IDs: webcommsat, adeebmalik, nalininonstopnewsuk, anjanavasan

[2022-04-19 11:31] #12 closed

[2022-04-19 12:25] murillol opened #59 "Make WordPress Slack onboarding video - Bhutanese"
**Slack threads on this item:**
- https://wordpress.slack.com/archives/C0GKJ7TFA/p1648051672777469
- https://wordpress.slack.com/archives/C0GKJ7TFA/p1648653522094939

[2022-04-19 12:26] murillol commented on #59
@nalininsbs could you please assign @dugyen to this item?

[2022-04-19 13:15] murillol commented on #48
- [Agenda Draft on P2](https://make.wordpress.org/marketing/?p=9052&preview=true)

[2022-04-19 13:19] murillol commented on #51
@jpantani are there any plans to translate the campaign into Spanish (and other languages)?

[2022-04-19 17:01] jpantani commented on #51
@murillol that's great idea as the campaign evolves. I think it might be worth taking a look at this performance and making tweaks before doing so. Also I would love help/guidance in working with polyglots because I'm not familiar with that process.

[2022-04-19 17:06] murillol opened #60 "2022/05/04 Global Marketing Team Meeting"
All things related to this meeting and any collaboration, including:

-  planning
-  suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful inks:

- [Marketing Tasks

[2022-04-19 17:52] murillol commented on #48
[Script for Meeting](https://docs.google.com/document/d/12jsRJzyw4CZM_DcNzjN-vVgjK9CPSMiBKnsSw5v4-cU/edit?usp=sharing)

[2022-04-19 18:12] murillol commented on #51
Cool @jpantani I think a good way would be to join in the #polyglots weekly Slack chat on Wednesdays, and drop in the request/question there, and they'll be happy to tell us how to proceed!

[2022-04-19 19:58] dugyen commented on #59
@murillol @nalininsbs Could you please assign me.

[2022-04-19 20:01] murillol commented on #59
I still can't assign @dugyen to this card, help!!

[2022-04-19 20:24] meherbala commented on #59
@murillol assigned @dugyen to this card

[2022-04-20 13:49] eidolonnight opened #61 "Documentation Sprint: Friday 22 April 2022"
Once a month, I spend a day focused on writing and documentation. For this sprint, I'm looking at the following items:

- Create: Coffee hour facilitator guide
- Update: [resource links for Slack and Github training](https://make.wordpress.org/marketing/handbook/getting-involved/new-contributor-orientation/)
  - May benefit from also linking to contributor training: https://wordpress.org/contribut

[2022-04-20 15:19] dugyen commented on #50
@eidolonnight Could you please assign me - am notetaker for April 27th too :)

[2022-04-20 15:23] thetinyl commented on #61
New contributor here! I'd like to help out this doc sprint. 👍

[2022-04-20 15:32] murillol commented on #60
@yashwardhanrana will be the note-taker for this meeting

[2022-04-22 14:24] eidolonnight commented on #61
Added https://make.wordpress.org/marketing/handbook/getting-involved/coffee-breaks/ to the handbook.

[2022-04-22 15:30] murillol commented on #50
April 2022 Polyglots newsletter:
- https://mailchi.mp/wordcamp/glotpress-30-arrives-to-translate-wordpress
- https://make.wordpress.org/polyglots/2022/04/22/polyglots-monthly-newsletter-april-2022/

[2022-04-22 17:41] dugyen commented on #48
@murillol @eidolonnight @nalininsbs I have posted our draft meeting notes could you please review
https://make.wordpress.org/marketing/wp-admin/post.php?post=9104&action=edit

[2022-04-24 11:02] nalininsbs commented on #48
Thank you @dugyen for the draft and volunteering so often.

I have reviewed this and made the following changes:
- on attendees, changed phrase 'reviewed'. This is a note for all notetakers, we are not asking for people to 'review' the attendees. The attendees list when notes are taken also changes with async contributions. Perhaps we check the number before publishing, and include any facilitator

[2022-04-24 11:31] nalininsbs commented on #59
**These are the next actions on this from the notes on these onboarding video tasks which I am copying into this card. Is there anything else?:**
- external microphone to be used for the recording of the voiceovers and volume check to be carried out
- confirmation from GTE of transcript (this is done by polyglots and not marketing, this can be the transcript translator if they are also a GTE)
- co

[2022-04-24 11:45] nalininsbs commented on #27
Some contributors who have contributed to marketing in the past or at marketing tables are at the event today. The Handbook card, social media cards, and GrowYourWP cards were shared via the WordCamp Vienna website for anyone wanting to contribute to marketing.

- [March Handbook review](https://github.com/WordPress/Marketing-Team/issues/47)
- Social media card
- [GrowYourWP campaign awareness](ht

[2022-04-24 20:14] murillol commented on #48
Thanks @nalininsbs and @dugyen! my comments:

- On attendees, I would not include any number. Just "the attendees can be viewed in this Slack thread". I see now in this draft there is no number indicated, and I would keep it that way going forward.
- For Notes purposes, I would **not** consider as attendees any facilitators or those who gave updates through the GitHub card for the week
- Item 3 No

[2022-04-24 20:39] murillol commented on #59
hi @dugyen, from what @nalininsbs has kindly summarised, it looks like the next step here is to put out a call out in your Locale:
- for someone to help merge the video + audio
- and to make sure a GTE has reviewed the transcript/translation

[2022-04-25 11:11] dugyen commented on #59
@murillol @nalininsbs both transcript and voice over done by our locale manager of dzongkha. I am currently working on making them all together.

[2022-04-26 17:46] murillol commented on #48
Hi @dugyen, you can go ahead and publish the Notes, thank you!

[2022-04-27 10:27] nalininsbs opened #62 "2022/05/11 Global Marketing Team Meeting & week's planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

**Useful cross-links:**
[Marketing

[2022-04-27 10:32] nalininsbs commented on #50
Social question for today's meeting:
What was the first art or creative hobby you had as a child, and do you still do that art form or creative hobby today?

[2022-04-27 10:40] nalininsbs commented on #50
Updates from last week to check:
- any new update on WordCamp Europe Contributor Day
- Content audit: is there a day set for more time or collaboration?
- any new input on
- documentation sprint. Mention in Props about a documentation water cooler. Is there a marketing update on this @eidolonnight  or does it relate to another team?
- People of WordPress: this is behind due to various illnessess,

[2022-04-27 12:38] murillol commented on #62
We have a similar card already open here: https://github.com/WordPress/Marketing-Team/issues/60 - should we merge? @nalininsbs

[2022-04-27 12:40] nalininsbs commented on #50
Update from jpantani:

[2022-04-27 12:45] nalininsbs commented on #50
**Follow** up from team reps group.
[Meta tickets relating to marketing query from Meta []([](team](https://wordpress.slack.com/archives/C023M4VELMB/p1647995704962849))) - asked if there are any outstanding that they need marketing input into.

[2022-04-27 13:31] nalininsbs commented on #50
**WP Diversity updates I can locate of awareness relevance for marketing:**
- [WP Diversity APAC meetings to start from May 12, 2022 [](planned](https://make.wordpress.org/community/2022/04/22/wpdiversity-is-expanding-to-apac/))
@jillb and Devin asked to help spread the word.

Meetups and WordCamps looking for speakers can share  in the diversity-speaker-support channel on the Making WordPress Sla

[2022-04-27 13:43] eidolonnight opened #63 "Documentation Sprint: Wednesday 25 May 2022"
Once a month, I spend a day focused on writing and documentation. For this sprint, I'm I'll be looking at the following items:

- Update: [resource links for Slack and Github training](https://make.wordpress.org/marketing/handbook/getting-involved/new-contributor-orientation/)
  - May benefit from also linking to contributor training: https://wordpress.org/contributor-training/
  - We may need to

[2022-04-27 13:45] eidolonnight commented on #61
This sprint is complete and items have been updated. May's sprint will carry on in https://github.com/WordPress/Marketing-Team/issues/63

[2022-04-27 13:45] #61 closed

[2022-04-27 14:21] murillol commented on #50
Thanks @nalininsbs, nothing I am promoting :)

[2022-04-27 14:29] rmartinezduque commented on #50
@nalininsbs, here's an update regarding the Month in WordPress post:

- The next edition of Month in WordPress aims to be published next Thursday, May 5, 2022.
- If anyone has a relevant Make Team update they would like to see featured, please feel free to add it to [this GitHub card](https://github.com/WordPress/Marketing-Team/issues/49) or share it in the Make Marketing Slack channel and ping `R

[2022-04-27 14:56] nalininsbs commented on #61
Confirmed coffee break is scheduled for 40 mins and not one hour. References to coffee break one hour/ coffee hour to be updated, and in handbook.

[2022-04-27 14:57] nalininsbs commented on #23
Note: confirmed coffee break is scheduled for 40 minutes and not one hour. References to coffee hour are being updated by @eidolonnight.

[2022-04-27 18:32] rmartinezduque commented on #49
The next edition of Month in WordPress aims to be published next Thursday, May 5, 2022.

If anyone has any Make Team updates they would like to see featured, please feel free to:
- Add them as a comment to this GitHub card, or
- Share them in the Make Marketing Slack channel and ping `Reyes Martinez` for awareness by **Tuesday, May 3, 2022**.

Thank you!

[2022-05-01 14:22] dugyen commented on #50
@murillol @eidolonnight @nalininsbs Could you please review our draft meeting notes :
https://make.wordpress.org/marketing/wp-admin/post.php?post=9162&action=edit

[2022-05-03 09:16] nalininsbs commented on #60
Card and call for agenda and updates shared in the [Marketing [](Slack](https://github.com/WordPress/Marketing-Team/issues/60))
Next week's card - [May 11, 2022](https://github.com/WordPress/Marketing-Team/issues/62)

[2022-05-03 09:17] abhansnuk commented on #60
Latest call for testing on FSE - request for amplification
https://make.wordpress.org/test/2022/04/28/fse-program-testing-call-14-rallying-recipe-reviewers/

[2022-05-03 12:18] megphillips91 commented on #23
Just asking that we update the project thread here to include the time in UTC. I keep forgetting - so sorry. If It is here I will not forget I promise.

Would like to volunteer to host June 16th, 2022.

[2022-05-03 16:03] yvettesonneveld commented on #60
WCEU contributory day update: I'm not speaking, so I'll be able to help facilitate.

[2022-05-03 22:35] nalininsbs commented on #50
Thank you @dugyen and for the message. I have edited and reviewed the notes.

When you are adding in updates as bullet points, can you please check the same topic update is listed together as the blog was breaking the format into a fresh bullet point for each sentence from the same update. This can be checked too when you preview the post and are checking the links there. It can be easier to check

[2022-05-03 22:41] nalininsbs commented on #50
I have made these amendments and published.
https://make.wordpress.org/marketing/2022/05/03/notes-global-marketing-meeting-april-27-2022/

[2022-05-03 23:05] nalininsbs commented on #62
[Agenda preview](https://make.wordpress.org/marketing/?p=9192&preview=1&_ppp=ac39f5367f)

Social question: Share what smell do you find the most soothing or relaxing, and why?

[2022-05-03 23:22] murillol commented on #60
From @nalininsbs:
[Agenda preview](https://make.wordpress.org/marketing/?p=9192&preview=1&_ppp=ac39f5367f)
Social question: Share what smell you find the most soothing or relaxing, and why?

Nalini I copied over what you shared here: https://github.com/WordPress/Marketing-Team/issues/62#issuecomment-1116740800 becasue that's next week's meeting :)

[2022-05-04 00:45] jpantani commented on #51
No major updates this week.
During the team meeting @nalininsbs can we please make a call directly to those on the make marketing team to share their stories. It would be great to start from our own group before looking outside of our group for participation. Thank you!

[2022-05-04 00:50] jpantani opened #64 "WordCamp Europe 2022 Marketing Table - Contributor Day"
During contributor day in WCEU we will have a table dedicated to solving marketing tickets.

This is an open call for brainstorming ideas that can be used to help generate contributor interest in marketing for WordPress.

Table lead Jonathan Pantani
Participants: TBA

Ideas for problems to solve: TBD

[2022-05-04 00:53] jpantani commented on #60
Two issues that would be good to bring up during the team meeting tomorrow include:

Contributor Day / Marketing Table: https://github.com/WordPress/Marketing-Team/issues/64
Call for ideas and problems to tackle during contributor day

Grow Your Story: https://github.com/WordPress/Marketing-Team/issues/51
Call for Make Marketing Members to participate

[2022-05-04 00:56] jpantani commented on #64
It would be wonderful to get an idea of who might attend as well.

[2022-05-04 00:59] murillol commented on #64
@yvettesonneveld [indicated she'd like to participate](https://github.com/WordPress/Marketing-Team/issues/60#issuecomment-1116269866), so adding here here :)

[2022-05-04 11:10] nalininsbs commented on #50
Please do not close this card at the moment. Thank you

[2022-05-04 11:36] nalininsbs commented on #49
@rmartinezduque could you add the link to the published newsletter when it is out to this card and then move it to Done. Thank you.

[2022-05-04 11:39] nalininsbs commented on #27
Informal discussions about how to promote contributing took part at the event. Ideas are to be taken to Europe. Thank you to anyone who gave time to this and encouraging the discussions.

[2022-05-04 11:39] #27 closed

[2022-05-04 11:41] nalininsbs commented on #48
Coming back on this @murillol
 "For Notes purposes, I would not consider as attendees any facilitators or those who gave updates through the GitHub card for the week." I am unsure on this. If we are encouraging async contributions and people to leave updates on the cards which we can share for them, then they have participated in the meeting and we should acknowledge that.

[2022-05-04 11:44] nalininsbs commented on #48
@dugyen could you please add the link to the published notes into this card. Thank you.

[2022-05-04 11:53] dugyen commented on #48
https://make.wordpress.org/marketing/2022/05/03/notes-global-marketing-meeting-april-27-2022/

[2022-05-04 11:56] nalininsbs commented on #64
Updated card to include event and year, triaged and added to board. Call to be promoted at Marketing Meeting 4 May 2022. Thank you @jpantani for the update and moving this forward.

[2022-05-04 12:20] nalininsbs commented on #60
Published agenda https://make.wordpress.org/marketing/2022/05/04/agenda-global-marketing-meeting-may-4-2022/

[2022-05-04 13:44] majadidit commented on #64
If you think it would help, I could give a table in our booth to Marketing team throughout the conference, so if people would like to contribute more, or ask questions on Non-contributor days - that would be ok! :)

[2022-05-04 13:54] rmartinezduque commented on #49
Thanks, @nalininsbs. Here's the draft for the April 2022 edition of the Month in WordPress: https://docs.google.com/document/d/1pKiIciOaSud74fS7WKktQfDXwS6MhSqhLMPY-iZPMik/edit?usp=sharing. I'm hoping to publish it tomorrow (May 5) by 15:00 UTC. Thank you!

[2022-05-04 14:00] eidolonnight commented on #44
For now, the process for #WPDiversity content is for Jill to reach out to the current campaign point-of-contact noted in https://github.com/WordPress/Marketing-Team/issues/7. Right now that is [@Santana.Inniss](https://wordpress.slack.com/team/U02TM887GQL). Posts are then scheduled for the official WordPress social accounts as-needed. Going ahead and closing this issue, but you can follow up with

[2022-05-04 14:08] murillol commented on #23
hi @megphillips91, I've just added the time to the first comment on the card :-)

[2022-05-04 14:09] eidolonnight commented on #58
We don't seem to have an issue description or any details here, so I'm closing this issue for now.

[2022-05-04 14:09] #58 closed

[2022-05-04 14:10] eidolonnight commented on #57
We don't seem to have an issue description or any details here, so I'm closing this issue for now.

[2022-05-04 14:10] #57 closed

[2022-05-04 14:26] eidolonnight commented on #40
@abhansnuk it sounds like this task is done and/or now residing with the Training Team, is that correct?

[2022-05-04 14:33] santanainniss commented on #63
@eidolonnight Looking at the amplification template line item above, must this be in GitHub? Or would a Google form template work? @yvettesonneveld, Reyes and I are discussing this for the Yoast contributor day as a good issue!

[2022-05-04 14:34] eidolonnight commented on #35
@azhiya thanks for jumping in. Before we close this issue, is there somewhere we should follow the progress of this or anything you would like the Marketing Team to assist with?

[2022-05-04 14:36] yvettesonneveld commented on #63
@eidolonnight We're also looking at starting an outline for training for new marketing contributors
How would you like to get input for this? We're chatting about getting new contributors to follow the current training and getting their remaining questions, for instance. Any other thoughts?

[2022-05-04 14:40] eidolonnight commented on #43
https://make.wordpress.org/marketing/handbook/getting-involved/creating-meeting-notes/ has been updated. I think we can close this issue?

[2022-05-05 18:38] rmartinezduque commented on #49
The April 2022 edition of Month in WordPress is now published: https://wordpress.org/news/2022/05/the-month-in-wordpress-april-2022/.

[2022-05-05 18:44] rmartinezduque commented on #49
@nalininsbs it looks like I don't have permission to close the card or move it to 'Done'.

[2022-05-10 13:43] murillol commented on #62
- Reminder that @eidolonnight will likely be unable to attend this week's meeting live, and we shouldn't expect any of the other Automattic folks next either (i.e. no updates from [@jpantani](https://wordpress.slack.com/team/U02E9BE1J6P), [@Reyes Martínez](https://wordpress.slack.com/team/U4QJBN9BK), [@Brett McSherry](https://wordpress.slack.com/team/U02U9S93BDE), [@Dan Soschin](https://wordpress.

[2022-05-10 13:49] murillol commented on #62
**Agenda**

1. Welcome to the team and visitors
2. Getting to know each other
    a. Who is with us today – contributors attending live and asynchronously
    b. Social question of the week
3. Notes from May 4, 2022
    a. Volunteer call for notetakers and for our bi-weekly [coffee break](https://github.com/WordPress/Marketing-Team/issues/23)
4. Projects and Task Updates
    a. GitHub links
    b.

[2022-05-11 01:35] murillol opened #65 "2022/05/18 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boa

[2022-05-11 01:49] murillol commented on #62
@abhansnuk and @megphillips91 [were working on a photo guide](https://wordpress.slack.com/archives/C0GKJ7TFA/p1651677130553099) for People of WordPress and adding photos for the next editions to GitHub in order to help photo editors get started. Do we have an update on this?

[2022-05-11 13:00] abhansnuk commented on #62
The photos have not arrived in as yet, follow-ups have been sent. We will look at the guide again in two weeks. Thanks @murillol

[2022-05-11 13:24] yashwardhanrana commented on #60
Thanks @murillol!

The post is now live: https://make.wordpress.org/marketing/2022/05/11/notes-global-marketing-meeting-4-may-2022/

🚀

[2022-05-11 14:31] #48 closed

[2022-05-11 14:36] abhansnuk commented on #60
@nalininsbs I have added the meetings-notes label to this card. It does not seem to affect the milestones or search by milestone date. Was there anything else you wanted to test?

[2022-05-11 14:39] nalininsbs commented on #60
Thank you for testing that so we can share this in the meeting. @abhansnuk If someone goes to the label meetings-notes, will it still show them if an item relates to this area and has been closed? Will they be able to easily see which cards are open when filtering by meetings-notes? Ideal would be to have the meetings to come to appear at the top. From what I understand of your screenshare, this m

[2022-05-11 14:47] abhansnuk commented on #34
This was for the video that was specific to contributing to core. It was created as a version for WCEU 2021 as the version requested for Learn WordPress would not be ready by then. It may be that there is an updated version now on Learn WordPress, if so then this could be deleted, and the link on the WCEU 2021  contributor resource updated to the latest version on Learn WordPress. Thanks @azhiya.

[2022-05-14 15:26] murillol commented on #50
Should we still keep this one open @nalininsbs?

[2022-05-14 15:27] murillol opened #66 "2022/05/25 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- inks to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boar

[2022-05-14 15:59] murillol commented on #62
I've looked at [the draft notes](https://wordpress.slack.com/archives/C0GKJ7TFA/p1652283407598979) from Brett and have made the following edits:

- Changed Slack IDs to WordPress IDs
- Removed hyperlinks from WordPress IDs
- Updated link to Agenda (it was pointing to the May 4 agenda)
- Updated link to Social Question of the week Slack thread it was pointing to the May 4 question)
- item 4b: I've

[2022-05-15 13:07] rmartinezduque commented on #49
Thanks, @abhansnuk. I'm afraid I'm still not able to move the card to 'Done' nor close the issue. I only have the option to copy the card link.

<img width="702" alt="screenshot" src="https://user-images.githubusercontent.com/20700757/168474392-609ea0d7-9050-4bb3-8cdf-c9409e64b721.png">

[2022-05-16 00:59] abhansnuk commented on #49
I have asked GitHub to send another email to you @rmartinezduque to see if this fixes it once you have confirmed the join request. Thanks.

[2022-05-16 01:02] abhansnuk commented on #26
Would you be able to update the header and see if it lets you change it @murillol ? Would you like to go back to the contributors who worked on the image a version for the header image for WordPress Events on Twitter? Thanks.

[2022-05-16 01:41] murillol commented on #26
Ok I just updated it and its looks pretty cool! [Check it out](https://www.linkedin.com/company/12976001/admin/) @abhansnuk

Will the multidots folks be doing another Contributor Day or should I just mention in the [original card](https://github.com/WordPress/Marketing-Team/issues/36)?

[2022-05-16 01:50] murillol commented on #51
hi @jpantani ! we're still encouraging marketing contributors to share their own stories, besides that do we have an update for this week? or maybe an initial goal we want to reach (like 100 submissions or something like that) so we can gamify it a little?

[2022-05-16 02:00] murillol commented on #65
- [Script Here](https://docs.google.com/document/d/1a5KkLOR1fIgiNq1AtJbct3A5A5SExx53owtzxHisw7I/edit?usp=sharing)
- [Agenda Draft here](https://make.wordpress.org/marketing/?p=9261)

[2022-05-17 19:08] courtneyr-dev commented on #65
Conversation around the naming of "Socia Learning Spaces" came up.  Here's today's conversation in training about this. https://wordpress.slack.com/archives/C02RW657Q/p1652804018454639.

I asked we give Polyglots and Marketing teams time to also consider implications before we take further action.

[2022-05-18 14:14] yvettesonneveld commented on #25
Update from the May 13th Yoast contributor day:
Big thanks to Courtney to help me facilitate this. Unfortunately, we did not have as many contributors as we expected. So we pivoted to what we could do. We had quite an extensive conversation about localizing the Learn.WordPress.org platform, and
proposed more inclusive wording to replace the currently used "Social Learning". After that, we headed o

[2022-05-18 14:22] murillol commented on #25
Thanks @yvettesonneveld I just added it to the update for today (it's in the Meeting script).

[2022-05-18 15:13] eidolonnight commented on #63
If we can pipe the form input to a github issue, that'd be great!

[2022-05-18 17:44] eidolonnight commented on #63
How would you like to get input for this? We're chatting about getting new contributors to follow the current training and getting their remaining questions, for instance. Any other thoughts?

@yvettesonneveld I heard that the Training team is working on general contributor training too, so IMO we should sync up with them before creating any of our own training. Our training can then be specific t

[2022-05-18 18:42] rmartinezduque commented on #63
Possible github issue template? Would need to include link/mission to help people understand what the marketing team can support.

@eidolonnight I'm not sure if it will be very complicated to implement, but [an issue form](https://docs.github.com/es/communities/using-templates-to-encourage-useful-issues-and-pull-requests/configuring-issue-templates-for-your-repository#creating-issue-forms) could a

[2022-05-23 21:53] vimes1984 commented on #65
Notes are ready for revision @murillol / @eidolonnight / @nalininsbs

[2022-05-24 16:13] murillol opened #67 "2022/06/01 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boa

[2022-05-24 16:15] murillol commented on #51
Checking in @jpantani :-)

[2022-05-24 16:22] murillol commented on #66
- [Script](https://docs.google.com/document/d/1raD9JdeqsMPoxVwTOezAQdMFwwYaCqdIgNJkv1sIuVY/edit?usp=sharing)
- [Agenda draft on P2](https://make.wordpress.org/marketing/?p=9291&preview=true)

[2022-05-24 22:23] murillol commented on #67
- @abhansnuk and @megphillips91 [were working on a photo guide](https://wordpress.slack.com/archives/C0GKJ7TFA/p1651677130553099) for People of WordPress and adding photos for the next editions to GitHub in order to help photo editors get started. On May 11th we got a status check and were going to wait about 2 weeks to check on progress. Should we something about this?
- Any update on People of W

[2022-05-24 22:25] murillol commented on #66
- @abhansnuk and @megphillips91 [were working on a photo guide](https://wordpress.slack.com/archives/C0GKJ7TFA/p1651677130553099) for People of WordPress and adding photos for the next editions to GitHub in order to help photo editors get started. On May 11th we got a status check and were going to wait about 2 weeks to check on progress. Should we something about this?
- Any update on People of W

[2022-05-25 02:59] abhansnuk commented on #60
Yes this card can be closed. I have moved the query on how to search for it to a note in the wiki section as a  GitHub potential docs to do list. Thanks for the question

[2022-05-25 02:59] #60 closed

[2022-05-25 03:03] abhansnuk commented on #26
The contributors who came from the multidots event are happy to make adjustments to the design, so suggest you add the request on this card and link Chirag Patel to it in Slack too as well as adding his GitHub ID to the request. Thanks @murillol

[2022-05-25 03:04] abhansnuk opened #68 "List of GitHub how to /screenshots to create"
Adding these in a card temporarily as the wiki area was not accessible to some contributors.

[2022-05-25 03:08] abhansnuk commented on #68
**Task:** Create instructions for the wiki on how to filter and use the meeting-notes label as an example.

_Request from @nalininsbs copied over from another card 14 days ago:_
New meetings-notes label created (thanks to idea from Nicholas)

@abhansnuk: Tests completed: It does not seem to affect the milestones or search by milestone date. Was there anything else you wanted to test?

@nalininsbs

[2022-05-25 04:26] jpantani commented on #51
Hi @murillol Yes, sorry I missed the original message so thank you for bringing it back to the top of mind.
I continue to work the campaign with weekly content.
Right now, we still have just a handful of submissions.
The big update is that we will make submissions to the grow your story a part of contributor day so people can talk about their experiences.
(Honestly, I would be happy with 50 submis

[2022-05-25 12:57] yashwardhanrana commented on #67
I can do the notes for this meeting. Thanks, @murillol!

[2022-05-25 13:55] nalininsbs commented on #63
Is there a time for this sprint?

[2022-05-25 14:24] nalininsbs commented on #62
Adding published link so we can close this card. https://make.wordpress.org/marketing/2022/05/18/notes-global-marketing-meeting-11-may-2022/
Thank you

[2022-05-25 14:24] #62 closed

[2022-05-25 14:26] abhansnuk commented on #36
@murillol could this be available as a task at WCEU too to give another alternative image?  Its GitHub [card](https://github.com/WordPress/Marketing-Team/issues/64)

[2022-05-25 14:57] rmartinezduque opened #69 "The Month in WordPress: May 2022 Edition"
The expected publication date for the May 2022 edition of The Month in WordPres is **Thursday, June 2, 2022**.

### How can you help?

If you have news or any Make team updates that would be valuable and relevant to the post, please feel free to add them as a comment to this GitHub card, or share them on the Make Marketing Slack channel and tag `Reyes Martínez` for awareness by **Tuesday - May 31,

[2022-05-25 15:12] abhansnuk commented on #39
_As part of today's Sprint, adding my contribution async on this card._
@eidolonnight @nalininsbs @murillol @azhiya Courtney, Pooja, Mark Smallman, @OlaIola @meherbala

**1) Changing the location and updating process for this glossary**
There are existing discussions in Learn WordPress about whether this glossary can be incorporated into the contributor area which is being discussed and developed

[2022-05-25 15:14] abhansnuk commented on #63
I am not available after the meeting today. I have added comments and summary of the work that is going on the glossary (and linked to work between docs and Learn WP during 6.0) and related contributor materials coming together on Learn WordPress https://github.com/WordPress/Marketing-Team/issues/39

[2022-05-25 15:16] nalininsbs commented on #54
([discussion on Slack at last sprint day](https://wordpress.slack.com/archives/C0GKJ7TFA/p1650634391141929?thread_ts=1650633295.379699&cid=C0GKJ7TFA))

[2022-05-25 15:17] abhansnuk commented on #54
Thanks. This is currently in discussion with Training on whether the final version could be on Learn WordPress. As the release has been the priority for the last few months, this topic will come back to Learn in mid-June post the reviews on the release.

[2022-05-25 16:56] abhansnuk commented on #35
This needs to be left available on the board so post release work, it can be migrated to Learn WP. It does not need to be open as a marketing task.

[2022-05-25 16:56] #35 closed

[2022-05-25 17:23] abhansnuk commented on #25
@yvettesonneveld can this ticket be closed now please? Are there any links you wanted to add to this beforehand? Thanks for updating.

[2022-05-25 17:27] abhansnuk commented on #14
Adding to this task from feedback and review:
- need to look at grouping labels by color and checking only using colors that are accessible
- arranging a session with LearnWP to look at common labels to make it easier when tickets transfer
- will recheck with Estela on new HelpHub labels
- documentation labels for 6.0 which using in cross-team views will also help in this

[2022-05-25 17:30] #65 closed

[2022-05-25 17:36] abhansnuk commented on #40
Hello, thanks for the ping @eidolonnight. This is the links and embeds that need to be moved over to Learn WordPress and from what I can see, some of this is pending. Some of these may need to be done for WCEU. I will check in with Mark, Olga, Meher, Hauwa and Courtney and see what they might need for WCEU, and then these can be prioritized.

Once done, then this card can be closed. New, future vi

[2022-05-25 17:38] #49 closed

[2022-05-25 17:47] abhansnuk commented on #63
Hello. It is because the card is not assigned to a board. I will add this for you and add a documentation label.

@eidolonnight when you add a card in the repo, you also have to allocate it to a board. In this case the 'Marketing Tasks board'. You can do this under 'projects'. This will then appear on the board and you can either move it along the columns for progression or it can auto move, for e

[2022-05-25 17:49] abhansnuk commented on #63
I have added updates and reviews to as many cards as I could for now.

I have created a new column for where items need to be available until they physically migrate to another team's GitHub so that it is clearer. Need to get back to work. Have fun in the rest of the sprint.

@murillol - for awareness on the extra column and the note above about the task board. Hope they help.

[2022-05-25 21:21] murillol commented on #63
Thanks @abhansnuk , I was creating cards but not adding them to the task board - I will do that from now on.
Just saw the extra column, it definitely helps keep track.

[2022-05-26 14:57] eidolonnight commented on #63
## Recap

- https://make.wordpress.org/marketing/handbook/getting-involved/new-contributor-orientation/ has been updated to fix links, add intros, and add github training links. Removing from the sprint list. We'll want to revisit after Training team has released more contributor training resources sometime after WCEU.
- https://github.com/orgs/WordPress/teams/marketing/ now has the team descripti

[2022-06-01 02:07] murillol opened #70 "2022/06/08 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boa

[2022-06-01 02:16] murillol commented on #67
- [Agenda Script](https://docs.google.com/document/d/1c8rLaCH5w7FnuDiXtGYgVAJcT1Y0AzIrcY3V8Q2J_ZQ/edit#)
- [Agenda Draft](https://make.wordpress.org/marketing/?p=9337&preview=true)

[2022-06-01 03:16] eidolonnight opened #71 "Documentation Sprint: Friday 24 June 2022"
Once a month, I spend a day focused on writing and documentation. For this sprint, I'm I'll be looking at the following items:

- Create: Amplification/promotion request template
  - Possible github issue template? Would need to include link/mission to help people understand what the marketing team can support.
  - Recommendation by @rmartinezduque https://github.com/WordPress/Marketing-Team/issue

[2022-06-01 03:35] #63 closed

[2022-06-01 15:42] murillol commented on #66
Notes Published: https://make.wordpress.org/marketing/2022/06/01/notes-global-marketing-meeting-may-25-2022/ thank you @majadidit @abhansnuk

[2022-06-01 15:42] #66 closed

[2022-06-03 10:35] jpantani commented on #51
We had just 1 contribution during contributor day to the Grow Your Story campaign, although when explained the idea resonates strongly across a diverse group of people.
I ask every member of the Marketing team to share how WordPress, WordCamps and other related activities has helped them in their lives, careers, publishing, blogging, website creation etc. to complete this form and discuss the oppo

[2022-06-08 02:54] murillol opened #72 "2022/06/15 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boa

[2022-06-08 14:04] eidolonnight commented on #70
Meeting script available here: https://docs.google.com/document/d/1xZialhhK8Dm7x2RpnwYbQMf6xzDg4I2qSGFbINjK8yI/edit#

[2022-06-08 15:45] eidolonnight opened #73 "Update: Style Guide and Brand Book handbook page"
From @thetinyl

[2022-06-08 18:00] rmartinezduque commented on #69
The May edition of the Month in WordPress was published on June 2, 2022. Thank you @thetinyl and Hari for your contributions! Link: https://wordpress.org/news/2022/06/the-month-in-wordpress-may-2022/.

[2022-06-08 18:00] #69 closed

[2022-06-08 18:07] rmartinezduque opened #74 "The Month in WordPress: June 2022 Edition"
The expected publication date for the June 2022 edition of The Month in WordPress is Tuesday, July 5, 2022.

### How can you help?

If you have news or any Make team updates that would be valuable and relevant to the post, please feel free to add them as a comment to this GitHub card, or share them on the Make Marketing Slack channel and tag `Reyes Martínez` for awareness by Friday - July 1, 2022,

[2022-06-10 07:55] rmartinezduque commented on #74
Update from the Training team for inclusion in the next edition: [What’s new on LearnWP in May 2022](https://make.wordpress.org/updates/2022/06/07/whats-new-on-learnwp-in-may-2022/).

[2022-06-14 16:21] murillol commented on #67
**Published Meeting Notes:** https://make.wordpress.org/marketing/2022/06/14/notes-global-marketing-meeting-1-june-2022/

[2022-06-14 16:21] #67 closed

[2022-06-14 16:23] murillol opened #75 "2022/06/22 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boa

[2022-06-14 16:27] murillol commented on #72
Script: https://docs.google.com/document/d/1WJpg6jRQWi3EcCchOs2iijNu5s9GJW1RMDm6885XIHA/edit?usp=sharing

[2022-06-15 14:06] dugyen commented on #72
I would like to let the team know that I will be doing the Notes for this meeting, could you please assign me here.

[2022-06-20 10:44] dugyen commented on #72
@murillol @eidolonnight ready for review

[2022-06-20 13:39] murillol commented on #72
Thanks @dugyen ! I'll let you know once I've taken a look :)

[2022-06-20 17:23] nalininsbs commented on #55
Hello. Ryan Marks will need to comment on this card and he can be assigned to it.

[2022-06-20 17:49] nalininsbs commented on #55
@harryjackson1221 to be added to this card. @abhansnuk asked him last week in the slack thread to comment on the card so it can be assigned. Anyone else volunteered on this?

[2022-06-22 04:07] murillol commented on #72
Thanks @dugyen, made some edits of wordpress.org ID's and Slack links, and added more to Dan's update on social media.
Link to published notes: https://make.wordpress.org/marketing/2022/06/20/notes-global-marketing-meeting-june-15-2022/

[2022-06-22 04:07] #72 closed

[2022-06-22 04:08] murillol opened #76 "2022/06/29 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boa

[2022-06-22 14:44] murillol opened #77 "2022/07/06 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boa

[2022-06-22 14:45] murillol commented on #77
I will not be at this meeting because I'lll be on Holiday!

[2022-06-23 17:03] nalininsbs opened #78 "Polyglots Team newsletter June 2022 - marketing input"
Link from @nao shared at Marketing Meeting June 22, 2022 https://docs.google.com/document/d/1h8UYOz0gDjs-kfxtBDz_e55AEIq4px4UObb84B7HdWI/edit#

[2022-06-23 17:24] nalininsbs opened #79 "Wolfram embeds promotion"
Creating card for Reyes as could not see one. If exists, please copy information and this one can close. Thank you

[2022-06-23 17:32] nalininsbs commented on #79
@azhiya is this likely to be content on Learn WordPress too?

[2022-06-23 17:36] nalininsbs opened #80 "WordPress Photo Directory Social Media Campaign - #WPPhotos"
**For those interested in the Photo Directory social campaign.**

Example of an update highlighted at the Marketing meeting on June 23, 2022 (https://wordpress.slack.com/archives/C0337A01LHW/p1655471947189519) in the [#photos](https://wordpress.slack.com/archives/C0337A01LHW) channel.

The WordPress Photo Directory reached the 3,000 photos milestone. Examples of social media relating to it:

- [Tw

[2022-06-23 17:53] nalininsbs opened #81 "Discussion: Social media promotion of WordCamps on WordPress.org social accounts"
Perhaps for reference only and link to post for comments.
https://make.wordpress.org/marketing/2022/06/17/discussion-promoting-wordcamps-with-the-official-wordpress-social-accounts/

Before ticket closed, add:
- link to decision or follow up post
- any handbook reference on WordPress logos of relevance
- links to WordCamp schedules

[2022-06-23 18:10] nalininsbs commented on #71
On #35 this has no work for marketing. It is open and in column for transfer to LearnWP. Once done, ticket will be closed in marketing.

[2022-06-23 18:12] nalininsbs commented on #71
On #46 this ticket needs updating if it is still being used for WordPressEvents social and Marketing Team LinkedIn. Assigning this to @murillol . If still usable, can the notes be put on a handbook page Larissa? Thank you

[2022-06-23 18:16] nalininsbs commented on #64
@jpantani and @yvettesonneveld could you please add an update from WCEU and any links to items to this card, Thank you.

[2022-06-23 18:18] nalininsbs commented on #47
Link to update/ summary of the update on this sprint to be added and this card can then  be closed. Over to @eidolonnight . Thank you

[2022-06-23 18:20] nalininsbs commented on #71
I have updated and reviewed a number of cards. New cards created for items requiring from this week. Actions added for a couple of cards.

[2022-06-23 18:23] nalininsbs commented on #28
Abha discussed with Matteo at WCEU. Suggest a zoom call to assist and progress?

[2022-06-27 08:26] naokomc commented on #78
Thanks for help @abhansnuk @ellatrix !
Published two versions:
P2 https://make.wordpress.org/polyglots/2022/06/27/polyglots-monthly-newsletter-june-2022/
Email https://mailchi.mp/wordcamp/wordpress-60-translated-to-65-locales-13653860

[2022-06-27 16:59] rmartinezduque commented on #79
**From [Slack Marketing meeting](https://wordpress.slack.com/archives/C0GKJ7TFA/p1651074810368119), April 27, 2022, from @rmartinezduque:**

### Pinterest collaboration

Today and in the coming weeks we will be sharing a few posts about the Pinterest embeds in WordPress' social platforms. Liking and sharing them will be a great way to help spread the word.

Links to first round of social posts for

[2022-06-27 17:12] rmartinezduque commented on #74
Polyglots Monthly Newsletter: https://make.wordpress.org/polyglots/2022/06/27/polyglots-monthly-newsletter-june-2022/

[2022-06-28 10:33] rmartinezduque commented on #80
These are some examples of photo stories shared on social as part of the #WPPhotos campaign:

- https://twitter.com/WordPress/status/1512759232420102147
- https://twitter.com/WordPress/status/1517542249650864130
- https://twitter.com/WordPress/status/1521516443023593472
- https://twitter.com/WordPress/status/1529802289493561346

If anyone is interested in sharing a story behind any of their contri

[2022-06-28 14:41] azhiya commented on #79
@nalininsbs Not at present but I will add it as an idea.

[2022-06-28 17:26] eidolonnight commented on #76
**Script:** https://docs.google.com/document/d/1cjzxrejE3Vgx4MJZtPYAhm9viwtvi2xvTMyIikxZ6To/edit#heading=h.8mc8sa2h1r38
**Agenda (draft):** https://make.wordpress.org/marketing/wp-admin/post.php?post=9471&action=edit

[2022-06-29 15:51] eidolonnight commented on #76
**Slack meeting start:** https://wordpress.slack.com/archives/C0GKJ7TFA/p1656514816947529

[2022-06-30 13:49] eidolonnight opened #82 "#WPDiversity campaign"
Information provided by Jill Binder for promotion of #WPDiversity events

[Upcoming workshop announcements](https://make.wordpress.org/community/tag/wpdiversityworkshops/)

Lots of past data and testimonials content to draw from:
- [Monthly Reports](https://make.wordpress.org/community/tag/DiverseSpeakerWorkshopsReports/)
- [Annual Reports](https://make.wordpress.org/community/tag/wpdiversityannua

[2022-07-01 08:09] rmartinezduque commented on #76
Hello! The meeting notes for June 29 are ready for review: https://make.wordpress.org/marketing/wp-admin/post.php?post=9507&action=edit. Thank you!

[2022-07-01 09:10] nalininsbs commented on #76
Thank you @rmartinezduque . I have jotted down some small edits and will ask Meher, Abha or Larissa to help make them on the P2 as I am using limited tools at the moment. I will remove the link to personal Twitter account in the Wolfram embeds section. Thank you to @eidolonnight for running meeting solo too.

We can have the update on GitHub sprint next week.

[2022-07-01 09:21] nalininsbs commented on #76
My edits have been added, thank you. The google doc switched to published People of WordPress article from yesterday. We need to check google doc is now closed for public view @meherbala please. I will check its GitHub card.

@murillol - any other review for the notes? Thank you. Has published Polyglots Newsletter link been shared in meeting? Naoko shared on card. This can go on notes as post meet

[2022-07-01 12:45] meherbala commented on #76
@nalininsbs I can confirm that the POWP google doc switched has been closed for public view. Only people who were working on it still have access to the document.

[2022-07-03 13:49] murillol commented on #76
Notes look ready for publishing to me @rmartinezduque @nalininsbs!

@nalininsbs I do not see the Polyglots Newsletter shared in the meeting, we can share it in this week's meeting :-)

[2022-07-04 16:45] rmartinezduque commented on #74
Hi! Quick update here: I'm close to finishing the draft for the Month in WordPress, but in order to leave at least a day to give feedback or add any additional suggestions, I'm pushing back publication to July 6, 2022.

[2022-07-05 09:44] rmartinezduque commented on #74
The draft for the June 2022 edition of The Month in WordPress is now ready for review: https://docs.google.com/document/d/1qmAO_Cncvk4IWE5XGI_Aw5sxbtT6k2W_Pgb3YIBOUOs/edit?usp=sharing.

[2022-07-05 23:06] #76 closed

[2022-07-05 23:09] murillol commented on #75
**Link to Meeting Notes**: https://make.wordpress.org/marketing/2022/06/28/notes-marketing-meeting-june-22-2022/

[2022-07-05 23:09] #75 closed

[2022-07-05 23:19] murillol commented on #77
Link to Meeting Script: https://docs.google.com/document/d/16AlbXk-rUhXBxpMrfJFMASC5XxnQbHs93ymEVkvIIpk/edit#

[2022-07-05 23:26] murillol opened #83 "2022/07/13 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boa

[2022-07-06 00:01] murillol commented on #46
Hi! This is not being used for WordPressEvents social and Marketing Team LinkedIn, therefore not currently needed, and can be archived.

[2022-07-06 14:25] yashwardhanrana commented on #83
I can do notes for 13th, thanks!

[2022-07-06 14:28] eidolonnight commented on #77
Agenda posted here: https://make.wordpress.org/marketing/2022/07/06/agenda-global-marketing-meeting-july-6-2022/

[2022-07-06 16:37] #74 closed

[2022-07-06 16:42] rmartinezduque opened #84 "The Month in WordPress: July 2022 Edition"
The expected publication date for the July 2022 edition of The Month in WordPress is **Friday, August 5, 2022**.

### How can you help?

If you have any news or Make team updates that would be valuable and relevant to the post, please feel free to **add them as a comment to this GitHub card**, or share them on the Make Marketing Slack channel and tag `Reyes Martínez` for awareness by Tuesday - Aug

[2022-07-07 04:50] chaion07 commented on #84
Would love to contribute to the July 2022 edition. Thank you for creating this.

[2022-07-07 12:43] santanainniss opened #85 "Call for contributions or nominations: Word Wide Web Celebration on WP Briefing Podcast"
World Wide Web Day is August 1, 2022. It is a global celebration dedicated to web browsing and the inventor behind it, Tim Berners-Lee. The world wide web revolutionized connection and information sharing, making the world smaller and larger simultaneously. The WordPress mission and community also make the world smaller and larger at the same time! We seek to observe WWW Day 2022 with a dedicated

[2022-07-08 12:55] MGParisi commented on #85
I'll contribute can you provide a reference to my website and/or a backlink?

[2022-07-09 15:35] amitpatel0702 commented on #85
I am ready to contribute as well.

[2022-07-09 18:53] chaion07 commented on #85
Happy to be a part of the global effort. Please let me know how I can help by contributing. Thank you for everything you do towards the WordPress ecosystem.

[2022-07-10 20:26] #78 closed

[2022-07-10 20:33] murillol opened #86 "2022/07/20 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boa

[2022-07-11 12:39] vimes1984 commented on #77
notes are ready for review on the P2

[2022-07-11 18:51] marybaum commented on #85
Happy to represent the over-60 crowd, if that counts! I'm also based in the Midwestern US, usually known as The Great Flyover.

[2022-07-12 17:36] ChrisEdwardsCE commented on #85
Happy to contribute to this.

[2022-07-12 18:39] awarner20 commented on #85
Would love to contribute.

[2022-07-13 02:17] murillol commented on #77
**Notes Published**: https://make.wordpress.org/marketing/2022/07/13/notes-global-marketing-meeting-july-6-2022/

[2022-07-13 02:17] #77 closed

[2022-07-13 02:20] murillol commented on #51
hi @jpantani! any updates for this campaign? I was thinking that plenty of people contributed to the [https://wp19.day/](https://wp19.day/) initiative and maybe we could reach out to some of them directly so they can fill out the form? (since we know they're comfortable sharing testimonials publicly)

[2022-07-13 07:45] alisorru commented on #85
Hi! I'd be happy to contribute :)

[2022-07-13 10:27] nalininsbs commented on #83
I am adding the agenda to the blog.

Link to the [draft script [](notes](https://docs.google.com/document/d/1zisIl6qZxFjTcVx0x3Fr3vFQEMVY-LUVcs88Um8DlcU/edit?usp=sharing)) - thank you to Larissa for efforts on this.

[Last week's notes (6 July 2022)](https://make.wordpress.org/marketing/2022/07/13/notes-global-marketing-meeting-july-6-2022/) - thank you to @vimes1984.

If you would like to volunte

[2022-07-13 10:35] nalininsbs commented on #83
Agenda published [link](https://make.wordpress.org/marketing/2022/07/13/agenda-global-marketing-team-meeting-july-13-2022/)

[2022-07-13 12:31] getsource commented on #85
I would be happy to contribute if it's helpful!

[2022-07-13 15:34] nalininsbs opened #87 "Discussion: Updating the Marketing team description"
Discussion on updating / revising the descriptor of the team that appears in the Marketing Team Handbook.

**Current descriptor**
The Marketing team focuses on making WordPress marketable in all sorts of contexts, from the [WordPress.org](http://wordpress.org/) side all the way to core and the wider community. We market WordPress and its community to the wider world.

6 July 2022: Discussion in Sl

[2022-07-13 15:52] murillol opened #88 "2022/07/27 Global Marketing Team Meeting & Planning"
All things related to this meeting and any collaboration, including:

- planning
- suggestions for items and agenda drafting
- script to assist the running of the meeting
- queries about notes drafting
- links to draft notes and published post
- other Make Teams can also add items for awareness at a future meeting to this card
- collaboration planning/ resources

Useful links:
[Marketing Tasks boa

[2022-07-13 16:23] dugyen commented on #88
@murillol  Could you please assign me as a note taker for July 27 Global Marketing Team Meeting & Planning.

[2022-07-13 16:23] nalininsbs commented on #59
Hello @dugyen , how are things going on this? No rush. Do you think this might be ready a few weeks before WordCamp Asia? Thank you.

[2022-07-13 16:26] nalininsbs commented on #71
@eidolonnight could you please add your update on items you were looking at to this card and close it when you are ready? Thank you.

[2022-07-13 16:31] nalininsbs opened #89 "2022/8/3 Global Marketing Team Meeting and week planning"
All things related to this meeting and any collaborations during the week, including:
- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting
- queries abo

[2022-07-13 16:31] nalininsbs commented on #89
I have updated the descriptor above from comments and to help people who can not attend live.

[2022-07-13 18:12] jillb commented on #85
I was privately nominated and I'd be happy to have my name on the potential nominations list

[2022-07-13 22:49] murillol commented on #36
Nothing else for this card on my end @nalininsbs !

[2022-07-13 22:49] yashwardhanrana commented on #83
Hi all,

I've drafted the notes here and are ready for review: https://make.wordpress.org/marketing/?p=9579&preview=true

Please let me know if you want me to make any changes. 🙂

Thanks!

[2022-07-18 10:49] santanainniss commented on #85
Thank you again to everyone that submitted their interest in participating in the World Wide Web Day WordPress Briefing podcast episode! We received over 20 responses from contributors in 13 countries! WOOHOO!

While I would love to feature each and every contributors that expressed interest, we only have space for 6-8 as noted above. We are in the process of reviewing the names to select a divers

[2022-07-18 10:49] #85 closed

[2022-07-19 11:13] rmartinezduque commented on #84
@chaion07 Thank you! I'll make sure to keep you in the loop when the draft is ready for input and review. In the meantime, if you think there is a Make team update, testing/feedback calls, etc that would be good to include, please feel free to add them to this GitHub card!

[2022-07-19 11:15] rmartinezduque commented on #84
Here are some initial updates that might be worth highlighting in the next edition:

- [WordPress 6.0.1 is now available for download](https://wordpress.org/news/2022/07/wordpress-6-0-1-maintenance-release/)
- [Homepage and Download Page Redesign Project](https://make.wordpress.org/design/2022/07/08/project-kickoff-wordpress-org-homepage-and-download-page-redesign/)
- The Community Team is [lookin

[2022-07-20 01:48] murillol commented on #83
Thanks Yash!

[Link to Published Notes](https://make.wordpress.org/marketing/2022/07/20/notes-global-marketing-meeting-july-13-2022/)

[2022-07-20 01:48] #83 closed

[2022-07-20 01:49] murillol commented on #51
Checking in @jpantani ;)

[2022-07-20 08:59] matteospi commented on #28
Hi everyone, and thanks for your patience.

1. Correct, it's the second video the one without subtitles and the logo. If is really really needed, I can try to figure out a way to enter subtitles without the watermark but it could create some difficulties.
2. Olga told me about some changes, and these are already integrated.
3. Not sure to follow you. Olga changed and I just followed her change.
4.

[2022-07-20 11:46] nalininsbs commented on #87
@eidolonnight could you please add a link and summary from the two meeting this has been discussed at. I added this card as a reference to today's agenda to invite people to add suggestions. Thank you Nicholas.
---
Contributors coming to this card, please add suggestions directly to this card. You only need a GitHub account to do this. Thank you in advance.

[2022-07-20 11:54] nalininsbs commented on #64
Update on this card to be done:
- summary and links to any documents used at the event by marketing
- learnings to note to document for next year
- any other comments from attendees

To note for progress at 20 July 2022 meeting #86

[2022-07-20 12:07] nalininsbs opened #90 "WordCamp US 2022 Marketing Table - Contributor Day"
Card for all things related to preparation for WordCamp US 2022 Contributor Day's Marketing Table. If you are organizing items for this, have suggestions, creating resources or documents, please add them to this card. Thank you.

WordCamp US is in September 2022.

[2022-07-20 12:11] nalininsbs commented on #90
**Update being shared at 20 July 2022 Marketing Meeting**
@eidolonnight: With WordCamp US approaching in September, it would be nice to start a list of who plans to attend. General admission [tickets went on sale on June 30th](https://us.wordcamp.org/2022/wcus-tickets-on-sale-soon/) and have already sold out. If you couldn’t get yours, the organizing team recommends [checking the site](https://us.

[2022-07-20 12:11] nalininsbs commented on #90
A number of people have volunteered to help async and in person. Please do add your details to this card too.

[2022-07-20 14:52] nalininsbs opened #91 "Big Picture Goals 2022 - Marketing Team input"
Putting on GitHub request for this. This has previously done in Google docs linked from the old Trello board and GitHub repos, and shared in meetings.

Request from @Bringmannn to the team reps, 18 July 2022
- to put together bullet points for Josepha and Chloe who are reviewing the [big picture goals ](https://make.wordpress.org/project/2022/01/21/big-picture-goals-2022/)shared in January 2022, g

[2022-07-21 10:04] majadidit commented on #86
@murillol @nalininsbs is the Draft script above the meeting notes from 13 July? Where do I find the Word doc to make changes to?

[2022-07-21 11:37] majadidit commented on #86
@nalininsbs fixed most of the notes! Thanks Nalini! I added some sections too. I believe its ready for publishing

[2022-07-21 15:14] nalininsbs opened #92 "WordPress job teams social post RSS feed"

[2022-07-21 15:21] courtneyr-dev commented on #92
Hey folks. You can include me on this. The Jobs team needs to consider our options before we take a next action. Thanks. I'll ask our primary maintainer to comment as well.

[2022-07-21 19:02] murillol commented on #91
@eidolonnight submitted the following:

In the first half of 2022, the Marketing team has worked to improve and expedite our processes, including migrating our tasks to [GitHub](https://github.com/orgs/WordPress/projects/21), making a plethora of updates to [our handbook](https://make.wordpress.org/marketing/handbook/), and aiding other teams with marketing efforts. During this time, we’ve also gr

[2022-07-22 17:18] murillol commented on #86
Thanks @majadidit! I've gone through the post and made some edits:
- Put it under your name as authour
- Added WordPress IDs instead of Slack IDs
- Gave it formatting similar to the previous notes to maintain consistency
- Removed Slack timestamps
- Added post excerpt and Category

I think it's ready but always appreciate a second set of eyes if you can @nalininsbs

[2022-07-25 21:59] jpantani commented on #64
@yvettesonneveld and @jpantani worked to organize the Contributor Day Marketing tables at WCEU 2022 Porto. We were helped also by @santanainniss in facilitating the days events.
All three tables were completely full which was a great success metric.
Yvette and Jonathan were able to address the crowd twice and make a pitch for contributors as well as asking all attendees to be mini marketers by lik

[2022-07-25 22:02] jpantani commented on #90
I will be at WCUS and help as a table lead. I believe @DanSoschin will also be there in that capacity (he's AFK this week and I want to ensure we are able to get back to Julia on time)

[2022-07-26 13:00] nalininsbs commented on #28
Hello @matteopsi I may be not looking at the correct file. I am looking at the second video. I can still see the watermark on the video. Can anyone else see a version without the video editing software watermark? We can not use a version with a company name in.

@OlaIola is also going to review the video and will update this card. Thank you @abhansnuk for liaising with @OlaIola on this.

Once all

[2022-07-26 13:01] nalininsbs commented on #28
I have readded Matteo to this card so that he can see updates more easily.

[2022-07-26 13:02] nalininsbs commented on #90
@eidolonnight was to submit an update I believe to Julia after last week's Marketing meeting.

[2022-07-26 13:03] nalininsbs commented on #90
We will need to recruit more contributors available to help new contributors with using slack on the day. Will there be a dedicated table to help setting up accounts at the event too?

[2022-07-26 13:14] nalininsbs commented on #64
Thank you @jpantani and for adding the document used on the day and your update.

Can I suggest for any confirmed docs/ activities for WCUS to be shared on its GitHub card before the event too to help contributors who would like to or need to read things in advance?
@yvettesonneveld do you have anything further to add?

Are there any learnings / actions for next time that can be listed and shared

[2022-07-27 06:42] jpantani commented on #51
Hi @murillol No major updates for the campaign. Sorry about the delay in updates here.  Here is what's new:
I've noticed that engagement seems to be a bit higher when linked to Community (WordCamps) so tying to similar initiatives will be great. I've also seemed to notice a bit better engagement when they're less frequent. Kind of like a small reminder of "Hey WordPress fam., we see you and hear y

[2022-07-27 08:08] nalininsbs opened #93 "Discussions: Ideas for promoting mobile apps"
Card to pull together discussions on Slack and reference core tickets relating to ideas for promoting mobile apps.

Thank you to @abhansnuk for assistance with setting this up on GitHub and to @OlaIola for highlighting ideas.

Link to the discussion on the [Make WordPress Marketing Slack](https://wordpress.slack.com/archives/C0GKJ7TFA/p1658576911978589) on 26 July 2022

[2022-07-27 08:19] nalininsbs commented on #86
I republished the post again from Monday as it not come up in the marketing channel.
Thank you to @majadidit and @abhansnuk who worked on the notes together this week.
The published link https://make.wordpress.org/marketing/2022/07/25/notes-global-marketing-team-meeting-20-july-2022/

I also shortened excerpts to better fit in search results.

[2022-07-27 08:22] nalininsbs commented on #88
[Notes from 20 July 2022](https://make.wordpress.org/marketing/2022/07/25/notes-global-marketing-team-meeting-20-july-2022/) - thank you to Maja Loncar and Abha Thakor.

[2022-07-27 08:32] nalininsbs commented on #88
[Agenda published for July 27, 2022](https://make.wordpress.org/marketing/2022/07/27/agenda-global-wordpress-marketing-meeting-july-27-2022/)

[2022-07-27 08:53] nalininsbs commented on #89
[Agenda draft](https://make.wordpress.org/marketing/?p=9642&preview=1&_ppp=51e71a9a81) started in the Marketing Team blog to assist with earlier publication. Any items from this card will need to be added to it before publication on August 2, 2022.

Thank you to @abhansnuk and @marybaum for the idea on this used by the Core Team for busy periods.

[2022-07-27 08:58] nalininsbs commented on #89
For reviewing notes, we need to check the tags, categories, and excerpt is not too long for search. Recently had a few published with uncategorized. Can this be added to the notes in the handbook @murillol? This had been listed in the card so may be good to check the items on card have moved to the help information in the handbook too. Thank you for help on the handbook.

[2022-07-27 08:59] nalininsbs commented on #46
Is there a link where the text for these updates is being drafted or stored @murillol ? Thank you.

[2022-07-27 09:00] nalininsbs opened #94 "2022/8/3 Marketing Team meeting"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
any asynchronous update on tasks
- script to assist the running of the meeting
- queries abou

[2022-07-27 09:04] #86 closed

[2022-07-27 09:05] nalininsbs commented on #83
Category updated on published post from uncategorized to meeting notes.

[2022-07-27 09:09] nalininsbs opened #95 "Polyglots Team newsletter July 2022 - marketing input"
Input and review requested by Naoko 20 July 2022. [Slack link](https://wordpress.slack.com/archives/C0GKJ7TFA/p1658329992122449)

[2022-07-27 09:13] nalininsbs opened #96 "2022 - Meetup Organizers Annual Surveys promotion"
July 26, 2022: Link to the discussion in the Marketing Slack https://wordpress.slack.com/archives/C0GKJ7TFA/p1658843841370289

Information shared by Julia Golomb, Community Team organizer:

"Hello Marketing Team! The Annual Meetup survey will be ready to distribute within the next week. I would love to coordinate with Make Marketing to spread the word, in order to encourage as many meetup organize

[2022-07-27 09:38] nalininsbs commented on #89
Check if the Meetup organizers' annual survey links are out to promote in the meeting. https://github.com/WordPress/Marketing-Team/issues/96

[2022-07-27 09:43] nalininsbs commented on #88
This week's dates added to [Marketing Team diary post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/). Can we add this as a checklist task on each week's card to be done either at the end of the last week's meeting or before the agenda is published?

[2022-07-27 09:46] nalininsbs opened #97 "2022/8/17 Global Marketing Team meeting and planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
any asynchronous update on tasks
- script to assist the running of the meeting
- queries abou

[2022-07-27 09:48] nalininsbs opened #98 "2022/8/10 Global Marketing Team meeting and week planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting
- queries ab

[2022-07-27 10:01] nalininsbs commented on #95
Published links, thank you Naoko: [P2 post](https://make.wordpress.org/polyglots/2022/07/22/polyglots-monthly-newsletter-july-2022/) / [newsletter](https://mailchi.mp/wordcamp/july-2022)

[2022-07-27 10:22] nalininsbs opened #99 "Polyglots Team August 2022 newsletter - marketing input"

[2022-07-27 10:31] abhansnuk opened #100 "People of WordPress - July 2022"
This is a copy of the original card as there is an error on the cards with the migration. This will be merged with the original once resolved.

Feature: Carla

Summaries are below.

[Link to the Slack thread on 13 July 2022](https://wordpress.slack.com/archives/C0GKJ7TFA/p1657829757994519?thread_ts=1657725616.257869&cid=C0GKJ7TFA)

[Link to the Slack thread on 20 July 2022](https://wordpress.slack

[2022-07-27 10:32] abhansnuk opened #101 "People of WordPress - August 2022"
This is a copy of the original card as there is an error on the cards with the migration. This will be merged with the original once resolved.

Link to the Slack thread on 13 July 2022 https://wordpress.slack.com/archives/C0GKJ7TFA/p1657829757994519?thread_ts=1657725616.257869&cid=C0GKJ7TFA

Link to the Slack thread on 20 July 2022 https://wordpress.slack.com/archives/C0GKJ7TFA/p1658329992122449

[2022-07-27 10:43] abhansnuk commented on #100
Summary copied from main card:
- Surendra identified key areas for revision in previous review
- Alison is working on first draft
- Larissa to liaise with featured WordPresser for facts update and pictures needed. To also look at SEP headings and what might need updating with Alison, and work alongside her
- Mary: offered to assist and shadow Meher with images. Volunteer from the Spanish community

[2022-07-27 10:46] abhansnuk commented on #101
**Revised deadlines for feature now set for August 2022:**
Bud Kraus. @marybaum working on this and liaising with Bud. Copy first draft by 30 June 2022. Link this to promo on WCUS.

[2022-07-27 10:55] abhansnuk commented on #88
I have copied the current key information on the People of WordPress cards for July and August for you @nalininsbs so you have a link. Let me know if you get a response from GitHub support on a resolution on the series board or if you would like Chris and I to follow it up.
July 2022
PofWP https://github.com/WordPress/Marketing-Team/issues/100
August 2022 https://github.com/WordPress/Marketing-Tea

[2022-07-27 13:08] nalininsbs commented on #94
Agenda draft ](https://make.wordpress.org/marketing/?p=9642&preview=1&_ppp=51e71a9a81)in the Marketing Team blog to help with earlier publishing.

[2022-07-27 13:17] nalininsbs commented on #91
Has this been published already? If not, can we include a reference to People of WordPress and supporting other teams newsletters.

I also would recommend we add the word 'continue' in the Marketing team has continued to work to,,,' as a lot of this work started before 2022.

[2022-07-27 13:40] nalininsbs commented on #88
[Script (in progress) ](https://docs.google.com/document/d/1dnM3JX16gozWtZCnOnDkofWyjkVorfYDx2ZxGq949CE/edit#)

[2022-07-27 13:45] OlaIola commented on #93
Many people are using WordPress for personal blogs and companies employees are more mobile now than ever and solve working tasks on a go from cafés and in public transport. To have an ability to comfortably publishing posts and edit content from mobile phone for some of them can be an advantage.

We have good designed Mobile Application but not using it for its full extent.

After attending '[Word

[2022-07-27 14:22] murillol commented on #95
Naoko's GitHub ID is @naokomc

[2022-07-27 14:26] murillol commented on #91
It has been already submitted, but the final post was more of an overview: https://make.wordpress.org/updates/2022/07/25/a-mid-year-year-look-at-2022-goals/

[2022-07-27 15:18] thetinyl commented on #94
✋ I can take notes for this meeting (Aug 3)!

[2022-07-27 15:24] rmartinezduque commented on #98
I'll be happy to take notes for this meeting (Aug 10)!

[2022-07-27 15:24] OlaIola commented on #93
Dashboad related tickets:
1. [Improve the Dashboard Screen and Welcome dashboard widget](https://core.trac.wordpress.org/ticket/39617)
2. [Upload custom avatar for user in Dashboard](https://core.trac.wordpress.org/ticket/16020) - 12 years old
3. [New UI for the settings page of the dashboard](https://core.trac.wordpress.org/ticket/38453)
4. [Allow customization of Admin Color Schemes for dashboar

[2022-07-29 12:18] abhansnuk commented on #100
- Draft in review.

- Fact-checking done with person featured done by @murillol . Any dates to be checked, please check information Larissa has pasted at the bottom of the document.

- Any further comments from @Bringmannn to be added.

- Edit for additional quotes to be added.

- Note: last two days of cycle fall on weekends this month, for majority of contributors who are working on this, these

[2022-07-29 12:22] nalininsbs commented on #100
Reminder: change access on document. Remove any personal contacts once complete.

[2022-07-29 12:32] abhansnuk commented on #100
Thanks, useful reminder.
From your checklist, I have also checked we can link this particular document to the GitHub card rather than just the Slack thread.

[2022-07-29 12:38] #95 closed

[2022-07-29 15:02] meherbala commented on #100
Received only 2 images for this month's POWP.

Taken one image and created it in the feature image size.

Resized both the image to be used in the article.

Uploaded them to in Media Section, in the News Dashboard.

Will add the images once the article has been drafted in the News Dashboard.

[2022-07-29 17:22] murillol commented on #100
do you want me to ask Carla for more images? @meherbala @abhansnuk

[2022-07-31 00:35] abhansnuk commented on #100
Further reviews.

In News admin.

Over to you @meherbala for the pictures, alt tags and adding WP IDs at the bottom please, as well as your usual checks. Can you please liaise with @murillol if you need extra photos?

When you are out of the post, I will go back in and continue with the layout review and text. Thanks everyone.

[2022-07-31 21:29] meherbala commented on #100
@abhansnuk the following have been done:
1) pictures
2) alt tag
3) additional categories
4) article tags
5) HeroPress block at the end of the article
6) WP.org handles of everyone who contributed

I would have been great to have more photos but its too late to ask.

Over to @murillol and @abhansnuk

[2022-07-31 21:39] meherbala commented on #101
Can I get access to the pictures for Aug POWP?

If we have fewer images please can we ask Bud to share some images?

CC: @marybaum, @abhansnuk, @murillol

[2022-08-01 21:43] meherbala commented on #100
Link to the post: https://wordpress.org/news/2022/07/people-of-wordpress-carla-doria/

Thank you everyone for their hard work.

[2022-08-01 21:43] #100 closed

[2022-08-03 02:16] murillol commented on #96
Post is up: https://make.wordpress.org/community/2022/08/02/announcing-the-2021-2022-annual-meetup-survey/

[2022-08-03 10:24] rmartinezduque commented on #84
👋 Hello! The draft for the July 2022 edition of The Month in WordPress is ready for review: https://docs.google.com/document/d/18Z80FORqCi-ncTyXg8xOKbNE41xWYggQkyuEyiSYK4A/edit#.

I'm hoping to publish it on **Friday, August 5, 2022,** around 12:00 PM UTC. If there are any other major updates that you would like to see featured, please let me know by then. Thank you!

[2022-08-03 13:59] chaion07 commented on #84
I have added a few comments as well as made some adjustments to the working document. Thank you @rmartinezduque 🚀

[2022-08-03 14:08] dugyen commented on #88
@murillol Could you please check the notes it's ready for proofreading:
https://make.wordpress.org/marketing/wp-admin/post.php?post=9647&action=edit

[2022-08-03 14:12] eidolonnight commented on #90
Current attendee list from Slack:
- [@Ali Parisi (she/her)](https://wordpress.slack.com/team/U03N2GGRF46)
- [@Ali-WPFiddlyBits](https://wordpress.slack.com/team/UFXDM6F1Q)
- [@sereedmedia](https://wordpress.slack.com/team/U41M20MKL)

[2022-08-03 14:42] murillol commented on #88
hi @dugyen I haven't had a chance to proof-read in-depth yet, but I have 2 changes:
- At the beginning it says 27 June instead of 27 July ;)
- Instead of Slack IDs, let's make sure all of them are WordPress IDs

[2022-08-05 07:50] rmartinezduque commented on #84
The draft is now ready to publish. Thank you [@chaion07](https://profiles.wordpress.org/chaion07/), [@laurlittle](https://profiles.wordpress.org/laurlittle/), [@mysweetcate](https://profiles.wordpress.org/mysweetcate/), [@sereedmedia](https://profiles.wordpress.org/sereedmedia/), and [@dansoschin](https://profiles.wordpress.org/dansoschin/) for helping to review it and provide suggestions.

[2022-08-05 07:57] chaion07 commented on #84
Excellent work by @rmartinezduque
It has been super easy collaborating with you as well as others for the July edition of Month in WordPress. I would love to continue to contribute to the future editions if possible. Thank you much for everything that you do 🚀👏👏

[2022-08-05 09:12] rmartinezduque commented on #84
That's great to hear, @chaion07. Your help is much appreciated! I'll open a new GitHub card for the next edition so that you can follow it.

[2022-08-05 09:16] rmartinezduque opened #102 "The Month in WordPress: August 2022 Edition"
The expected publication date for the August 2022 edition of The Month in WordPress is **Friday, September 2, 2022**.

### How can you help?

If you have any news or Make team updates that would be valuable and relevant to the post, please feel free to **add them as a comment to this GitHub card**, or share them on the Make Marketing Slack channel and tag `Reyes Martínez` for awareness by Tuesday

[2022-08-05 09:19] rmartinezduque commented on #84
The **July 2022 edition of The Month in WordPress** is now live: https://wordpress.org/news/2022/08/the-month-in-wordpress-july-2022/! 🚀

If you'd like to collaborate on the next edition, please feel free to follow and subscribe to this GitHub card: https://github.com/WordPress/Marketing-Team/issues/102.

[2022-08-05 09:20] #84 closed

[2022-08-05 18:17] jpantani commented on #28
I just wanted to confirm that I've double-checked the translation @matteospi worked on and he has adapted the text from the script beautifully. There is one additional element including clicking on the privacy channel that was likely not included in the English script because of GDPR requirements that he has correctly added here.

I am unaware of any documentation that says videos we use cannot co

[2022-08-08 13:38] thetinyl commented on #94
Hi all!

The [draft notes from the 3 August meeting](https://make.wordpress.org/marketing/?p=9681&preview=true) are ready for review.

As it's my first time drafting notes, I had a couple of questions:

- @nalininsbs I was curious about the line at the top that says "Link to the start of the meeting on Marketing Slack to help with asynchronous contributions." It confused me at first, as I misinter

[2022-08-08 20:07] nalininsbs commented on #94
Thank you @thetinyl .

The link has moved to the welcome section and been retained at the top. We can lose one of these, I deleted the one at the top. I have edited it to be clear to those unfamiliar with Slack and the channels, as well as which Slack to use as there are many in WordPress.
Eg. The meeting discussions on the [Marketing team channel](https://wordpress.slack.com/archives/C0GKJ7TFA/)

[2022-08-08 20:24] nalininsbs commented on #88
Published notes on this link https://make.wordpress.org/marketing/2022/08/03/notes-global-marketing-team-meeting-27-july-2022/

The IDs need updating as they are Slack IDs. @dugyen would yo be able to update this please? Thank you.

[2022-08-08 20:28] nalininsbs commented on #90
The Contributor Day will be on Sunday September 11, 2022. https://us.wordcamp.org/2022/schedule/

[2022-08-08 20:33] #36 closed

[2022-08-08 20:36] nalininsbs commented on #28
Thank you @jpantani for finding out about the Veed licence and confirming we are okay to use this video with the watermark. We do need to check in terms of accessibility if the watermark causes any accessibility issues. Do you know if it distorts the video or screenshots at all?

@meherbala has agreed to upload the video to YouTube once this has been checked (or to assist @OlaIola if she needs in

[2022-08-08 20:49] abhansnuk commented on #97
Thanks for the query in the marketing Slack @nalininsbs. I have added this card to the repo column you need.

[2022-08-08 20:59] murillol commented on #94
Ok I'm going to make that a separate to-do item @nalininsbs, as I've never edited the handbook and can't make the time to really explore it until the weekend. Perhaps Santana could also help with it when she gets back ;)

[2022-08-08 21:01] murillol opened #103 "Update Handbook: Meeting Start Link"
From a previous discussion, in Meeting Notes, there are 2 links to the start of the meeting. We've kept one, but the Handbook should be updated to reflect this.

From @nalininsbs: The link has moved to the welcome section and been retained at the top. We can lose one of these, I deleted the one at the top. I have edited it to be clear to those unfamiliar with Slack and the channels, as well as whi

[2022-08-08 21:03] murillol commented on #103
I might get a chance to get to this on the weekend. Otherwise, whoever gets a chance to look at this/do it first please :-) Thanks!

[2022-08-08 21:03] nalininsbs commented on #94
@thetinyl I have added in the GitHub cards for the meeting notes, and changed the card link at the end to next week's meeting from the 17th. Added excerpt.
@murillol anything to add from you?

[2022-08-08 21:06] nalininsbs commented on #88
I have updated the tags and added an excerpt.

[2022-08-08 21:14] nalininsbs commented on #88
I have clarified the final item in the notes to reflect the meeting and the thread. As the post has had a number of updates, I added an update reference to the top of the post. Thank you everyone. Ugyen can you please click update when you have updated the Slack IDs please to WordPress.org ones. Thank you.

[2022-08-08 21:22] nalininsbs commented on #98
For 4a agenda items on WordPress.org social accounts.

Can we
For item 4a on WordPress.org social accounts

Can we please add a sentence about the context of the people mentioned to help people coming new to the team and whether we are asking people to contact them or do anything. I have also standardized the references to teams in the list and amended those which are groups. Could we review this

[2022-08-08 21:23] nalininsbs commented on #97
Check update on 4a list highlighted in 10 August card. https://github.com/WordPress/Marketing-Team/issues/98#issuecomment-1208623888

[2022-08-08 21:35] nalininsbs commented on #103
I shortened this to:
The meeting discussions on the [Marketing team channel](https://wordpress.slack.com/archives/C0GKJ7TFA/) start [at this timestamp](ADD LINK) in the Make WordPress Slack. You can add to the threads if you were unable to attend the meeting live.

**Also previous update to be checked has been added:**
For the person reviewing notes, they need to check the tags, categories, and ad

[2022-08-08 21:37] nalininsbs commented on #89
The agenda was drafted but was not published. It is sitting in the queue from the previous week awaiting the link for the notes. Do we publish this now to be able to get the link or leave it in draft?

[2022-08-08 21:44] nalininsbs commented on #98
Agenda drafted. Public preview https://make.wordpress.org/marketing/?p=9699&preview=1&_ppp=c313fa71d9
Once the notes are published from last week, can someone add the link to the agenda and add Lauren's name to the thank you on the notes. Then the agenda can be published. Thank you.
@eidolonnight and @murillol

[2022-08-08 21:50] nalininsbs commented on #97
Agenda [draft]( https://make.wordpress.org/marketing/?p=9704&preview=1&_ppp=dd81b6fbbc) on the P2 for August 17, 2022.
@abhansnuk and @marybaum thank you for your help in how to set these up ready in advance so they ca be updated in the relevant week.

[2022-08-08 22:12] abhansnuk opened #104 "People of WordPress - September 2022"

[2022-08-09 10:17] santanainniss commented on #103
@nalininsbs @murillol Thank you for tagging me in! I am not sure I completely understand what needs to be added/changed. This is a little different than the issue I was working on, but I am happy to help :) I could probably make updates this week. I'm just a little unclear on the change/update requested. Shall I Slack you for more info? What makes most sense?

[2022-08-09 13:19] thetinyl commented on #94
Thank you @nalininsbs!

Once @murillol has another look through, am I safe to hit publish?

[2022-08-09 16:09] nalininsbs commented on #94
As Larissa has looked through these earlier too, I am going to publish the notes shortly. We can then link to them and publish the agenda to give people some time to see it before the meeting tomorrow. Thanks @thetinyl .

[2022-08-09 16:16] nalininsbs commented on #94
Published: https://make.wordpress.org/marketing/2022/08/08/notes-global-marketing-team-meeting-august-3-2022/

[2022-08-09 16:16] #94 closed

[2022-08-09 16:24] nalininsbs commented on #97
Agenda published for tomorrow's meeting https://make.wordpress.org/marketing/2022/08/09/agenda-global-marketing-team-meeting-august-10-2022/

[2022-08-09 16:26] nalininsbs commented on #98
Agenda published for tomorrow's meeting, 10 August 2022 https://make.wordpress.org/marketing/2022/08/09/agenda-global-marketing-team-meeting-august-10-2022/

[2022-08-09 18:51] rmartinezduque commented on #98
Hello! I edited Nalini's previous comment (https://github.com/WordPress/Marketing-Team/issues/98#issuecomment-1208623888) to update the Openverse hashtag. It's #WPOpenverse instead of #Openverse. I updated [this GitHub card ](https://github.com/WordPress/Marketing-Team/issues/7) accordingly. Thank you!

[2022-08-09 20:03] thetinyl commented on #87
I've been thinking about this a bit since it first came up. Looking through some of the feedback from the previous Slack discussions linked above, plus taking a tour around what other teams have done to get a baseline, I've drafted some words for consideration.

### A quick observation about the Marketing description
I noticed that the Marketing description on the "Get Involved" page is different

[2022-08-10 07:16] rmartinezduque commented on #98
Oh, I see. That's good to know. If that script could be also updated to reflect the accurate hashtag (#WPOpenverse) as you said that would be really great. Thank you, @abhansnuk.

[2022-08-10 13:05] thetinyl commented on #98
Hoping to add an Open floor item:

I've drafted some copy to be considered for the [Marketing description in the Welcome Box/Handbook/etc (card #87)](https://github.com/WordPress/Marketing-Team/issues/87#issuecomment-1209819649).

Thought it'd be worth letting people know in the meeting to continue previous discussions.

[2022-08-10 14:59] rmartinezduque commented on #80
### Upcoming Photo Directory Challenge to celebrate World Photography Day (August 19)

Following some conversations in the [#photos](https://wordpress.slack.com/archives/C0337A01LHW) channel about a photo challenge, we will be inviting the WordPress community and photography enthusiasts to contribute to the WordPress Photo Directory on the occasion of World Photography Day (August 19). This can be

[2022-08-10 15:35] chaion07 commented on #23
Hello! I volunteer to host the coffee break on 11 August 6:30 PM UTC. Kindly advise on the next steps. Thanks!

[2022-08-11 11:33] DanSoschin commented on #23
Posting a note that I will host on the 25th of August as well.

[2022-08-11 18:24] chaion07 commented on #23
Requesting advice on the logistics such as Zoom Meeting details for the coffee break facilitation on 11 August. Thanks in advance!

[2022-08-12 02:19] chaion07 commented on #102
Happy to volunteer again for the August edition of Month in WordPress. Thanks!

[2022-08-12 15:36] rmartinezduque commented on #98
Hi! The meeting notes for August 10 are ready for review. You can find them in [this Make Marketing post draft](https://make.wordpress.org/marketing/wp-admin/post.php?post=9716&action=edit). Please let me know when any of you have a chance to review them so that I can post them. Thank you!

[2022-08-15 10:19] rmartinezduque commented on #80
## Update on the WordPress World Photography Day Challenge (August 19)

The draft for the Make Photos announcement is currently under review and open to suggestions: https://docs.google.com/document/d/1eQ8Q00dV_QoxO8se4kndxLsZkwRWsDlxrn6LEXuM4DA/edit#.

**Please note**: we are looking for feedback especially to improve/proofread the copy and/or regarding any relevant information that is important

[2022-08-15 16:39] murillol commented on #98
Hi @rmartinezduque they look great to me, the only thing I added was an **Excerpt** to the post. If noone has any other observations until today end of day, please feel free to post. Thanks!

[2022-08-15 23:15] meherbala commented on #28
@matteospi @nalininsbs @jpantani @abhansnuk - please confirm if the below link is correct to be added to YouTube

https://drive.google.com/file/d/1xy0nGuVmAoL7eiSvZJtd546k3eT67eW6/view?usp=drivesdk

Once someone confirms the same I will upload it.

CC: @OlaIola

[2022-08-16 06:25] nalininsbs opened #105 "2022/8/24 Global Marketing Team Meeting and week planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
any asynchronous update on tasks
- script to assist the running of the meeting
- queries abou

[2022-08-16 06:47] nalininsbs commented on #98
Thank you @rmartinezduque for very helpful notes. I have made some edits including.

Replaced 'view participants' to 'Meeting attendees: participants list is in this Slack Thread' - to be updated in the handbook

Changing 'Take a look' to 'Recap last week's meeting with' - as part of reducing words like 'see' and 'look' where there are alternatives as we have contributors who listen to the meeting

[2022-08-16 06:49] nalininsbs commented on #98
Published link: https://make.wordpress.org/marketing/2022/08/16/notes-global-marketing-team-meeting-august-10-2022/

@thetinyl could you add your thoughts if we add a slot at this week's meeting to discuss the welcome text? Thank you.

[2022-08-16 07:01] nalininsbs commented on #97
Posted in the [Slack channel](https://wordpress.slack.com/archives/C0GKJ7TFA/p1660633129949709) as a reminder for the meeting and check for any other agenda items. Copying in GitHub to make it quicker to share similar update weekly in Slack.

**Marketing Team meeting this week**
If you are new to the channel, we meet on Wednesdays at 15:00 UTC. All are welcome.

This week after the meeting, there

[2022-08-16 07:15] nalininsbs commented on #104
This feature will be moved as the original is not live on HeroPress.

The story for September 2022 to coincide with International Translation Day will be Huanyi (Eric) Chuang. Change confirmed with @Bringmannn and spreadsheet updated.
[Original HeroPress article](https://heropress.com/essays/connection-makes-credibility-credibility-makes-opportunity/)

**Summary from the document**
Original review

[2022-08-16 07:20] nalininsbs commented on #101
@marybaum I know you are following up on photographs. Do we have these now please? Thank you.

[2022-08-16 07:26] nalininsbs commented on #97
Adding a list of GitHub cards I will bring to the meeting this week.

[WordPress Planet update request](https://github.com/WordPress/Marcomms-Rolling-tasks/issues/24) - check where this is and whether it needs to go back to another team.

[2022-08-16 07:31] nalininsbs commented on #81
@eidolonnight is there an outcome of this discussion please? Thank you.

Added to check in list for [August 17, 2022 meeting](https://github.com/WordPress/Marketing-Team/issues/97)

[2022-08-16 07:31] rmartinezduque commented on #98
Thanks for making those edits and for publishing the notes, @nalininsbs. And thank you @murillol for reviewing them as well. I always forgot to add the excerpt. 🤦🏻‍♀️ I'm taking note of your suggestions for next time!

[2022-08-16 07:38] dugyen commented on #97
Could you please assign me for this task as notetaker @murillol

[2022-08-16 08:03] Ad-Mk commented on #104
thanks @nalininsbs

[2022-08-16 08:28] nalininsbs commented on #98
Your notes are always a pleasure to go through @rmartinezduque , and together we find ways to help make them easier to follow for everyone.

[2022-08-16 08:30] nalininsbs commented on #98
@eidolonnight would you be able to look at my question above please https://github.com/WordPress/Marketing-Team/issues/98#issuecomment-1208623888 Thank you.

[2022-08-16 08:34] nalininsbs commented on #97
@dugyen I can do this for you. I think there is a previous meeting card open with some follow-ups to change Slack IDs in one of the notes, would you be able to look at this please? Do you also have an update on your local translation card? Thank you Ugyen.

[2022-08-16 08:39] nalininsbs commented on #28
@matteospi and @jpantani can you please confirm the link for @meherbala . Thank you.

[2022-08-16 08:45] nalininsbs commented on #102
@rmartinezduque could you please add the published link to this when it is out please and remove the help wanted label. Thank you

[2022-08-16 08:54] nalininsbs commented on #28
@abhansnuk can you follow this up please.

Before this card is closed, to check with the accessibility team for any future video editing on the watermark and accessibility.

[2022-08-16 09:01] rmartinezduque commented on #102
@nalininsbs Yes, we can share this GitHub card at this week's meeting and let people know that they can subscribe to it for updates. I usually share the link and close the issue when the post is published. I'll also remove the help-wanted label.

[2022-08-16 12:37] murillol commented on #104
Hi @nalinisbs! I'm not sure what this means:

Was I supposed to do something here and I missed it? If so, sorry!

I've checked the planning sheet and it doesn't look like I'm assigned anything for the last quarter, but just in case there are changes, I do **not have availability until 17 October**

[2022-08-16 12:42] murillol commented on #89
at this point let's just leave it in draft @nalininsbs

[2022-08-16 12:50] murillol commented on #103
Hi @santanainniss I was out last week, sorry for not replying to you.  I just saw your message to us in Slack as well.

The context is this:

While writing Meeting Notes, Lauren noticed that in the Notes ([for example here](https://make.wordpress.org/marketing/2022/07/20/notes-global-marketing-meeting-july-13-2022/)) there were 2 links "to the start of the meeting" on the Marketing Slack. One in t

[2022-08-16 13:31] jpantani commented on #28
@nalininsbs @meherbala confirming this link "Iscrizione Slack WP" is the correct one. Thanks.

[2022-08-16 13:38] matteospi commented on #28
Hi all,

Sorry for the delay.

Yeah, the indicated link is the correct one and the usernames are:

Matteo Spirandelli (Author of the video localization): https://profiles.wordpress.org/matteospi/
Jonathan Pantani (Helper and reviewer): https://profiles.wordpress.org/jpantani/
Laura Sacco (GTE for translation review): https://profiles.wordpress.org/lasacco/

I was wondering If a localized YouTube d

[2022-08-16 14:01] nalininsbs commented on #28
Thank you @matteospi . A localized description for YouTube would be welcome. We had a standard template for this, however, for speed @abhansnuk could you and @meherbala add the text or send it to Matteo once you have published it.

Thank you everyone!

[2022-08-16 14:28] matteospi commented on #28
Today or tomorrow I’ll send you a translation of the description so we the description could contains the text in both languages.

[2022-08-16 16:12] matteospi commented on #28
This an update video which takes you through the steps of setting up a WordPress.org profile and joining the Make WordPress Slack ahead of a Contributor event. This version contains a commentary in Italian.

It has been created with the Make WordPress Marketing Team, and is part of a series of onboarding guides and videos produced across this open source community to help new contributors get star

[2022-08-16 16:13] matteospi commented on #28
@abhansnuk @meherbala can you approve this script please? Then I can create the Italian version and you can keep both in the description. This allow also non-english speakers to be able to read it.

Thanks.

[2022-08-16 19:18] jpantani commented on #64
I don't have immediate access to the list of participants from WCEU though I have searched.
@yvettesonneveld, @santanainniss, and I have performed a follow-up debrief with considerations for future contributor day marketing tables.
That information can be found [here in this Google doc].(https://docs.google.com/document/d/1t4-Ny1LEVWk4m3Bs2BDVhDUEMQvL406xueoaSiEMwb4/edit?usp=sharing)

[2022-08-16 20:09] nalininsbs commented on #28
That reads fine to me. It just needs to say 'Meher Bala' after 'Abha's name' please.

Thank you for doing this Matteo.

[2022-08-16 20:28] matteospi commented on #28
@nalininsbs instead of Olga you mean? Or just adding another name?

[2022-08-16 20:32] nalininsbs commented on #28
Could you please add Meher's name. Thank you.

[2022-08-16 21:06] abhansnuk commented on #80
Thanks @rmartinezduque . I have shared some feedback and suggestions on the document. Such a good initiative. Really looking forward to the results.

[2022-08-16 21:10] abhansnuk commented on #97
Adding link to the published agenda for Nalini and Larissa https://make.wordpress.org/marketing/2022/08/16/agenda-global-marketing-team-meeting-august-17-2022/

[2022-08-16 21:37] matteospi commented on #28
Okay. You’ll get the translation by tomorrow (Italian time zone)

[2022-08-16 21:38] matteospi commented on #28
This an update video which takes you through the steps of setting up a WordPress.org profile and joining the Make WordPress Slack ahead of a Contributor event. This version contains a commentary in Italian.

It has been created with the Make WordPress Marketing Team, and is part of a series of onboarding guides and videos produced across this open source community to help new contributors get star

[2022-08-16 21:56] murillol commented on #88
ping for @dugyen - please let us know in this card once the post has been updated, so we can close this card. Thanks!

[2022-08-16 21:57] murillol opened #106 "2022/8/31 Global Marketing Team Meeting and week planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
any asynchronous update on tasks
- script to assist the running of the meeting
- queries abou

[2022-08-16 23:14] meherbala commented on #28
Hi @nalininsbs  @matteospi @jpantani @abhansnuk @OlaIola

The video is uploaded and made live on YT.

Here is the link: https://youtu.be/pdLySC2NvMU

Let me know if any changes are needed.

[2022-08-16 23:22] meherbala commented on #104
Hi @Ad-Mk please can you ask Huanyi (Eric) Chuang to provide 3-4 pictures for the article.

Featured image for any article for POWP is 1247px by 627px.

Please can you make sure that out of the 3-4 pictures at least 1 image size needs to be 1,500px (width)?

This will help me make that image as the main featured image.

Thank You.

[2022-08-17 06:15] Ad-Mk commented on #104
Hi @meherbala, I'll do that, thanks!

[2022-08-17 09:49] matteospi commented on #28
@meherbala If I send you the Italian version of the description can you add it keeping both the versions (English and Italian)? If yes I’ll translate it.

[2022-08-17 11:10] nalininsbs commented on #97
[Script document to help flow of the meeting](https://docs.google.com/document/d/1g3k_0R__WqSQQgQ7T-VEdgsvZRJmONXACApi0bXS0lk/edit?usp=sharing) thanks to @murillol

[2022-08-17 12:05] rmartinezduque commented on #80
Thank you @abhansnuk and @thetinyl for your valuable feedback on the draft of the Make Photos post.

**Update**: Feedback has been incorporated into the draft, which is now under final review prior to publication. It aims to be posted tomorrow, August 18, on the Make Photos blog.

I'll share some suggestions for social media posts soon as well for review and feedback.

[2022-08-17 12:22] naokomc commented on #99
Here's the draft of August Polyglots newsletter: https://docs.google.com/document/d/1tLLbk3YI-hWmfhehPqrSe2OMMx8HPLApBczpF8yfVTI/edit#

[2022-08-17 13:12] eidolonnight commented on #81
This campaign is underway with @Brett McSherry acting as point-of-contact. This is listed in https://github.com/WordPress/Marketing-Team/issues/7

No. No need. WordCamp content will be re-shared and therefore include links to their primary accounts (which will include branding).

Scheduled camps are always available on https://central.wordcamp.org/.

[2022-08-17 13:12] #81 closed

[2022-08-17 14:31] rmartinezduque commented on #97
Hi @nalininsbs, @eidolonnight, @murillo, I just wanted to give you heads up that I won't be able to attend the meeting in a synchronous way today because it conflicts with another meeting. Sorry for the short notice (I just realized this morning). I will share the [photo challenge updates](https://github.com/WordPress/Marketing-Team/issues/80#issuecomment-1217920854) later today. Thanks!

[2022-08-17 15:09] thetinyl commented on #106
🖐️ I'm happy to help take notes for Aug 31 meeting.

[2022-08-17 16:38] jpantani commented on #64
The Make Blog pointed to this [page for new contributors](https://make.wordpress.org/marketing/handbook/getting-involved/marketing-team-at-contributor-events/)
We used this [page](https://docs.google.com/document/d/1dW599URWAO7BlhWHZnjYtua1uMIkrl0tRRYACChC518/edit#) to collect all the tasks and questions in one easy to navigate to place.

Here were some of the new contributors (WordPress IDs):
Nik

[2022-08-17 17:01] eidolonnight commented on #90
Added Drive folder for WCUS 2022 and doc for planning: https://docs.google.com/document/d/1qpVCYmzFNjgp1HitUqT6byFTKmjSm38oyTF0yoeR2nw/edit#

[2022-08-17 19:20] eidolonnight commented on #87
As I said in Slack, I think that our existing descriptions could maybe be better. For example, we market WordPress to the wider world, but also to the people already within the WordPress ecosystem. We could probably be more specific about _what_ we market too. For example, we don’t market specific themes or plugins for individuals/companies. Our focus is on features, programs, and efforts that are

[2022-08-17 20:14] meherbala commented on #28
@matteospi yes I can add the Italian version after the English version.

Please do translate and add it here and I will copy and paste it into YT.

[2022-08-17 20:40] matteospi commented on #28
Okay. I’ll give you that within tomorrow.

[2022-08-17 20:55] abhansnuk commented on #102
Hello @rmartinezduque, @costdev has asked in dev chat in the next Month in WordPress if you can include the following. Thanks.

In the Feedback & testing requests section, include [WP Plugin Dependencies feature plugin](https://wordpress.org/plugins/wp-plugin-dependencies/)

[2022-08-17 22:01] abhansnuk commented on #64
Closing this card for now, but feel free to open it again to add thanks to any other contributors who joined you. Thanks for all the updates and efforts.

[2022-08-17 22:01] #64 closed

[2022-08-17 22:02] #26 closed

[2022-08-17 22:04] abhansnuk commented on #89
[Published notes for 2022/8/3 meeting](https://make.wordpress.org/marketing/2022/08/08/notes-global-marketing-team-meeting-august-3-2022/)

[2022-08-17 22:04] #89 closed

[2022-08-18 08:28] rmartinezduque commented on #87
Thanks for thinking about this and starting to draft some words, @thetinyl!

Of the three options above, the second one seems to me to be the most accurate. However, I like @eidolonnight's suggestion to get to the heart of what marketing does and to include the specifics in the welcome box.

I also wonder if, besides including the expanded description in the welcome box, we can provide a little mo

[2022-08-18 08:46] rmartinezduque commented on #102
Hi @abhansnuk and @costdev, thanks for the suggestion! I don't have much context on this plugin and I think it would help me to have some more information:

- What is this plugin for?
- What exactly do users have to test/give feedback on?
- Where can they leave feedback/comments?
- Is there an additional Make post we can link to? I see this https://make.wordpress.org/core/2022/02/24/feature-projec

[2022-08-18 10:09] matteospi commented on #28
Questo video ti mostra i passaggi per creare un account su WordPress.org ed entrare nel gruppo Slack internazionale di WordPress prima di un evento di contribuzione. Questa è la sua versione italiana.

È stato creato con il Marketing Team di WordPress, ed è parte di una serie di guide e di video prodotti in questa comunità open-source per aiutare nuovi contributori ad iniziare. https://github.com/

[2022-08-18 10:11] matteospi commented on #28
That’s the description in Italian. I’ve re-written some parts to align the syntax to the Italian language and let that to look more local.

[2022-08-18 15:59] rmartinezduque commented on #80
**Update**: I drafted some social posts for the #WorldPhotographyDay challenge in [this document](https://docs.google.com/document/d/1CnJnfKP3VWdnD939XX1ib3wQFEA2JgHSM4SJkkDDnII/edit#). I passed them along to the Photos team for review.

I'll share links to the blog post and social media posts when they are published so we can help spread the word.

[2022-08-18 21:46] meherbala commented on #28
I have added the Italian description to the YT video first and then followed by an English translation.

Link to YT video:   https://youtu.be/pdLySC2NvMU

[2022-08-19 07:24] rmartinezduque commented on #80
**Update**: **[The WordPress World Photography Day Challenge is officially live](https://make.wordpress.org/photos/2022/08/18/wordpress-world-photography-day-challenge-2022/)**! 🎉

Please help us spread the word amongst other Make teams, WordPress contributors, and friends!

[2022-08-19 18:10] rmartinezduque commented on #80
**Update**: Some social posts about the WP Photo Directory post are out. Others will follow shortly:

- [Twitter](https://twitter.com/WordPress/status/1560652578882408448)
- [Instagram](https://www.instagram.com/p/ChcoN8UuxY-/)

We'd love to get some help amplifying them! Thank you!

[2022-08-19 21:57] sereedmedia commented on #87
I like this for its succinctness:

However, I am missing the presence of the community in this, which was present in some earlier iterations. One could argue that "the WordPress project" as a whole encompasses the community, but in my experience/IMO most people think of the project as the software and the community as the people. I liked the differentiation between platform and community for this

[2022-08-22 23:34] naokomc commented on #99
Published the newsletter and P2 version:

- https://mailchi.mp/wordcamp/polyglots-august-2022
- https://make.wordpress.org/polyglots/2022/08/22/polyglots-monthly-newsletter-august-2022/

Thanks for your editing help, @abhansnuk  @murillol !

[2022-08-23 07:44] dugyen commented on #98
@murillol @nalininsbs Could you please review our draft note - https://make.wordpress.org/marketing/wp-admin/post.php?post=9749&action=edit

[2022-08-23 07:45] dugyen commented on #97
@murillol @nalininsbs Could you please review our draft note - https://make.wordpress.org/marketing/wp-admin/post.php?post=9749&action=edit

[2022-08-23 07:49] dugyen commented on #105
Could you please assign me here for notetaker @murillol @eidolonnight @nalininsbs

[2022-08-23 10:18] meherbala commented on #101
Any update on the photos @marybaum.

I am may not available on the 30th and 31st.

Hence would like to finish this by this weekend.

Thanks

CC: @nalininsbs

[2022-08-23 17:34] abhansnuk commented on #104
Hello @Ad-Mk Would you be able to share your update from the online chat with Huanyi on the questions we shared, and how you are getting on with the draft for the first deadline please. Have you been able to upload pictures to the folder please? Thanks.

[2022-08-23 17:37] Ad-Mk commented on #104
Hi @Abha,

I have shared the questions and picture requirements with Eric. I’m still
waiting on his response. As soon as I get those, the draft won’t take more
than a day.

On Tue, Aug 23, 2022 at 23:04 Abhanonstopnewsuk ***@***.***>
wrote:

[2022-08-23 17:40] abhansnuk commented on #104
@murillol thanks for the question above , I think Nalini had added (for Larissa) to reflect that this is normally an area you are involved with and you had said you would not be able to work on liaising with the person featured for the September's edition already.

@murillol thanks for the question above , I think Nalini had added (for Larissa) to acknowledge that this is normally an area you are

[2022-08-23 17:42] abhansnuk commented on #104
Thanks @Ad-Mk . We had hoped for a first draft by 22 August. Would you be able to follow up with Huanyi please and see if there is anything we can help him with or if he would prefer to go through the additional questions in another format? Thanks.

[2022-08-23 17:45] Ad-Mk commented on #104
I’ve already sent a message. Waiting to hear back. Till then if there’s
another PofWP feature. Do let me know.

On Tue, Aug 23, 2022 at 23:13 Abhanonstopnewsuk ***@***.***>
wrote:

[2022-08-23 18:43] nalininsbs commented on #90
Collaboration session after last week's team meeting. Attended: @eidolonnight , @jpantani , @nalininsbs , @DanSoschin , @webcommsat.

Many useful ideas. Document in Nicholas' message above was updated. Discussion on the items which could be done in the time. @eidolonnight is there anything else needed? WCUS have also posted a [query](https://wordpress.slack.com/archives/C0GKJ7TFA/p1661278775759549

[2022-08-23 20:09] nalininsbs commented on #97
@dugyen thank you for your draft.

Can you please help us review your draft by checking some items before you submit it to GitHub. This will be of great assistance. Thank you Ugyen.
- check in preview once you have finished adding the notes to the blog to see if there are any Slack user IDs to be replaced with WordPress.org. I have changed the ones in this draft. It is a good way to check before s

[2022-08-23 20:10] nalininsbs commented on #97
Edit done. To be able to include this in the agenda for tomorrow, I have published the notes. https://make.wordpress.org/marketing/2022/08/23/notes-global-marketing-team-meeting-august-17-2022/

[2022-08-23 20:12] nalininsbs commented on #105
Notes from last week published https://make.wordpress.org/marketing/2022/08/23/notes-global-marketing-team-meeting-august-17-2022/

@dugyen there are some notes on last week's card to help you with the notes. Can you please have a look. Thank you for volunteering again this week. I will add you to the card.

[2022-08-24 02:05] murillol commented on #104
Thanks for clarifying @abhansnuk! Yes that's exactly right, I will be on holiday and then travelling for work in September and October, and am back on a normal schedule starting on 17 October. During this time I will be involved in the weekly marketing meeting as much as I can, but will have a very unpredictable schedule - which is why I think I will not be able to make PoW deadlines.

[2022-08-24 02:07] murillol commented on #105
Script for meeting: https://docs.google.com/document/d/1jJEW1ZVv8_lmINbUbeEEEJFxGulnJ_x_hzozIiGMlg8/edit?usp=sharing

[2022-08-24 05:59] chaion07 commented on #23
Happy to facilitate the coffee break for 8 September 2022

[2022-08-24 06:31] nalininsbs commented on #23
I have updated the handbook page with the various updates that have been posted and removed the link descriptors using 'here' for accessibility. To assist potential volunteers, we can include a link to the page in recruitment. It is a working guide, and if anyone has an additional suggestion to be included which would assist volunteers facilitating, add to this GitHub card. Thank you.

[2022-08-24 06:34] nalininsbs commented on #23
Thank you @chaion07 for volunteering. Will you be using Zoom or Google Meet? We can include it in the meeting on the previous day.

 I recall someone else coming forward for one of the future coffee breaks at the last or previous meeting to be added to the card.

[2022-08-24 07:09] chaion07 commented on #23
Hi, @nalininsbs! Thank you for the confirmation. I will be using Zoom (with a 40 minute limit per call).

[2022-08-24 07:32] nalininsbs commented on #28
Link to YouTube for meeting August 24, 2022

[2022-08-24 08:05] nalininsbs commented on #105
Thank you @murillol . I have updated the script. Moved FSE to the releases and FSE section. @eidolonnight if Josepha's post on FSE is still open, can you cover?

Separated the notes and coffee break section more to try to encourage more volunteers. Added in names for coffee breaks for next two weeks. @eidolonnight could you add some more dates to the card? Thank you.

Agenda published https://make

[2022-08-24 08:08] nalininsbs opened #107 "2022/9/7 Global Marketing Team Meeting and week planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
any asynchronous update on tasks
- script to assist the running of the meeting
- queries abou

[2022-08-24 10:00] rmartinezduque commented on #80
**Update** - Another round of social posts about the photo challenge is out:

- [Twitter](https://twitter.com/WordPress/status/1562104923227136000)
- [Facebook](https://www.facebook.com/WordPress/posts/pfbid027t4C2h7a3CAyFHhDFnNWC3QCTt9aYfz4TEdD3ZqYGPK9tNq1PpNtY1Lkdfxey88jl)
- [LinkedIn](https://www.linkedin.com/posts/wordpress_worldphotographyday-wordpress-wpphotos-activity-6967885951922561024-QG

[2022-08-24 12:28] meherbala commented on #28
@nalininsbs here is the link to the YouTube Video: https://youtu.be/pdLySC2NvMU

[2022-08-24 21:40] sereedmedia commented on #106
Hi y'all. Bringing some tidings from the Meta team with regard to the navigation on wordpress.org.

[This post](https://make.wordpress.org/meta/2022/08/18/navigation/) happened recently and while there are proposals and suggestions on that post, during the convo in Meta about it, I suggested that while the implementation of a revised navigation menu is Meta territory, the discussion around and str

[2022-08-24 21:54] abhansnuk commented on #106
I was in the meta team meeting for another issue, and promised to link up the query on the above to GitHub and the team reps @eidolonnight @nalininsbs and @murillol. Over to you. Thanks @sereedmedia

[2022-08-24 21:55] eidolonnight commented on #87
This is interesting. Thanks @sereedmedia . I was indeed considering the community as part of the WordPress project.

I do not think we should use pint 1 as a litmus test, but we have in the past. The problem is that this quickly becomes too broad. In the last few months we've seen requests to promote individual plugins, corporate events, publications, etc. Would helping a theme author, a member of

[2022-08-24 22:14] sereedmedia commented on #90
I think this: [(https://make.wordpress.org/meta/2022/08/18/navigation/](https://make.wordpress.org/meta/2022/08/18/navigation/)

would be a great discussion to have in person on contributor day.

perhaps with the goal of creating a proposal to put on Make.

I am not sure if i'm able to go to Contributor Day yet, but this is the type of thing a discussion could really streamline.

[2022-08-24 23:16] abhansnuk commented on #90
Linking up the above request with [more detail on the request from Meta](https://github.com/WordPress/Marketing-Team/issues/106#issuecomment-1226421899) on next week's meeting card.

[2022-08-26 07:30] amitpatel0702 commented on #80
Hi @rmartinezduque,

I must say all these social posts deserve even more reach. Amazing photos i must say :)

[2022-08-26 09:12] nalininsbs commented on #80
These have been very good social posts. Well done @rmartinezduque and everyone involved. We will continue to promote! Is there a stop point for this deadline? They are wonderful photos @amitpatel0702. Welcome to the Marketing Team GitHub too.

[2022-08-26 10:21] rmartinezduque commented on #80
Thanks, @amitpatel0702, @nalininsbs. These are indeed wonderful photos! People can join the photo challenge up to and including Sunday, August 28, 2022. So until then, it's okay to keep promoting it! Tomorrow there will be another social post as a friendly reminder. Let me know if you have any other questions. Thank you for all your help!

[2022-08-26 14:13] santanainniss commented on #103
Thank you so much for sharing that context @murillol! It's so helpful. I'm happy to help remove the redundancy in the handbook. But I'll wait for @nalininsbs to confirm, as you requested above, before taking action!

[2022-08-29 11:04] santanainniss commented on #87
@sereedmedia I head this expressed a lot at the Marketing table I led at contributor day at WCEU. And also that many didn't know that there even was a community of people supporting the software. So I love the idea of naming the community specifically!

@thetinyl Thanks for sharing drafts on this. I especially resonated with the handbook copy

"The WordPress marketing Team markets WordPress and it

[2022-08-29 11:39] nalininsbs commented on #101
The latest version has again been shared with Chloe. Note I have replaced the link above as there were changes again this week from outside the team/ People of WordPress and items deleted. @abhansnuk @meherbala @vimes1984 can you please go through the permissions and change everyone to comment apart from the people currently editing.  Thank you

[2022-08-29 11:40] abhansnuk commented on #101
I can have a look. I noticed there were four people typing into the document this morning too. I am readding the fact check from the file too.

[2022-08-29 18:54] rmartinezduque commented on #102
Hi @abhansnuk, @costdev, just checking in to see if you can provide more information on the above request. Thanks!

[2022-08-29 19:15] thetinyl commented on #87
Personally, I'm torn between @eidolonnight's suggestion and @sereedmedia's variation that solves for the "community" often being missed despite being implied.

I'd be happy to throw my vote behind either.

For @eidolonnight's version, I do think my preference would be for Sé's word choice: "creates" over "develops", and "development" over "maintenance". I'd also consider the following change in bo

[2022-08-30 10:04] costdev commented on #102
Hi @rmartinezduque, we were preparing a new Make post that I won't be ready in time for the August 2022 Edition.

I'll follow up on the the next issue once the Make post is published 🙂

[2022-08-30 15:48] rmartinezduque commented on #102
No problem, thanks for the update @costdev. I appreciate it. 🙂

[2022-08-30 17:29] jpantani commented on #87
If we add platform and community, which are specific to WordPress, we might want to edit the last part for brevity adjusting it to **existing and future audiences** rather than "current and future users, extenders, and contributors."

But in reading the newer comments especially from @sereedmedia if there is a perception problem of the project being platform(software) and community(people) that me

[2022-08-31 03:16] abhansnuk opened #108 "WordCamp Asia 2023 Marketing Table Contributor Day"
WordCamp Asia 2023 has announced a Contributor Day, This will take place on February 17, There will be more information in the coming weeks. Thank you to the WordCamp Asia team for the update.

[2022-08-31 03:38] abhansnuk commented on #106
Issues on the P2 - please keep the screenshots you sent @nalininsbs . These can be added to the other identified items and a meta ticket raised.

I have resolved the two issues in the agenda post with the strange embed. All done and now agenda should work ok. https://make.wordpress.org/marketing/2022/08/30/agenda-marketing-meeting-august-31-2022/

[2022-08-31 03:40] abhansnuk commented on #105
Notes published [link](https://make.wordpress.org/marketing/2022/08/31/notes-global-marketing-team-meeting-august-24-2022/)

[2022-08-31 03:48] abhansnuk commented on #101
Editing reviews in progress. Chloe reviewed. Additional photos being sourced.
Further research / fact updating has been completed. Items with Bud to check, and then update the piece.
To be uploaded and tested on the CMS on 2022/8/31.

[2022-08-31 11:03] rmartinezduque commented on #80
**Update**: a few social posts were shared to announce that the challenge is now closed. However, everyone is encouraged to keep contributing to the Photo Directory. 🙂

- [Twitter](https://twitter.com/WordPress/status/1564591280881025025)
- [Facebook](https://www.facebook.com/WordPress/photos/a.10158758550782911/10160064766982911/)
- [LinkedIn](https://www.linkedin.com/feed/update/urn:li:activity:

[2022-08-31 11:56] rmartinezduque commented on #106
Hello! Could we add the following item as part of the Contributor Events updates in today's meeting? Thanks!

- Openverse will be remotely participating in the WordCamp US Contributor Day. This provides an opportunity for people unable to attend WCUS in person to engage with the event and get involved with Openverse. The team shared more details in [this post](https://make.wordpress.org/openverse/

[2022-08-31 15:37] rmartinezduque commented on #102
Hi @chaion07! Thanks for asking. 🙂 This week has been busy and I'm still working on the draft, but I will share the link soon for review!

[2022-09-01 12:26] rmartinezduque commented on #102
👋 The draft for the [August 2022 edition of The Month in WordPress is now ready for review](https://docs.google.com/document/d/1P31-grSwlMQRlP_h5z4WLB0GUXmWacnfX-9Xkw_57tg/edit#heading=h.8m8irz39b0fm).

Please note that I'm still waiting for some 6.1 and LearnWP updates that haven't been posted yet. I'm hoping to publish it tomorrow, September 2, at 15:00 UTC, if the missing information is availab

[2022-09-02 02:58] chaion07 commented on #102
I went through the draft and suggested some changes including comments. Thanks @rmartinezduque 💗

[2022-09-02 11:17] rmartinezduque commented on #102
Thank you!

Just a quick update here: **I'll hold off the post until Monday** to go through the suggestions done today and include the latest information about the 6.1 walk-through.

[2022-09-02 15:12] thetinyl commented on #106
Hey all! I've got the meeting notes from Aug 31 in draft and ready for review: https://make.wordpress.org/marketing/?p=9846&preview=true

[2022-09-04 07:42] abhansnuk commented on #102
Hello @rmartinezduque I have added some suggestions. Thanks.

[2022-09-05 07:34] rmartinezduque commented on #102
Thanks, Abha!

[2022-09-05 18:49] rmartinezduque opened #109 "The Month in WordPress: September 2022 Edition"
The expected publication date for the September 2022 edition of The Month in WordPress is ~~October 10, 2022~~ **October 14, 2022**.

### How can you help?

If you have any news or Make team updates that would be valuable and relevant to the post, please feel free to **add them as a comment to this GitHub card**, or share them on the Make Marketing Slack channel and tag `Reyes Martínez` for awaren

[2022-09-05 18:53] rmartinezduque commented on #102
**The Month in WordPress – August 2022 is now published**: https://wordpress.org/news/2022/09/the-month-in-wordpress-august-2022/. Thank you to all the people who contributed to this edition. ❤️

_If you'd like to contribute to the next edition of the Month in WordPress, feel free to subscribe to this GitHub card: https://github.com/WordPress/Marketing-Team/issues/109._

[2022-09-05 18:53] #102 closed

[2022-09-07 12:55] eidolonnight commented on #107
Script document: https://docs.google.com/document/d/1sGthJ8AS-Qh4ycJXOFKPUGeedDtVoBowIh405MKcgcE/edit

[2022-09-07 13:01] thetinyl commented on #106
@nalininsbs @eidolonnight @murillol Just following up on the notes draft linked above. Let me know if it needs edits or is ready for publication. 👍

[2022-09-07 13:54] nalininsbs commented on #59
@dugyen has shared on Slack that this is in progress. It is hoped it will be ready before WordCamp Asia 2023. Thank you.

[2022-09-07 14:03] murillol opened #110 "2022/9/14 Global Marketing Team Meeting and week planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
any asynchronous update on tasks
- script to assist the running of the meeting
- queries abou

[2022-09-07 14:12] murillol commented on #101
Link to published piece: https://wordpress.org/news/2022/08/people-of-wordpress-bud-kraus/

[2022-09-07 14:13] murillol commented on #106
hi @thetinyl! I believe @nalininsbs is looking over them right now

[2022-09-07 14:47] santanainniss commented on #103
Hi @murillol just checking one more time on this. Would it be ok to move forward w/o feedback from @nalininsbs or best to wait for confirmation? I want to make sure I'm contributing here!

[2022-09-07 14:51] nalininsbs commented on #110
Social question: Which sport do you most like to watch? How would you recommend it to others?

[2022-09-07 14:51] nalininsbs commented on #87
@eidolonnight has shared today that it is the last week to add any feedback to this discussion. It will then go to Josepha for consideration. Please add your comments.

[2022-09-07 15:15] yashwardhanrana commented on #110
I can do the notes for this one. Thanks!

[2022-09-07 15:56] murillol commented on #103
just mentioned this on Open Floor @santanainniss !

[2022-09-07 16:20] nalininsbs commented on #107
Agenda published earlier. https://make.wordpress.org/marketing/2022/09/07/agenda-global-marketing-team-meeting-september-7-2022/

[2022-09-09 07:44] rmartinezduque commented on #109
**Update**: I'm going to be away for the next weeks and I might run a little behind when I'm back, so I'm going to push the publication deadline for the September edition to October 10, 2022. However, if possible, it will be published on the date initially indicated.

[2022-09-09 12:43] meherbala commented on #104
Hi @Ad-Mk as we are already in Sep any update on the POWP article would be appreciated.

[2022-09-09 12:52] Ad-Mk commented on #104
Hi @meherbala, I've put up the article on the doc link. I'll be doing final edits and check. Will update asap!

[2022-09-09 13:04] meherbala commented on #104
Thanks, @Ad-Mk.

[2022-09-12 15:28] nalininsbs commented on #104
@Ad-Mk I am looking to go through the photos you had obtained and were going to add the link to this GitHub card and tag in @meherbala . Would you be able to give me the link to that message please? Thank you for following up the images.

[2022-09-12 18:15] thetinyl commented on #87
@eidolonnight That's an interesting perspective. Primarily, it felt like a sentence full of lists, and that made it a bit cumbersome to read. Out of all the places to be a little less specific, that felt like it would impact the message the least.

I do think it's okay to be a little all-encompassing, given the rest of the message feels focused and clear. However, if "initiatives" does feel too va

[2022-09-12 23:28] meherbala commented on #104
@nalininsbs I have already given @Ad-Mk the Google drive folder link to upload the photos. He has already uploaded 3 images.

Here is the link to the folder: https://drive.google.com/drive/u/1/folders/1dVC7MbFH-00jGCE__aDsGt9r,_r12UoS3

Currently Adeeb has uploaded are 3 images. I will work on them and upload the edited ones directly to the CMS by Wednesday OR Thursday.

Once he has the content fi

[2022-09-13 08:10] abhansnuk opened #111 "2022/9/21 Global Marketing Team meeting and week planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
any asynchronous update on tasks
- script to assist the running of the meeting
- queries abou

[2022-09-13 08:12] abhansnuk commented on #111
@santanainniss has volunteered to do the notes for the meeting.

[2022-09-13 08:17] abhansnuk opened #112 "2022/9/28 Global Marketing Team meeting and week planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
any asynchronous update on tasks
- script to assist the running of the meeting
- queries abou

[2022-09-13 08:36] abhansnuk commented on #107
Created the next two meeting GitHub tickets to add to the notes.

[2022-09-13 08:49] abhansnuk commented on #106
Update from August 31, 2022 Marketing team meeeting from @eidolonnight: a new iteration of the [WordPress.org](http://wordpress.org/)[ main navigation will be launching soon](https://github.com/WordPress/wporg-mu-plugins/pull/257). This is the result of the [nav conversation in Meta](https://make.wordpress.org/meta/2022/08/18/navigation/).

Update shared at September 2022 Marketing team meeting fr

[2022-09-13 08:51] abhansnuk commented on #106
Published notes from the August 31, 2022 meeting.
Props to @thetinyl and @nalininsbs for notes summary and review, to @eidolonnight, @nalininsbs and @murillol for meeting preparation and facilitation.

[2022-09-13 08:51] #106 closed

[2022-09-13 10:01] abhansnuk commented on #107
@murillol and @nalininsbs I have added the additional items Nalini highlighted in this week's notes and will re-check against the items in the handbook you are working through. Any other items to update? Thanks https://make.wordpress.org/marketing/?p=9882&preview=1&_ppp=0577807002
I thought it would be good to include a link to the start of the Slack thread from WCUS contributor day at the end.

[2022-09-13 13:19] murillol commented on #107
thanks @abhansnuk ! I've gone through and added a Category, added my name to the Open Floor items and that's about it. In item 4.4 "WordPress.org menu" I think the second sentence in this item reads oddly:

There was a request from Meta on this last week. [@EidolonNight](https://profiles.wordpress.org/eidolonnight/) do you happen know what is the latest position on updates to the menu please? It i

[2022-09-13 13:26] murillol commented on #110
Script: https://docs.google.com/document/d/1-LXQov88uz9OZxCeHt3PJ6NIWImalBlegXaqMpcC4Go/edit?usp=sharing

[2022-09-13 19:05] nalininsbs commented on #107
Yes, I think that it is a duplicated sentence and can come out.

[2022-09-14 10:32] nalininsbs commented on #110
Agenda https://make.wordpress.org/marketing/2022/09/14/agenda-wordpress-global-marketing-team-meeting-september-14-2022/

This includes some changes from the draft following conversations at and around WordCamp US and ongoing accessibility discussions:
- to display and spacing
- links to GitHub setting up an account and mentioning it is free to have an account
- adding in some additional numbering

[2022-09-14 10:48] nalininsbs commented on #110
To overcome one of the issues faced by notetakers, we need date of the meeting in the introduction and with the agenda link. This will help notetakers know they are in the right meeting. eg These are the Marketing Team from September 7, 2022 meeting. It should also help with accessibility.

[2022-09-14 12:00] santanainniss commented on #103
Moving some comments from @nalininsbs in [Slack](https://wordpress.slack.com/archives/C0GKJ7TFA/p1662565856018919) here to this GutHub issue for continuity!

"I have been going through this together with items notetakers seem to be having difficulties with ahead from reviewing the notes. I will make contact @Santana.Inniss
 for further help with thi. Are you now travelling to WordCamp US this week

[2022-09-14 12:34] santanainniss commented on #103
If I am tracking correctly, some of the requested improvements to the handbook page are:

- Adding screenshots for how to get thread links in Slack and how to find and link WP IDs
- Checking that there are no redundant requests for links in the meeting notes template

[2022-09-14 12:42] santanainniss opened #113 "Ideas wanted! Halloween Episode of WP Briefing Podcast"
[Halloween](https://en.wikipedia.org/wiki/Halloween) is a holiday celebrated by many around the world on October 31st. It's near to other cultural holidays and for those that celebrate, it can be a time to dress up in costume, eat special treats, watch special movies, or observe important cultural traditions.

If you enjoy Halloween, we're seeking contributor brainstorming help with ideas for the

[2022-09-14 12:44] santanainniss commented on #110
Is it possible still to add something to the agenda? I'd just like to highlight this Issue, which is a call for brainstorming contribution about the Halloween episode for the WP Briefing podcast. It will be a great first issue to get our new WCUS contributors engaged! https://github.com/WordPress/Marketing-Team/issues/113

[2022-09-14 14:17] murillol commented on #110
I planned to include the latest WP Briefing episode in section 4, so I can definitely include the call for brainstorming in that item :-)

[2022-09-14 20:31] meherbala commented on #104
I have edited the 4 images and uploaded to the News Dashboard.

Thank you to @Ad-Mk for co-ordinating with Huanyi (Eric) Chuang for the pictures.

CC: @nalininsbs

[2022-09-15 19:57] slspeller commented on #112
Noting that I'll be taking the notes for 9/28 meeting.

[2022-09-19 14:51] murillol commented on #110
The draft of the notes by @yashwardhanrana are here: https://make.wordpress.org/marketing/?p=9950&preview=true

I'm having a hard time with a few WordPress ID's, for instance Courtney's and Hauwa's. Can you check it if you have time please @nalininsbs? Other than that I think they're good to go.

[2022-09-20 14:55] nalininsbs commented on #110
I added what the abbreviations stood for, and the Learn WordPress item which was in Open Floor, clarified the reference to the handbook.

@abhansnuk if you are around can you add the link to the walkthrough transcript and two other threads added in the notes.  I have checked the other items @murillol .

[2022-09-20 15:14] abhansnuk commented on #110
All done. Updated the categories and shortened the excerpt. Moved the contributor story update to the Contributor events section and shared the WCAsia card.

[2022-09-20 15:17] abhansnuk commented on #110
Published link https://make.wordpress.org/marketing/2022/09/20/notes-global-marketing-meeting-september-14-2022/

I will create the other GitHub cards for you after my next recording. If there is anything else you want help with on GitHub, just add it to the list. Thanks @murillol, @nalininsbs, and thanks @yashwardhanrana . I can add that item about Next meeting to the card to update the notes for

[2022-09-20 15:18] abhansnuk commented on #110
Nalini I can see the milestone issue you documented and replicate it. I will share with Meher and Chris, and we will find a solution. Thanks for reporting it.

[2022-09-20 15:18] #110 closed

[2022-09-20 15:22] nalininsbs commented on #104
@abhansnuk has interviewed Huanyi and is to work on the feature once the other marked updates are complete. Abha can you please liaise with @meherbala today to confirm if any more pictures might be needed. Thank you and to @meherbala for working on editing the pictures so far with Abha, and to Adeeb for following up the photos.

[2022-09-20 15:43] dugyen commented on #108
[Call for the Contributors Stories is Open](https://asia.wordcamp.org/2023/call-for-contributors-stories/) :
**It’s the first Asian flagship WordCamp dedicated to Contributors and WordPress Communities who contribute to WordPress. We plan to feature some stories from seasoned contributors who enjoyed their experience at contributing events.**

[2022-09-20 18:35] nalininsbs commented on #107
Published https://make.wordpress.org/marketing/2022/09/13/notes-wordpress-global-marketing-team-meeting-september-07-2022/

Props to @webcommsat](https://profiles.wordpress.org/webcommsat/) for the notes; [@lmurillom](https://profiles.wordpress.org/lmurillom/), [@nalininonstopnewsuk](https://profiles.wordpress.org/nalininonstopnewsuk/) and [@eidolonnight](https://profiles.wordpress.org/eidolonnigh

[2022-09-20 18:35] #107 closed

[2022-09-20 18:37] abhansnuk commented on #59
Promoted at meetings 7 & 14 September 2022 for anyone who is able to support Ugyen on this.

[2022-09-20 18:59] nalininsbs commented on #111
Agenda published. https://make.wordpress.org/marketing/2022/09/20/agenda-global-wordpress-marketing-team-meeting-september-21-2022/
Thank you @abhansnuk for fixing the blocks issue.
@murillol link for the script. Thank you.

[2022-09-20 19:06] nalininsbs commented on #112
Thank you @slspeller for volunteering.

The [draft agenda](https://make.wordpress.org/marketing/?p=9988&preview=1&_ppp=31e93d98cc) for this meeting is on the site, ready for links and any additional items from this card to be added next week.

[2022-09-20 19:10] nalininsbs commented on #111
Diary dates post updated.

[2022-09-20 19:27] nalininsbs commented on #111
Cards for this week:
- WordPress meetup organizers survey - closing date check? https://github.com/WordPress/Marketing-Team/issues/96
- reminder of deadline for submissions and suggestions for Month in WordPress September 2022 edition by September 30, 2022 https://github.com/WordPress/Marketing-Team/issues/109
- Halloween themed WP Briefing podcast ideas deadline September 26, 2022 https://github.

[2022-09-20 19:30] abhansnuk commented on #111
There may be a post on WPTD by tomorrow morning. Celebration scheduled for 28 September 2022.

Can you also highlight the Call for Contributors Stories for WordCamp Asia too.
https://asia.wordcamp.org/2023/call-for-contributors-stories/

[2022-09-21 12:12] meherbala commented on #104
@nalininsbs I have received 4 images and that is all Huanyi can provide.

I think it should work.

All the images have been edited and uploaded to the CMS. Waiting for the content to be finalized and once on the CMS, I can add the images wherever needed.

[2022-09-21 13:38] eidolonnight opened #114 "Create plan for short-form video content on Tiktok"
Early in 2022 we were able to claim our [Tiktok account (WordPress](https://github.com/WordPress/Marketing-Team/issues/7)), but have not yet published anything to the platform. Production of short-form video presents a number of unique challenges for our team.

Some questions for us to consider:
- What content and campaigns would be best suited to Tiktok?
- How can we sustainably produce quality c

[2022-09-21 13:56] eidolonnight commented on #7
A fresh batch of campaign ideas has come in during WCUS: https://docs.google.com/spreadsheets/d/1zwr3aaNmLreFpYJssohPWt1JwtAyvLNxl6sYdVdtmt8/edit#gid=0

[2022-09-21 15:15] courtneyr-dev commented on #7
@DanSoschin we chatted about https://learn.wordpress.org/individual-learner-survey.

[2022-09-23 08:28] slspeller commented on #112
Awesome, thanks @nalininsbs!

[2022-09-26 09:10] naokomc opened #115 "Polyglots Team September 2022 newsletter - marketing input"
Here's the draft of the September Polyglots newsletter that @varlese and I put together.
P2 version: https://docs.google.com/document/d/1rvt5_dE8FwtDr-rCwqK43Hm2zxI8igXZEO7oKZfa454/edit#
Email version: https://docs.google.com/document/d/1R0Xy00NgTEOAws2itxJQbUMh9E3_SQ-GJ6pqHVdHM-c/edit
It would be great if Marketing Team could take a look. Thanks!

@abhansnuk @murillol (since you've shared feedbac

[2022-09-26 11:26] #113 closed

[2022-09-27 08:49] rmartinezduque commented on #112
Hello! Amit Patel reached out to me to let me know that he would like to share some ideas/suggestions for social media posts, especially around some hashtags that may be relevant to WordPress topics and their various audiences. I recommended that he share any ideas for discussion at the Make Marketing meeting. Could you please tag Amit in an opening thread during tomorrow's open floor so he can gi

[2022-09-27 17:41] abhansnuk opened #116 "2022/10/05 Global Marketing Team meeting and week planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting
- queries ab

[2022-09-27 18:17] abhansnuk opened #117 "2022/10/09 Global Marketing Team meeting and weekly planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting
- queries ab

[2022-09-27 18:49] abhansnuk commented on #117
Assisting setting up cards as per request in marketing. Nalini will need to be added once her GitHub issue resolves.

[2022-09-27 19:11] abhansnuk commented on #111
GitHub items done, and requests via marketing.

Adding published link for Nalini as her GitHub account is not working. https://make.wordpress.org/marketing/2022/09/27/notes-wordpress-global-marketing-team-meeting-september-21-2022/

[2022-09-27 19:11] #111 closed

[2022-09-27 19:54] marybaum commented on #104
Apparently copy editing is in progress.

[2022-09-28 08:00] abhansnuk commented on #116
@nalininsbs asked Adeeb Malik if he would like to do a future notes. Confirmed he will take this week. I will run a session for new contributors Adeeb and Shanta to get them set up and start contributing to the notes. Date and time to be set.

[2022-09-28 08:01] Ad-Mk commented on #116
I'd like to take the notes for this meet.

[2022-09-28 14:57] alameer5 opened #118 "التعليق على الموقع"
بصراحه،انه رائع ومميز جدا،ويقدم خدمات كثيره جدا،ومساعدات للمستخدمين

[2022-09-28 15:08] nalininsbs commented on #116
Thank you Nicholas. My error I gave the wrong dates.

[2022-09-29 20:00] abhansnuk commented on #115
Updated the milestone for this card with the new publication date posted by Erica in the marketing slack channel.

[2022-09-30 12:10] varlese commented on #115
[And the September newsletter is now live.](https://make.wordpress.org/polyglots/2022/09/30/polyglots-monthly-newsletter-september-2022/) Thank you @abhansnuk for your help!

[2022-09-30 12:10] #115 closed

[2022-10-05 00:41] slspeller commented on #112
👋🏾 @eidolonnight @nalininsbs wanted to bump this up so that last week's notes get published before the next meeting. Can someone review the draft's content: https://make.wordpress.org/marketing/?p=10024&preview=true

Ref Slack Thread: https://wordpress.slack.com/archives/C0GKJ7TFA/p1664782499957919

[2022-10-05 06:50] nalininsbs commented on #112
Hello @slspeller. Thank you for your message. The notes content have already been edited against the meeting and published yesterday https://make.wordpress.org/marketing/2022/10/04/notes-wordpress-global-marketing-team-meeting-september-28-2022/

The link is published on your WordPress.org profile. https://profiles.wordpress.org/slspeller911/
Do you know you can add information about yourself and

[2022-10-05 07:27] nalininsbs commented on #117
Robin volunteered to do the notes. If Robin needs assistance, @abhansnuk can you include him in your offer of a session for new notetakers? Thank you.

[2022-10-05 07:36] nalininsbs commented on #108
If anyone is interested in helping with the Marketing table at this event, please add yourself to the ticket. The table leads and Slack team support from WordCamp Europe and WordCamp US can help anyone wanting to help. We have some templates and documents from these events which can assist too.

[2022-10-05 08:31] nalininsbs commented on #116
[Script](https://docs.google.com/document/d/12bal74yPLXMrV9CB6MZuPbsyXqmfULaxqi79aQsmwdk/edit) in progress.

[2022-10-05 08:36] abhansnuk opened #119 "2022/10/19 Global Marketing Team meeting and weekly planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting and to suppo

[2022-10-05 08:38] abhansnuk commented on #119
Setting up cards as requested.
Kawser to do draft notes from this meeting - can you please add a comment to this card so you can be added to the assignees list please?

[2022-10-05 08:39] abhansnuk opened #120 "2022/10/26 Global Marketing Team meeting and weekly planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting and to suppo

[2022-10-05 08:41] abhansnuk opened #121 "2022/11/02 Global Marketing Team meeting and planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting and to suppo

[2022-10-05 08:46] #112 closed

[2022-10-05 08:53] abhansnuk opened #122 "2022/11/09 Global Marketing Team meeting and weekly planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting and to suppo

[2022-10-05 08:58] abhansnuk opened #123 "2022/11/16 Global Marketing Team meeting and weekly planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting and to suppo

[2022-10-05 09:01] abhansnuk opened #124 "2022/11/23 Global Marketing Team meeting and week planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting and to suppo

[2022-10-05 09:02] abhansnuk opened #125 "2022/11/30 Global Marketing Team meeting and weekly planning"
All things related to this meeting and any collaborations during the week, including:

- planning
- suggestions for items and agenda drafting, including suggesting items for Open Floor
- check the [diary dates post](https://make.wordpress.org/marketing/2021/01/13/forthcoming-diary-dates/) has been updated
- any asynchronous update on tasks
- script to assist the running of the meeting and to suppo

[2022-10-05 09:21] abhansnuk commented on #121
Robin confirmed for notes on 2 November 2022.

[2022-10-05 10:14] abhansnuk commented on #124
Adding that Ugyen has confirmed he will be doing the notes for this week.

[2022-10-05 10:26] robinwpdeveloper commented on #121
Please assign this card to me.
I have confirmed taking notes on Nov 2, 2022.

Thanks for giving me the chance.

[2022-10-05 10:31] robinwpdeveloper commented on #117
Please add me as assignee to this card.
I have confirmed that I will be taking notes on Oct 12, 2022

Thanks for the chance 😊

[2022-10-05 10:57] kawserz commented on #119
hi!! my github user name id is 'kawserz'. please add me here.

[2022-10-05 18:09] abhansnuk commented on #125
@slspellar911 has confirmed doing the draft notes for the meeting on the 30 Nov 2022.

[2022-10-05 18:11] abhansnuk commented on #123
@majadidit has confirmed she will be do the draft meeting notes for 16/11/2022. She has WP.org P2 access already.

[2022-10-06 02:51] kawserz commented on #119
Thank you @abhansnuk

[2022-10-06 02:56] kawserz commented on #108
Please assign me here. Hopefully, I will be there at WordCamp Asia.

[2022-10-06 10:36] dugyen commented on #124
@abhansnuk Could you please assign me as a notetaker?

[2022-10-07 10:23] rmartinezduque commented on #109
This week I've had very limited availability and found it challenging to make progress on The Month of WordPress draft. I'm hoping to have a draft finished by the 10th of October, but to allow for a few days of review/feedback, I'm afraid I need to push the publication date to October 13 or 14. Sorry for any inconvenience. 😔

[2022-10-07 21:24] alameer5 opened #126 "حمدان’s Newsletter"
https://alamyrmhmdahmd17.substack.com/?r=1rfs7i&utm_campaign=pub&utm_medium=web&utm_source=direct

[2022-10-08 21:15] alameer5 opened #127 "Hi"
https://github.com/jhcloos/xpdf/issues/19

[2022-10-11 20:41] abhansnuk commented on #117
For awareness on Wednesday:
https://make.wordpress.org/marketing/2022/10/11/xpost-renaming-wordpress-org-support-to-documentation/

[2022-10-11 20:42] abhansnuk commented on #117
Month in WordPress card for this month: https://github.com/WordPress/Marketing-Team/issues/109

[2022-10-11 20:59] abhansnuk commented on #117
Adding [script link](https://docs.google.com/document/d/1HlDIGUktQCPwQAqttVqs_QvMIx_zCsYmB9otNdznnw4/edit?usp=sharing) from Nalini and Larissa as part of supporting new contributors to notes.

[2022-10-12 04:31] robinwpdeveloper commented on #117
Hi @abhansnuk can you please give access to robin@wpdeveloper.com to this [script](https://docs.google.com/document/d/1HlDIGUktQCPwQAqttVqs_QvMIx_zCsYmB9otNdznnw4/edit?usp=sharing)

[2022-10-12 11:32] rmartinezduque commented on #109
The draft for the September 2022 edition of The Month in WordPress is ready for review. I'm hoping to publish it on Friday, October 14. If you have any suggestions, please share them before the **end of the day tomorrow (October 13)**.

Link: https://docs.google.com/document/d/1KSfOCDfjoY-_6VWv6xJL3XXYFHLrnA8EWsdxOaD52yA/edit.

Also, remember to include your WordPress.org profile link or username

[2022-10-12 11:38] rmartinezduque commented on #117
Hi! For today's meeting: The draft for the September 2022 edition of The Month in WordPress is ready for review. More information can be found on [this GitHub card (number 109)](https://github.com/WordPress/Marketing-Team/issues/109#issuecomment-1276012992).

[2022-10-12 12:17] eidolonnight commented on #108
@abhansnuk do we have the times of the event? Specifically Contributor Day? I won't be attending in-person, but would maybe be able to help out in Slack.

[2022-10-12 17:25] thetinyl commented on #109
Took a look at this @rmartinezduque and it looks great from a copy standpoint (in my opinion). Just had one minor copy edit suggestion.

[2022-10-12 19:22] thetinyl opened #128 "6.1 Release Social Content Idea: "Behind the Scenes" for Twenty Twenty-Three"
Social media content around Twenty Twenty-Three, the new default theme that's being released with 6.1, has been received really well on the official WordPress accounts.

Based on how this default theme came together with such strong community involvement, and how it uses style variations to further illustrate the evolution of theming, I think there's a great opportunity to share some "behind the s

[2022-10-12 19:24] thetinyl commented on #128
Currently working on a questionnaire to help capture information directly from style authors about their inspiration/process. (Thanks to critterverse from the Design Team for [this idea](https://wordpress.slack.com/archives/C03T2GLB97W/p1665000304133789)!)

[2022-10-12 21:47] abhansnuk commented on #117
Hello @rmartinezduque I have made some edits and added info about items due out today in suggestion mode. I wonder if we can break up the long section on Team updates too or put in themes? Thanks for all your work on this edition. So much happening!

[2022-10-12 21:49] abhansnuk commented on #109
Hello @rmartinezduque I have made some edits and added info about items due out today in suggestion mode. I wonder if we can break up the long section on Team updates too or put in sub sections? Thanks for all your work on this edition. So much happening in WP!

Is it possible to link to the podcast Josepha was in hosted by GoDaddy to promote the things she was talking about? As it was out of the

[2022-10-13 02:40] robinwpdeveloper commented on #116
I think this note is not published yet. I would like to help if needed.